.c-bread_crumps{
    text-align: left;
    position: relative;
    z-index: 150;
    padding-top: 0;

    .aioseo-breadcrumbs{
        text-align: left;
        width: 90%;
        margin: 0 auto;
        max-width: 1100px;
        color: #fff;
        font-family: yu-gothic-pr6n, sans-serif;;
        position: relative;
        z-index: 1;

        span{
            @include font-line(11);

            @include is-sp{
                @include font-line(13);
            }
        }

        a{
            color: #fff;
        }

        .aioseo-breadcrumb-separator{
            padding: 0 8px;
        }

    }
}