.c-card01 {
	display: block;
	background-color: white;
	position: relative;
	margin: 20px auto;
	padding: 2%;

	&--md {
		width: calc(90% / 3);

		@include is-sp {
			width: 100%;
			padding: 20px;
		}
	}

	&__top,
	&__center,
	&__bottom {
		text-align: center;
	}

	&__center,
	&__bottom {
		height: 200px;
	}

	&__bottom {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;

		@include is-sp {
			width: 100%;
			height: 240px;
		}

		@include is-tabpc {
			max-height: 200px;
			margin-bottom: 20px;
		}
	}

	&__pic {
		width: 100%;
		height: 100%;
	}

	&__title,
	&__desc {
		padding: 20px;
	}

	&__title {
		@include is-pc {
			@include font-line(18);
			font-weight: 600;
		}
	}

	&__desc {
		letter-spacing: 1px;

		@include is-tabpc {
			@include font-line(13);
			font-weight: 700;
		}
	}
}

.c-card02 {
	position: relative;
	display: inline-block;
	padding: 30px;
	margin: 20px;
	transition: padding 0.3s ease-out;

	/* Pre-render the bigger shadow, but hide it */
	&::after {
		content: "";
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		-webkit-box-shadow: 0px 0px 20px 0px rgba(30, 144, 255, 0.3);
		-moz-box-shadow: 0px 0px 20px 0px rgba(30, 144, 255, 0.3);
		box-shadow: 0px 0px 20px 0px rgba(30, 144, 255, 0.3);
		opacity: 0;
		transition: opacity 0.3s ease-out;
	}

	&:hover {
		padding: 35px;

		&::after {
			opacity: 1;
		}
	}

	&__pic {
		height: 75px;

		img {
			max-height: 100%;
		}
	}
}

.c-card03 {
	position: relative;
	padding: 30px;
	height: 180px;
	width: calc(100% / 4);

	&__pic {
		height: 100%;
		width: 100%;
		display: flex;
		align-content: center;
		align-items: center;

		img {
			max-height: 100%;
			max-width: 100%;
			margin: auto;
		}
	}
}

.c-card04 {
	display: block;
	background-color: white;
	position: relative;
	margin: 20px auto;
	padding: 2%;

	&--md {
		width: calc(90% / 3);

		@include is-sp {
			width: 100%;
			padding: 20px;
		}
	}

	&__top,
	&__center,
	&__bottom {
		text-align: center;
	}

	&__bottom {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		@include is-sp {
			width: 100%;
			height: 280px;
			align-items: flex-start;
		}

		@include is-tabpc {
			margin-bottom: 20px;
		}
	}

	&__pic {
		width: 100%;
		height: 100%;
	}

	&__title,
	&__desc {
		padding: 20px 5px;
		@include is-sp {
			padding: 15px 5px;
		}
	}

	&__title {
		@include is-tabpc {
			@include font-line(18);
			font-weight: 900;
		}
	}

	&__desc {
		letter-spacing: 1px;

		@include is-tabpc {
			@include font-line(13);
			font-weight: 700;
		}
	}
}

.c-card05 {
	text-decoration: none;
	color: $color-text04;
	display: block;
	padding: 20px;
	word-break: break-word;
	border-color: #ececec;
	transition: box-shadow 0.2s ease,
		-webkit-transform 0.3s cubic-bezier(0.34, 2, 0.6, 1);
	transition: transform 0.3s cubic-bezier(0.34, 2, 0.6, 1), box-shadow 0.2s ease;
	transition: transform 0.3s cubic-bezier(0.34, 2, 0.6, 1), box-shadow 0.2s ease,
		-webkit-transform 0.3s cubic-bezier(0.34, 2, 0.6, 1);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;

	&:hover {
		transform: translateY(-5px);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
	}

	&--l {
		height: 500px;
	}

	&__top {
		height: 12rem;
		margin-bottom: 1rem;
		position: relative;

		.feature {
			display: block;
			height: inherit;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 50%;
		}

		.stamp {
			position: absolute;
			top: -10px;
			left: -10px;
		}
	}

	&__center {
		height: 12rem;

		.description {
			height: inherit;
			overflow: hidden;
		}

		.title {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			margin: 0;
		}

		.summary {
			overflow-y: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 5;
			-webkit-box-orient: vertical;
		}
	}

	&__bottom {
		margin: 20px 0 0;
		.info {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.author {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 10px;
		}

		.avatar {
			height: 2.5rem;
			width: 2.5rem;
			border-radius: 999px;
		}
	}
}

.c-card06 {
	position: relative;
	// padding: 0 10px;
	height: 270px;
	width: 220px;
	@include is-max(1000px) {
		width: 48%;
		padding-bottom: 20px;
		height: auto;
	}

	&__pic {
		height: 100%;
		width: 100%;
		display: flex;
		align-content: center;
		align-items: center;

		img {
			max-height: 100%;
			max-width: 100%;
			margin: auto;
		}
	}

	&__top,
	&__bottom {
		text-align: center;
		background-color: #fff;
	}

	&__bottom {
		padding: 20px;
		@include is-max(1000px) {
			min-height: 135px;
			padding: 20px 0;
		}
	}
}

.c-card07 {
	position: relative;

	&:nth-child(3) {
		&::before {
			border-left: 2px dashed #aeaeae;
			position: absolute;
			height: 100%;
			content: "";
			left: -8%;
			@include is-max(1000px) {
				display: none;
			}
		}
		&::after {
			border-left: 2px dashed #aeaeae;
			position: absolute;
			height: 100%;
			content: "";
			right: -8%;
			top: 0;
			@include is-max(1000px) {
				display: none;
			}
		}
	}
	&:nth-child(7) {
		&::before {
			border-left: 2px dashed #aeaeae;
			position: absolute;
			height: 100%;
			content: "";
			left: -8%;
			@include is-max(1000px) {
				display: none;
			}
		}
		&::after {
			border-left: 2px dashed #aeaeae;
			position: absolute;
			height: 100%;
			content: "";
			right: -8%;
			top: 0;
			@include is-max(1000px) {
				display: none;
			}
		}
	}

	position: relative;
	// height: 190px;
	// width: calc(100% / 3);
	// border-right: 2px dashed #aeaeae;
	// padding-left: 35px;
	// padding-right: 28px;
	width: 30%;
	@include is-max(1000px) {
		width: 48%;
		padding: unset;
		border: none;
		padding-bottom: 15px;
		border-bottom: 2px dashed #aeaeae;
	}

	@include is-max(750px) {
		width: 100%;
		padding: unset;
		border: none;
	}

	&__top,
	&__bottom {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__top {
		border-bottom: 1px solid #0059B4;
		@include is-max(1000px) {
			padding-top: 30px;
		}
	}

	&__bottom {
		padding-top: 15px;
		@include is-max(750px) {
			padding-bottom: 25px;
			border-bottom: 1px dashed #aeaeae;
		}
	}

	&:last-child,
	&:nth-of-type(3) {
		padding-right: unset;
		@include is-min(1000px) {
			border: none;
		}
	}

	&:nth-of-type(5) {
		padding-left: unset;
	}

	&:nth-of-type(7) {
		@include is-min(1000px) {
			border: none !important;
		}
		@include is-min(750px) {
			padding-right: unset;
			border-bottom: 2px dashed #aeaeae;
		}
	}

	&:first-child {
		padding-left: unset;
	}

	&.bd-pr-n {
		@include is-max(750px) {
			border: none;
			padding-right: unset;
		}
	}
}

.c-cards09 {
	width: 220px;
	background-color: #fff;

	img {
		width: 100%;
	}

	@include is-max(1071px) {
		width: 30%;
		margin-bottom: 3.5vw;
	}

	@include is-sp {
		width: 48%;
	}

	@include is-max(414px) {
		margin-bottom: 15px;
	}

	&-img {
		position: relative;

		img {
			@include is-sp {
				width: 100%;
			}
		}

		&-num {
			position: absolute;
			top: 2%;
			left: 2%;

			p {
				font-size: 40px;
				line-height: 48px;
				font-weight: 400;
				color: #fff;
				font-family: "Bebas Neue", cursive;
			}
		}

		&-view {
			position: absolute;
			bottom: 2%;
			right: 2%;
			font-family: century-gothic, sans-serif;
			background: #258acf;
			width: 62px;
			height: 62px;
			clip-path: polygon(100% 0, 0% 100%, 100% 100%);
			z-index: 1;

			p {
				font-size: 10px;
				line-height: 10px;
				transform: rotate(310deg);
				color: #fff;
				padding-top: 34px;
				padding-left: 0;
				padding-right: 13px;
				position: relative;

				&::before {
					content: "";
					position: absolute;
					bottom: -20%;
					left: 27%;
					width: 26%;
					height: 30%;
					clip-path: polygon(100% 0, 0% 100%, 100% 100%);
					background-color: black;
					transform: rotate(45deg);
				}
			}
		}
	}

	&-desc {
		position: relative;
		text-align: center;
		background-color: #fff;
		padding: 20px 5px 18px;
		border: 2px solid #f1f1f1;

		@include is-sp {
			padding: 15px 5px 18px;
		}

		@include is-max(500px) {
			padding: 15px 5px 50px;
		}

		&-ttl {
			font-size: 14px;
			line-height: 21px;
			font-weight: 700;
			font-family: yu-gothic-pr6n, sans-serif;
			letter-spacing: 0.2em;
			color: #0059B4;

			@include is-max(430px) {
				font-size: 3vw;
			}
		}

		&-txt {
			font-size: 11px;
			line-height: 16px;
			font-weight: 500;
			font-family: yu-gothic-pr6n, sans-serif;
			color: #333;
			letter-spacing: 0.2em;
			padding-top: 13px;

			@include is-sp {
				padding-top: 5px;
			}

			@include is-max(430px) {
				font-size: 3vw;
			}
		}
	}
}
.c-card08 {
	text-align: center;
	background-color: #fff;

	&__top {
		position: relative;

		img {
			width: 100%;

			&:last-child {
				width: auto;
				padding-left: 8px;
			}
		}

		.num {
			position: absolute;
			top: 10px;
			left: 10px;
			background: linear-gradient(to left, #000017, #0059c4);
			height: 62px;
			width: 62px;
			clip-path: polygon(0 0, 0% 100%, 100% 0);
			font-family: "Bebas Neue", cursive;

			p {
				@include font-line(32.69);
				font-weight: 400;
				letter-spacing: 0;
				color: #fff;
				position: absolute;
				transform: translate(24%, -14%);
			}
		}

		.view_more {
			@include font-line(10.04);
			line-height: 12.42px;
			letter-spacing: 0.26em;
			font-family: century-gothic, sans-serif;
			font-weight: 700;
			color: #fff;
			position: absolute;
			bottom: 8px;
			right: 0;
			display: flex;
			align-items: center;
			padding: 5px 12px 5px 19px;
	
			&::before {
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				inset: 0;
				display: block;
				background-color: #0059b4;
				mix-blend-mode: multiply;
				z-index: 1;
			}

			p {
				z-index: 2;
			}
		}
	}
	&__center {
		@include font-line(14);
		line-height: 21px;
		letter-spacing: 0.2em;
		font-family: yu-gothic-pr6n, sans-serif;
		font-weight: 700;
		color: #0059b4;
		padding: 20px 10px 30px 10px;

		@include is-sp {
			font-size: 15px;
			letter-spacing: 0.1em;
		}

		@include is-max(367px) {
			font-size: 3.9vw;
			padding-bottom: 15px;
		}
	}
	&__bottom {
		@include font-line(11);
		line-height: 16.5px;
		letter-spacing: 0.2em;
		font-family: yu-gothic-pr6n, sans-serif;
		font-weight: 500;
		color: #808080;
		padding: 0 15px 20px 15px;

		@include is-sp {
			font-size: 13.4px;
			letter-spacing: 0.1em;
		}

		@include is-max(367px) {
			font-size: 3.5vw;
		}
	}
}

.c-card10 {
	// display: inline-block;
	width: 100%;
	&-center {
		position: relative;

		img {
			width: 100%;
		}

		.top-box {
			position: absolute;
			top: 10px;
			left: 10px;
			width: 40px;
			height: 40px;
			background: linear-gradient(
				90deg,
				rgba(4, 63, 197, 1) 0%,
				rgba(0, 126, 205, 1) 100%
			);
			text-align: center;
			padding: 2px;

			@include is-sp {
				width: 44.5px;
				height: 44.5px;
			}

			&-content {
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				border-top: 1px solid #fff;
				border-right: 1px solid #fff;
				p:first-child {
					@include font-line(8.17);
					color: #96bcdb;
					line-height: 1;
					padding-top: 5px;
					font-weight: 400;
					font-family: century-gothic, sans-serif;
					letter-spacing: 0.22em;
				}

				p:last-child {
					@include font-line(24.78);
					color: #fff;
					line-height: 1;
					font-weight: 700;
					font-family: century-gothic, sans-serif;

					@include is-sp {
						@include font-line(27);
					}
				}
			}
		}

		&-text {
			position: absolute;
			top: 44%;
			left: 10px;
			transform: translateY(-20%);
			@include font-line(18.56);
			letter-spacing: 0.3em;
			line-height: 25.67px;
			color: #fff;
			font-weight: 500;
			font-family: yu-mincho-pr6n, sans-serif;

			@include is-max(980px) {
				top: 50%;
			}

			@include is-max(900px) {
				top: 44%;
			}

			@include is-sp {
				@include font-line(20);
			}

			@include is-max(350px) {
				top: 52%;
			}
		}

		.float-center {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			white-space: nowrap;
			text-align: center;
		}

		.float-right {
			top: 50%;
			right: 20px;
			white-space: nowrap;
			text-align: right;
		}
		.ls23 {
			letter-spacing: 0.23em;
		}

		.ls22 {
			letter-spacing: 0.22em;
		}
	}

	&-bottom {
		p {
			padding-top: 25px;
			text-align: center;
			letter-spacing: 0.2em;
			@include font-line(14);
			line-height: 21px;
			font-family: yu-gothic-pr6n, sans-serif;
			color: #ffffff;
			font-weight: 700;

			@include is-sp {
				font-weight: 700;
				@include font-line(19);
				line-height: 22.5px;
				padding-top: 21px;
			}

			@include is-max(400px) {
				font-size: 4.5vw;
				letter-spacing: 0.14em;
			}
		}
	}
}

.c-card11 {
	&-top {
		position: relative;

		img {
			width: 100%;
		}

		.top-box {
			position: absolute;
			top: 12px;
			left: 14px;
			width: 40px;
			height: 40px;
			background: linear-gradient(to left, #0059c6, #000017);
			text-align: center;
			padding: 2px;

			@include is-sp {
				width: 44.5px;
				height: 44.5px;
			}

			&-content {
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				border-top: 1px solid #fff;
				border-right: 1px solid #fff;

				p {
					@include font-line(24.78, 42.86);
					font-weight: 700;
					font-family: century-gothic, sans-serif;
					color: #fff;
				}
			}
		}

		.top-circle {
			position: absolute;
			top: 70px;
			right: 14px;
			background: linear-gradient(to left, #0059c6, #000017);
			border-radius: 50%;
			height: 70px;
			width: 70px;

			// @include is-sp {
			// 	height: 76.5px;
			// 	width: 76.5px;
			// }

			&-content {
				position: relative;
				width: 100%;
				height: 100%;
				border: 2px solid #fff;
				border-radius: 50%;
				transform: scale(0.9);

				p {
					text-align: center;
					@include font-line(14);
					font-weight: 500;
					line-height: 19px;
					color: #fff;
					white-space: nowrap;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					font-family: yu-mincho-pr6n, sans-serif;
				}

				.f16 {
					font-size: 14px;
					letter-spacing: 0.03em;
					line-height: 19.31px;
				}
			}

			&.t-15 {
				top: 15px;
			}
		}

		.top-circle-lb {
			left: 24px;
			bottom: 15px;
			top: unset;
			right: unset;

			.f16 {
				font-size: 16.99px;
				letter-spacing: 0.2em;
				line-height: 19.31px;
			}
		}
	}

	&-bottom {
		border: 1px solid #000;
		padding: 0 19px 10px;
		min-height: 220px;

		&-title {
			@include font-line(14, 14);
			font-weight: 700;
			letter-spacing: 0.2em;
			font-family: yu-gothic-pr6n, sans-serif;
			color: #1f80c3;
			text-align: center;
			padding: 25px 0 15px 0;

			@include is-max(962px) {
				font-size: 1.4vw;
			}

			@include is-sp {
				@include font-line(18);
			}

			@include is-max(385px) {
				font-size: 4.2vw;
			}
		}

		&-para {
			@include font-line(11, 16.5);
			font-weight: 500;
			letter-spacing: 0.2em;
			font-family: yu-gothic-pr6n, sans-serif;
			color: #808080;
			text-align: justify;

			@include is-sp {
				@include font-line(12.5, 22.5);
			}
		}
	}
}

.c-card12 {
	background-color: #fff;
	padding: 20px;
	width: calc(100% - 414px);

	@include is-max(1050px) {
		width: calc(100% - 350px);
	}

	@include is-max(970px) {
		width: 100%;
	}

	@include is-sp {
		padding: 28.5px 27px 13.5px 27px;
	}

	&--row {
		display: flex;
		// justify-content: space-between;
		align-items: center;
		// padding: 20px 0 18px 0;
		border-top: 1px dotted #9e9e9e;
		position: relative;

		@include is-sp {
			flex-direction: column;
		}

		&1,
		&4 {
			justify-content: space-between;
			& p:first-child {
				color: #a6a6a6;
				font-weight: 700;
				letter-spacing: 0.15em;
				line-height: 21px;
				font-family: yu-gothic-pr6n, sans-serif;
				@include font-line(12);

				@include is-sp {
					@include font-line(13.5);
				}
			}

			& p:last-child {
				color: #2581c6;
				font-weight: 700;
				letter-spacing: 0.13em;
				line-height: 26px;
				font-family: yu-gothic-pr6n, sans-serif;
				@include font-line(20.56);
			}
		}

		&1 {
			border-top: 1px dotted #9e9e9e;
			padding-top: 10px;
			padding-bottom: 10px;

			@include is-sp {
				flex-direction: row;
				padding: 15px 2px;

				& p:last-child {
					@include is-sp {
						@include font-line(21);
					}
				}
			}
		}

		// &3,
		// &2 {
		// 	.col {
		// 		padding-bottom: 10px;
		// 		padding-top: 17px;
		// 	}
		// }

		&4 {
			border-bottom: 1px dotted #9e9e9e;
			padding: 5px;
			align-items: flex-start;

			@include is-sp {
				flex-direction: row;
				padding: 15px 2px;
				border: none;
			}

			& p:last-child {
				font-weight: 500;
				@include font-line(13);

				@include is-sp {
					@include font-line(13.5);
				}
			}

			& p:last-child {
				letter-spacing: 0.11em;

				@include is-sp {
					@include font-line(15);
					text-align: right;
					position: relative;

					span {
						position: absolute;
						left: -18px;
					}
				}
			}

			border-top: 1px dashed #9e9e9e !important;
		}

		.col {
			width: 35%;
			display: flex;
			justify-content: space-between;
			align-items: center;

			@include is-sp {
				width: 100%;
				border-bottom: 1px dotted #9e9e9e;
			}

			& p:first-child {
				color: #a6a6a6;
				font-weight: 700;
				letter-spacing: 0.15em;
				line-height: 21px;
				font-family: yu-gothic-pr6n, sans-serif;
				@include font-line(12);

				@include is-sp {
					@include font-line(13.5);
				}
			}

			& p:last-child {
				color: #2581c6;
				font-weight: 500;
				letter-spacing: 0.1em;
				line-height: 26px;
				font-family: yu-gothic-pr6n, sans-serif;
				@include font-line(13);

				@include is-sp {
					@include font-line(15);
				}
			}
		}

		.col1 {
			padding: 17px 8px 10px 4px;
			position: relative;
			// border-right: 1px dotted #9e9e9e;

			@include is-sp {
				padding: 15px 2px;
			}

			&::after {
				content: "";
				position: absolute;
				width: 1px;
				border-right: 1px dotted #9e9e9e;
				height: 100%;
				top: 0;
				right: 0;

				@include is-sp {
					border: none;
				}
			}
		}

		.col2 {
			padding: 17px 12px 10px 17px;
			position: relative;
			// border-right: 1px dotted #9e9e9e;

			@include is-sp {
				padding: 15px 2px;
			}

			&::after {
				content: "";
				position: absolute;
				width: 1px;
				border-right: 1px dotted #9e9e9e;
				height: 100%;
				top: 0;
				right: 0;

				@include is-sp {
					border: none;
				}
			}
		}

		.col3 {
			width: 29%;
			padding: 0 0 0 16px;

			@include is-sp {
				width: 100%;
				padding: 15px 2px;
				border: none;
			}
		}
	}
}
