.c-card01 {
	display: block;
	background-color: white;
	position: relative;
	margin: 20px auto;
	padding: 2%;

	&--md {
		width: calc(90% / 3);

		@include is-sp {
			width: 100%;
			padding: 20px;
		}
	}

	&__top,
	&__center,
	&__bottom {
		text-align: center;
	}

	&__center,
	&__bottom {
		height: 200px;
	}

	&__bottom {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;

		@include is-sp {
			width: 100%;
			height: 240px;
		}

		@include is-tabpc {
			max-height: 200px;
			margin-bottom: 20px;
		}
	}

	&__pic {
		width: 100%;
		height: 100%;
	}

	&__title,
	&__desc {
		padding: 20px;
	}

	&__title {
		@include is-pc {
			@include font-line(18);
			font-weight: 600;
		}
	}

	&__desc {
		letter-spacing: 1px;

		@include is-tabpc {
			@include font-line(13);
			font-weight: 700;
		}
	}
}

.c-card02 {
	position: relative;
	display: inline-block;
	padding: 30px;
	margin: 20px;
	transition: padding 0.3s ease-out;

	/* Pre-render the bigger shadow, but hide it */
	&::after {
		content: "";
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		-webkit-box-shadow: 0px 0px 20px 0px rgba(30, 144, 255, 0.3);
		-moz-box-shadow: 0px 0px 20px 0px rgba(30, 144, 255, 0.3);
		box-shadow: 0px 0px 20px 0px rgba(30, 144, 255, 0.3);
		opacity: 0;
		transition: opacity 0.3s ease-out;
	}

	&:hover {
		padding: 35px;

		&::after {
			opacity: 1;
		}
	}

	&__pic {
		height: 75px;

		img {
			max-height: 100%;
		}
	}
}

.c-card03 {
	position: relative;
	padding: 30px;
	height: 180px;
	width: calc(100% / 4);

	&__pic {
		height: 100%;
		width: 100%;
		display: flex;
		align-content: center;
		align-items: center;

		img {
			max-height: 100%;
			max-width: 100%;
			margin: auto;
		}
	}
}

.c-card04 {
	display: block;
	background-color: white;
	position: relative;
	margin: 20px auto;
	padding: 2%;

	&--md {
		width: calc(90% / 3);

		@include is-sp {
			width: 100%;
			padding: 20px;
		}
	}

	&__top,
	&__center,
	&__bottom {
		text-align: center;
	}

	&__bottom {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		@include is-sp {
			width: 100%;
			height: 280px;
			align-items: flex-start;
		}

		@include is-tabpc {
			margin-bottom: 20px;
		}
	}

	&__pic {
		width: 100%;
		height: 100%;
	}

	&__title,
	&__desc {
		padding: 20px 5px;
		@include is-sp {
			padding: 15px 5px;
		}
	}

	&__title {
		@include is-tabpc {
			@include font-line(18);
			font-weight: 900;
		}
	}

	&__desc {
		letter-spacing: 1px;

		@include is-tabpc {
			@include font-line(13);
			font-weight: 700;
		}
	}
}

.c-card05 {
	text-decoration: none;
	color: $color-text04;
	display: block;
	padding: 20px;
	word-break: break-word;
	border-color: #ececec;
	transition: box-shadow 0.2s ease,
		-webkit-transform 0.3s cubic-bezier(0.34, 2, 0.6, 1);
	transition: transform 0.3s cubic-bezier(0.34, 2, 0.6, 1), box-shadow 0.2s ease;
	transition: transform 0.3s cubic-bezier(0.34, 2, 0.6, 1), box-shadow 0.2s ease,
		-webkit-transform 0.3s cubic-bezier(0.34, 2, 0.6, 1);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;

	&:hover {
		transform: translateY(-5px);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
	}

	&--l {
		height: 500px;
	}

	&__top {
		height: 12rem;
		margin-bottom: 1rem;
		position: relative;

		.feature {
			display: block;
			height: inherit;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 50%;
		}

		.stamp {
			position: absolute;
			top: -10px;
			left: -10px;
		}
	}

	&__center {
		height: 12rem;

		.description {
			height: inherit;
			overflow: hidden;
		}

		.title {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			margin: 0;
		}

		.summary {
			overflow-y: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 5;
			-webkit-box-orient: vertical;
		}
	}

	&__bottom {
		margin: 20px 0 0;
		.info {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.author {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 10px;
		}

		.avatar {
			height: 2.5rem;
			width: 2.5rem;
			border-radius: 999px;
		}
	}
}

.c-card06 {
	position: relative;
	// padding: 0 10px;
	height: 270px;
	width: 220px;
	@include is-max(1000px) {
		width: 48%;
		padding-bottom: 20px;
		height: auto;
	}

	&__pic {
		height: 100%;
		width: 100%;
		display: flex;
		align-content: center;
		align-items: center;

		img {
			max-height: 100%;
			max-width: 100%;
			margin: auto;
		}
	}

	&__top,
	&__bottom {
		text-align: center;
		background-color: #fff;
	}

	&__bottom {
		padding: 20px;
		@include is-max(1000px) {
			min-height: 135px;
			padding: 20px 0;
		}
	}
}

.c-card07 {
	position: relative;
	
	&:nth-child(3){
		&::before{
			border-left: 2px dashed #aeaeae;
			position: absolute;
			height: 100%;
			content: "";
			left: -8%;
			@include is-max(1000px){
				display: none;
			}
		}
		&::after{
			border-left: 2px dashed #aeaeae;
			position: absolute;
			height: 100%;
			content: "";
			right: -8%;
			top: 0;
			@include is-max(1000px){
				display: none;
			}
		}
	}
	&:nth-child(7){
		&::before{
			border-left: 2px dashed #aeaeae;
			position: absolute;
			height: 100%;
			content: "";
			left: -8%;
			@include is-max(1000px){
				display: none;
			}
		}
		&::after{
			border-left: 2px dashed #aeaeae;
			position: absolute;
			height: 100%;
			content: "";
			right: -8%;
			top: 0;
			@include is-max(1000px){
				display: none;
			}
		}
	}
	
	position: relative;
	// height: 190px;
	// width: calc(100% / 3);
	// border-right: 2px dashed #aeaeae;
	// padding-left: 35px;
	// padding-right: 28px;
		width: 30%;
	@include is-max(1000px) {
		width: 48%;
		padding: unset;
		border: none;
		padding-bottom: 15px;
		border-bottom: 2px dashed #aeaeae;
	}

	@include is-max(750px) {
		width: 100%;
		padding: unset;
		border: none;
	}

	&__top,
	&__bottom {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__top {
		border-bottom: 1px solid #2589ce;
		@include is-max(1000px) {
			padding-top: 30px;
		}
	}

	&__bottom {
		padding-top: 15px;
		@include is-max(750px) {
			padding-bottom: 25px;
			border-bottom: 1px dashed #aeaeae;
		}
	}

	&:last-child,
	&:nth-of-type(3) {
		padding-right: unset;
		@include is-min(1000px) {
			border: none;
		}
	}

	&:nth-of-type(5) {
		padding-left: unset;
	}

	&:nth-of-type(7) {
		@include is-min(1000px) {
			border: none !important;
		}
		@include is-min(750px) {
			padding-right: unset;
			border-bottom: 2px dashed #aeaeae;
		}
	}

	&:first-child {
		padding-left: unset;
	}

	&.bd-pr-n {
		@include is-max(750px) {
			border: none;
			padding-right: unset;
		}
	}
}

.c-cards09 {
	width: 220px;

	img {
		width: 100%;
	}

	@include is-max(1071px) {
		width: 30%;
	}

	@include is-sp {
		width: 48%;
	}

	&-img {
		position: relative;

		img {
			@include is-sp {
				width: 100%;
			}
		}

		&-num {
			position: absolute;
			top: 2%;
			left: 2%;

			p {
				font-size: 40px;
				line-height: 48px;
				font-weight: 400;
				color: #fff;
				font-family: "Bebas Neue", cursive;
			}
		}

		&-view {
			position: absolute;
			bottom: 6%;
			right: 5%;
			font-family: century-gothic, sans-serif;
			background: #258acf;
			width: 62px;
			height: 62px;
			clip-path: polygon(100% 0, 0% 100%, 100% 100%);
			z-index: 1;

			p {
				font-size: 10px;
				line-height: 10px;
				transform: rotate(310deg);
				color: #fff;
				padding-top: 31px;
				padding-left: 10px;
				position: relative;

				&::before {
					content: "";
					position: absolute;
					bottom: -24%;
					left: 26%;
					width: 26%;
					height: 30%;
					clip-path: polygon(100% 0, 0% 100%, 100% 100%);
					background-color: black;
					transform: rotate(45deg);
				}
			}
		}
	}

	&-desc {
		text-align: center;
		background-color: #fff;
		padding: 20px 5px 18px;
		border: 2px solid #f1f1f1;

		&-ttl {
			font-size: 14px;
			line-height: 21px;
			font-weight: 700;
			font-family: cross-platform-yu-gothic;
			letter-spacing: 0.2em;
			color: #258acf;


			@include is-max(430px) {
				font-size: 3vw;
			}
		}

		&-txt {
			font-size: 11px;
			line-height: 16px;
			font-weight: 500;
			font-family: cross-platform-yu-gothic;
			color: #333;
			letter-spacing: 0.2em;
			padding-top: 13px;

			@include is-max(430px) {
				font-size: 3vw;
			}
		}
	}
}
.c-card08 {
	text-align: center;
	background-color: #fff;

	&__top {
		position: relative;

		img {
			width: 100%;

			&:last-child {
				width: auto;
				padding-left: 8px;
			}
		}

		.num {
			position: absolute;
			top: 10px;
			left: 10px;
			background: linear-gradient(90deg, #2579bf 0%, #2593d5 50%);
			height: 62px;
			width: 62px;
			clip-path: polygon(0 0, 0% 100%, 100% 0);
			font-family: "Bebas Neue", cursive;

			p {
				@include font-line(32.69);
				font-weight: 400;
				letter-spacing: 0;
				color: #fff;
				position: absolute;
				transform: translate(24%, -14%);
			}
		}

		.view_more {
			@include font-line(10.04);
			line-height: 12.42px;
			letter-spacing: 0.26em;
			font-family: century-gothic, sans-serif;
			font-weight: 700;
			color: #fff;
			position: absolute;
			bottom: 8px;
			right: 0;
			display: flex;
			align-items: center;
			padding: 5px 12px 5px 19px;
			background: linear-gradient(
				90deg,
				rgba(2, 82, 133, 0.9) -17%,
				rgba(25, 64, 96, 0.7) 83%
			);
		}
	}
	&__center {
		@include font-line(14);
		line-height: 21px;
		letter-spacing: 0.2em;
		font-family: cross-platform-yu-gothic;
		font-weight: 700;
		color: #258acf;
		padding: 20px 10px 30px 10px;

		@include is-sp {
			font-size: 15px;
		}

		@include is-max(367px) {
			font-size: 3.9vw;
			padding-bottom: 15px;
		}
	}
	&__bottom {
		@include font-line(11);
		line-height: 16.5px;
		letter-spacing: 0.2em;
		font-family: cross-platform-yu-gothic;
		font-weight: 500;
		color: #808080;
		padding: 0 15px 20px 15px;

		@include is-sp {
			font-size: 13.4px;
		}

		@include is-max(367px) {
			font-size: 3.5vw;
		}
	}
}
