.c-case {
	&01 {
		&__title {
			color: $color-text03;
			font-family: yu-mincho-pr6n, sans-serif;
			letter-spacing: 0.18em;
			line-height: 1;
			padding: 15px 0 20px 0;
			font-weight: 500;

			@include is-max(1025px) {
				font-size: 2.5vw;
			}

			@include is-max(1000px) {
				font-size: 2.7vw;
			}

			@include font-line(30, 48);

			@include is-sp {
				letter-spacing: 0.2em;
			}
		}

		&__sub {
			color: $color-text03;
			font-family: cross-platform-yu-gothic, sans-serif;
			font-weight: 500;
			letter-spacing: 0.2em;
			line-height: 1;

			@include is-sp {
				letter-spacing: unset;
				padding: 0 0 60px 0;
			}

			@include font-line(13, 26);
		}
		&__sub2 {
			color: $color-text03;
			font-family: cross-platform-yu-gothic, sans-serif;
			font-weight: 500;
			letter-spacing: 0.07em;
			line-height: 1;
			padding-top: 20px;

			@include is-sp {
				letter-spacing: unset;
				padding: 20x 0 0px 0;
			}

			@include font-line(13, 18);
		}
	}

	&--items {
		.l-wrap {
			position: relative;
		}

		@include is-sp {
			padding-top: 100px;
		}

		.img_box {
			text-align: center !important;

			@include is-max(450px) {
				padding: 3px !important;
				width: 50px !important;
				height: 50px !important;

				&__txt {
					height: 100% !important;
				}

				&__ttl {
					font-size: 6.5px !important;
					padding-top: 8px !important;
				}

				&__sub {
					font-size: 7.5px !important;
					padding-top: 3px !important;
					padding-bottom: 0 !important;
				}
			}
		}

		.sp_p0 {
			@include is-sp {
				padding: 0;
			}
		}

		&:first-child {
			@include is-sp {
				padding-top: 75px;
			}
		}

		&:nth-of-type(4) {
			padding-top: 0;
		}

		&:nth-of-type(odd) {
			// background-color: #fff;
			// position: relative;
			// padding: 100px 0;
			// -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
			// clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);

			// @include is-sp {
			// 	padding: 200px 0 100px 0;
			// 	-webkit-clip-path: polygon(0 7%, 100% 0%, 100% 93%, 0% 100%);
			// 	clip-path: polygon(0 7%, 100% 0%, 100% 93%, 0% 100%);
			// }

			.bg_2 {
				position: absolute;
				top: 150px;
				left: 0;
				width: 290px;

				@include is-sp {
					width: 38.67%;
					top: -50px;
					left: 20px;
				}
			}

			.c-case--items__contents--row_2 {
				@include is-sp {
					padding: 25px 0 0 0;
				}
				&__txt {
					color: $color-text02;

					&.sub {
						color: $color-text01;
					}
				}
			}
		}

		&__contents {
			display: flex;
			padding: 60px 0;
			flex-wrap: wrap;
			position: relative;

			@include is-sp {
				padding: 0 0 0 0;
			}

			.bg_3 {
				position: absolute;
				top: -20px;
				right: 0;
				width: 370px;
				z-index: -1;

				@include is-sp {
					display: none;
				}
			}

			&--row_1 {
				width: 57.14%;
				display: flex;

				@include is-max(832px) {
					width: 51.14%;
				}

				@include is-sp {
					width: 100%;
				}

				img {
					width: 100%;
					height: auto;
					position: relative;
				}

				.img-1 {
					position: relative;
					width: 100%;

					.img_box {
						background: linear-gradient(
							90deg,
							rgba(37, 121, 191, 1) 0%,
							rgba(37, 147, 213, 1) 50%
						);
						width: 84px;
						height: 84px;
						position: absolute;
						top: 0;
						left: 0;
						padding: 5px;

						&__txt {
							border-top: 1px solid #fff;
							border-right: 1px solid #ffff;
						}

						&__ttl {
							color: #90c2e3;
							font-family: century-gothic, sans-serif;
							font-weight: 700;
							padding-top: 20px;
							letter-spacing: 0.26em;

							@include font-line(11);
						}

						&__sub {
							color: $color-text03;
							font-family: cross-platform-yu-gothic, sans-serif;
							font-weight: 700;
							padding-bottom: 10px;
							letter-spacing: 0.2em;

							@include font-line(12.5);
						}
					}
				}

				.img-2 {
					position: relative;
					width: 100%;

					.img_box {
						background: linear-gradient(
							90deg,
							rgba(37, 121, 191, 1) 0%,
							rgba(37, 147, 213, 1) 50%
						);
						width: 84px;
						height: 84px;
						position: absolute;
						top: 0;
						left: 0;
						padding: 5px;

						&__txt {
							border-top: 1px solid #fff;
							border-right: 1px solid #ffff;
						}

						&__ttl {
							color: #90c2e3;
							font-family: century-gothic, sans-serif;
							font-weight: 700;
							padding-top: 20px;
							letter-spacing: 0.26em;

							@include font-line(11);
						}

						&__sub {
							color: $color-text03;
							font-family: cross-platform-yu-gothic, sans-serif;
							font-weight: 700;
							padding-bottom: 10px;
							letter-spacing: 0.2em;

							@include font-line(12.5);
						}
					}
				}
			}

			&--row_2 {
				width: calc(100% - 57.14%);
				padding-left: 120px;

				@include is-max(1100px) {
					padding-left: 30px;
				}

				@include is-max(832px) {
					width: calc(100% - 51.14%);
					padding-left: 20px;
				}

				@include is-sp {
					width: 100%;
					padding-left: 0;
					padding-top: 20px;
				}

				&__txt {
					text-align: left;

					&.ttl {
						font-family: cross-platform-yu-gothic, sans-serif;
						font-weight: 500;
						letter-spacing: 0.2em;
						@include font-line(13, 26);

						@include is-sp {
							text-align: center;
							line-height: 1;
						}

						@include is-max(322px) {
							font-size: 4vw !important;
						}
					}

					&.sub {
						font-family: yu-mincho-pr6n, sans-serif;
						font-weight: 500;
						padding: 0 0 15px 0;

						@include is-sp {
							padding: 21px 0 25px 0;
							@include font-line(25);
						}

						@include is-max(322px) {
							font-size: 7vw;
						}

						@include font-line(30, 48);

						br {
							@include is-sp {
								display: none;
							}
						}

						@include is-sp {
							text-align: center;
						}
					}

					&.desc {
						font-family: cross-platform-yu-gothic, sans-serif;
						font-weight: 500;
						letter-spacing: 0.07em;
						text-align: justify;

						@include is-sp {
							line-height: 22.5px;
						}

						@include font-line(13, 26);
					}
				}

				.row2__txt--02 {
					text-align: left;

					.ttl {
						color: #2d2319;
					}

					.sub {
						color: #258acf;
					}

					.desc {
						color: #2d2319;
					}
				}
			}
		}

		.bg_5 {
			position: absolute;
			top: 15px;
			left: 0;
			width: 290px;
			opacity: 0.2;

			@include is-sp {
				top: -75px;
				width: 38.67%;
				display: none;
			}
		}

		.bg_6 {
			position: absolute;
			bottom: 15px;
			right: 0;
			width: 320px;
			opacity: 0.2;

			@include is-sp {
				display: none;
			}
		}

		.bg_7 {
			position: absolute;
			bottom: 16px;
			right: 0;
			width: 290px;

			@include is-sp {
				display: none;
			}
		}
	}

	&02 {
		&__txt {
			padding-left: 20px;
			border-left: 3px solid #258acf;

			@include is-sp {
				padding-left: 10px !important;
			}

			&__ttl {
				color: $color-text04;
				font-family: century-gothic, sans-serif;
				font-weight: 700;
				letter-spacing: 0.26em;
				line-height: 1;

				@include font-line(11);
			}

			&__sub {
				color: $color-text01;
				font-family: cross-platform-yu-gothic, sans-serif;
				font-weight: 700;
				line-height: 1;
				padding: 20px 0 30px 0;
				letter-spacing: 0.3em;
				@include font-line(20);
			}

			&__desc {
				color: $color-text-default;
				font-family: cross-platform-yu-gothic, sans-serif;
				font-weight: 500;
				letter-spacing: 0.2em;

				@include is-max(374px) {
					font-size: 3.4vw;
				}

				@include font-line(13);
			}
		}
	}

	&03 {
		&__txt {
			padding-left: 20px;
			border-left: 3px solid #258acf;

			@include is-sp {
				padding-left: 10px !important;
			}

			&__ttl {
				color: $color-text04;
				font-family: century-gothic, sans-serif;
				font-weight: 400 !important;
				letter-spacing: 0.32em;
				line-height: 1;
				@include font-line(10);

				@include is-sp {
					font-size: 12.5px !important;
					letter-spacing: 0.21em !important;
				}
			}

			&__sub {
				color: $color-text01;
				font-family: yu-mincho-pr6n, sans-serif;
				font-weight: 500 !important;
				padding: 15px 0 25px 0;
				letter-spacing: 0.34em;

				@include font-line(26);

				@include is-sp {
					letter-spacing: 0.15em !important;
				}

				br {
					display: none;

					@include is-sp {
						display: block;
					}
				}
			}

			&__desc {
				color: $color-text-default;
				font-family: cross-platform-yu-gothic, sans-serif;
				font-weight: 500;
				text-align: justify;
				letter-spacing: 0.2em;

				@include is-sp {
					letter-spacing: 0.1em !important;
				}

				@include is-max(374px) {
					font-size: 3.4vw;
				}

				@include font-line(13);
			}
		}
	}

	&__btm--slant {
		padding-bottom: 70px !important;
		clip-path: polygon(0 50px, 100% 0, 100% 88%, 0% 100%) !important;
		background: linear-gradient(to right, #003782, #0059b6);
		padding-top: 50px;

		@include is-sp {
			clip-path: polygon(0 43px, 100% 12px, 100% 94%, 0% 100%) !important;
		}

		.c-case--items__contents--row_2__txt {
			color: #fff !important;
		}
	}
}
