.c-case {
	&01 {
		&__title {
			color: $color-text03;
			font-family: yu-mincho-pr6n, sans-serif;
			letter-spacing: 0.18em;
			line-height: 1;
			padding: 15px 0 20px 0;

			@include font-line(30, 48);

			@include is-sp {
				letter-spacing: 0.2em;
			}
		}

		&__sub {
			color: $color-text03;
			font-family: cross-platform-yu-gothic, sans-serif;
			font-weight: 500;
			letter-spacing: 0.2em;
			line-height: 1;

			@include is-sp {
				letter-spacing: unset;
				padding: 0 0 60px 0;
			}

			@include font-line(13, 26);
		}
		&__sub2 {
			color: $color-text03;
			font-family: cross-platform-yu-gothic, sans-serif;
			font-weight: 500;
			letter-spacing: 0.07em;
			line-height: 1;
			padding-top: 20px;

			@include is-sp {
				letter-spacing: unset;
				padding: 20x 0 0px 0;
			}

			@include font-line(13, 18);
		}
	}

	&--items {
		position: relative;
		@include is-sp {
			padding-top: 100px;
		}

		.sp_p0 {
			@include is-sp {
				padding: 0;
			}
		}

		&:first-child {
			@include is-sp {
				padding-top: 75px;
			}
		}

		&:nth-of-type(4) {
			padding-top: 0;
		}

		&:nth-of-type(odd) {
			background-color: #fff;
			position: relative;
			padding: 100px 0;
			-webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
			clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);

			@include is-sp {
				padding: 200px 0 100px 0;
				-webkit-clip-path: polygon(0 7%, 100% 0%, 100% 93%, 0% 100%);
				clip-path: polygon(0 7%, 100% 0%, 100% 93%, 0% 100%);
			}

			.bg_2 {
				position: absolute;
				top: 150px;
				left: 0;
				width: 290px;

				@include is-sp {
					width: 38.67%;
					top: -50px;
					left: 20px;
				}
			}

			.bg_7 {
				position: absolute;
				bottom: 0;
				right: 0;
				width: 290px;

				@include is-sp {
					display: none;
				}
			}

			.c-case--items__contents--row_2 {
				@include is-sp {
					padding: 25px 0 0 0;
				}
				&__txt {
					color: $color-text02;

					&.sub {
						color: $color-text01;
					}
				}
			}
		}

		&__contents {
			display: flex;
			padding: 60px 0;
			flex-wrap: wrap;
			position: relative;

			@include is-sp {
				padding: 0 0 75px 0;
			}

			.bg_3 {
				position: absolute;
				top: -30px;
				right: 40px;
				width: 370px;

				@include is-sp {
					display: none;
				}
			}

			&--row_1 {
				width: 57.14%;
				display: flex;

				@include is-sp {
					width: 100%;
				}

				img {
					width: 100%;
					height: auto;
					position: relative;
				}

				.img-1 {
					position: relative;
					width: 100%;

					.img_box {
						background: linear-gradient(
							90deg,
							rgba(37, 121, 191, 1) 0%,
							rgba(37, 147, 213, 1) 50%
						);
						width: 84px;
						height: 84px;
						position: absolute;
						top: 0;
						left: 0;
						padding: 5px;

						&__txt {
							border-top: 1px solid #fff;
							border-right: 1px solid #ffff;
						}

						&__ttl {
							color: #90c2e3;
							font-family: century-gothic, sans-serif;
							font-weight: 700;
							padding-top: 20px;

							@include font-line(11);
						}

						&__sub {
							color: $color-text03;
							font-family: cross-platform-yu-gothic, sans-serif;
							font-weight: 700;
							padding-bottom: 10px;

							@include font-line(12.5);
						}
					}
				}

				.img-2 {
					position: relative;
					width: 100%;

					.img_box {
						background: linear-gradient(
							90deg,
							rgba(37, 121, 191, 1) 0%,
							rgba(37, 147, 213, 1) 50%
						);
						width: 84px;
						height: 84px;
						position: absolute;
						top: 0;
						left: 0;
						padding: 5px;

						&__txt {
							border-top: 1px solid #fff;
							border-right: 1px solid #ffff;
						}

						&__ttl {
							color: #90c2e3;
							font-family: century-gothic, sans-serif;
							font-weight: 700;
							padding-top: 20px;

							@include font-line(11);
						}

						&__sub {
							color: $color-text03;
							font-family: cross-platform-yu-gothic, sans-serif;
							font-weight: 700;
							padding-bottom: 10px;

							@include font-line(12.5);
						}
					}
				}
			}

			&--row_2 {
				width: calc(100% - 57.14%);
				padding-left: 120px;

				@include is-max(1000px) {
					padding-left: 50px;
				}

				@include is-sp {
					width: 100%;
					padding-left: 0;
					padding-top: 20px;
				}

				&__txt {
					text-align: left;
					color: $color-text03;

					&.ttl {
						font-family: cross-platform-yu-gothic, sans-serif;
						font-weight: 500;
						letter-spacing: .2em;

						@include font-line(13,26);

						@include is-sp {
							text-align: center;
						}
					}

					&.sub {
						font-family: yu-mincho-pr6n, sans-serif;
						font-weight: 500;
						padding: 0 0 15px 0;

						@include is-sp {
							padding: 25px 0;
						}

						@include font-line(30,48);

						br {
							@include is-sp {
								display: none;
							}
						}

						@include is-sp {
							text-align: center;
						}
					}

					&.desc {
						font-family: cross-platform-yu-gothic, sans-serif;
						font-weight: 500;
						letter-spacing:0.07em;
						text-align: justify;

						@include font-line(13, 26);
					}
				}
			}
		}

		.bg_5 {
			position: absolute;
			top: 15px;
			left: 0;
			width: 290px;

			@include is-sp {
				top: -75px;
				width: 38.67%;
			}
		}

		.bg_6 {
			position: absolute;
			bottom: 15px;
			right: 0;
			width: 320px;

			@include is-sp {
				display: none;
			}
		}
	}

	&02 {
		&__txt {
			padding-left: 20px;
			border-left: 3px solid #258acf;

			&__ttl {
				color: $color-text04;
				font-family: century-gothic, sans-serif;
				font-weight: 700;
				line-height: 1;

				@include font-line(11);
			}

			&__sub {
				color: $color-text01;
				font-family: cross-platform-yu-gothic, sans-serif;
				font-weight: 700;
				line-height: 1;
				padding: 20px 0 30px 0;

				@include font-line(20);
			}

			&__desc {
				color: $color-text-default;
				font-family: cross-platform-yu-gothic, sans-serif;
				font-weight: 500;

				@include font-line(13);
			}
		}
	}

	&03 {
		&__txt {
			padding-left: 20px;
			border-left: 3px solid #258acf;

			@include is-sp {
				padding-left: 10px !important;
			}

			&__ttl {
				color: $color-text04;
				font-family: century-gothic, sans-serif;
				font-weight: 400 !important;
				letter-spacing: 0.32em;
				line-height: 1;
				@include font-line(10);

				@include is-sp {
					font-size: 12.5px !important;
					letter-spacing: 0.21em !important;
				}
			}

			&__sub {
				color: $color-text01;
				font-family: yu-mincho-pr6n, sans-serif;
				font-weight: 500 !important;
				padding: 15px 0 25px 0;
				letter-spacing: 0.45rem;

				@include font-line(26);

				@include is-sp {
					letter-spacing: 0.15em !important;
				}

				br {
					display: none;

					@include is-sp {
						display: block;
					}
				}
			}

			&__desc {
				color: $color-text-default;
				font-family: cross-platform-yu-gothic, sans-serif;
				font-weight: 500;
				text-align: justify;
				letter-spacing: 0.2em;

				@include is-sp {
					letter-spacing: 0.1em !important
				}

				@include font-line(13);
			}
		}
	}
}
