.c-slider {
	padding-top: 70px;
	padding-bottom: 60px;
	display: flex;

	&__item {
		width: calc(100% / 4);
		margin-right: 30px;

		@include is-sp {
			margin-right: 0;
			padding: 0 10px;
		}

		&:last-child {
			margin-right: 0;
		}

		.bg_img {
			position: relative;

			img {
				width: 100%;

				&:nth-of-type(2) {
					width: 40px;
					position: absolute;
					top: 0;
					left: 0;
					display: block;
					padding: 7px 0 0 7px;
				}
			}

			.youtube {
				color: #B51F32;
				font-family: century-gothic, sans-serif;
				font-weight: 400;
				position: absolute;
				top: 0;
				letter-spacing: 0.32em;
				right: 0;

				@include font-line(8.48);

				span {
					color: rgba(0, 0, 0, 0.5);
				}
			}

			.movies {
				color: #B51F32;
				font-family: century-gothic, sans-serif;
				font-weight: 400;
				position: absolute;
				top: 21px;
				right: 0;
				writing-mode: vertical-lr;
				letter-spacing: 0.32em;

				@include font-line(8.48);

				span {
					color: rgba(0, 0, 0, 0.5);
				}
			}

			.realestate {
				color: rgba(255, 255, 255, 0.5);
				font-family: century-gothic, sans-serif;
				font-weight: 400;
				position: absolute;
				top: 0;
				letter-spacing: 0.32em;
				right: 0;

				@include font-line(8.48);

				span {
					color: rgba(0, 0, 0, 0.5);
				}
			}

			.purchase {
				color: rgba(255, 255, 255, 0.5);
				font-family: century-gothic, sans-serif;
				font-weight: 400;
				position: absolute;
				top: 21px;
				right: 0;
				writing-mode: vertical-lr;
				letter-spacing: 0.32em;

				@include font-line(8.48);

				span {
					color: rgba(0, 0, 0, 0.5);
				}
			}
			

			.achieve {
				color: $color-text05;
				font-family: century-gothic, sans-serif;
				font-weight: 400;
				position: absolute;
				top: 0;
				letter-spacing: 0.23em;
				right: 0;

				@include font-line(8.48);

				span {
					color: #000;
				}
			}

			.interview {
				color: $color-text05;
				font-family: century-gothic, sans-serif;
				font-weight: 400;
				position: absolute;
				top: 21px;
				right: 0;
				writing-mode: vertical-lr;
				letter-spacing: 0.23em;

				@include font-line(8.48);

				span {
					color: #000;
				}
			}

			.tl_50 {
				position: absolute;
				top: 50%;
				left: 0;
				transform: translate(0%, -50%);
				padding-left: 10px;

				p {
					color: $color-text03;
					font-family: cross-platform-yu-gothic;

					&:nth-of-type(1) {
						font-weight: 500;
						@include font-line(6);
					}

					font-weight: 700;
					@include font-line(9);
				}
			}
		}
		&--ttl {
			text-align: center;
			font-family: cross-platform-yu-gothic;
			font-weight: 700;
			line-height: 1;
			padding: 20px 0;
			line-height: 21px;
			@include font-line(14);
		}

		&--sub {
			color: $color-text-default;
			text-align: justify;
			font-family: cross-platform-yu-gothic;
			font-weight: 500;
			@include font-line(11);
			line-height: 16.5px;
		}
	}
}
