.c-slider {
	// padding-top: 70px;
	padding-bottom: 60px;
	display: flex;
	position: relative;

	.prev-arrow {
		position: absolute;
		top: 33%;
		left: -4%;
		width: 12px;
		height: 25px;
		background-image: url(../image/page/top-page/arr-left.png) !important;
		background-repeat: no-repeat;
		z-index: 10;

		@include is-sp {
			background-image: url(../image/page/top-page/arr-left-sp.png) !important;
			width: 21px;
			height: 36px;
			left: 0;
			width: 40px;
			height: 40px;
			background-position: center;
			background-color: #fff;
			background-size: 12px;
		}

		@include is-max(450px) {
			top: 26%;
		}

		@include is-max(377px) {
			top: 29.5%;
		}

		@include is-max(350px) {
			top: 21%;
		}

		@include is-max(322px) {
			top: 18.5%;
		}
	}

	.next-arrow {
		position: absolute;
		top: 33%;
		right: -2%;
		width: 16px;
		height: 25px;
		background-image: url(../image/page/top-page/arr-right.png) !important;
		background-repeat: no-repeat;
		z-index: 10;

		@include is-sp {
			background-image: url(../image/page/top-page/arr-right-sp.png) !important;
			right: 0;
			width: 40px;
			height: 40px;
			background-position: center;
			background-color: #fff;
			background-size: 12px;
		}

		@include is-max(450px) {
			top: 26%;
		}

		@include is-max(377px) {
			top: 29.5%;
		}

		@include is-max(350px) {
			top: 21%;
		}

		@include is-max(322px) {
			top: 18.5%;
		}
	}
	&__item {
		width: calc(100% / 4);
		margin-right: 30px;

		@include is-sp {
			margin-right: 0;
			padding: 0 10px;
		}

		&:last-child {
			margin-right: 0;
		}

		.bg_img {
			position: relative;

			img {
				width: 100%;

				&:nth-of-type(2) {
					width: 40px;
					position: absolute;
					top: 0;
					left: 0;
					display: block;
					padding: 7px 0 0 7px;
				}
			}

			.youtube {
				color: #b51f32;
				font-family: century-gothic, sans-serif;
				font-weight: 400;
				position: absolute;
				top: 0;
				letter-spacing: 0.32em;
				right: 0;

				@include font-line(8.48);

				span {
					color: rgba(0, 0, 0, 0.5);
				}
			}

			.movies {
				color: #b51f32;
				font-family: century-gothic, sans-serif;
				font-weight: 400;
				position: absolute;
				top: 21px;
				right: 0;
				writing-mode: vertical-lr;
				letter-spacing: 0.32em;

				@include font-line(8.48);

				span {
					color: rgba(0, 0, 0, 0.5);
				}
			}

			.realestate {
				color: rgba(255, 255, 255, 0.5);
				font-family: century-gothic, sans-serif;
				font-weight: 400;
				position: absolute;
				top: 0;
				letter-spacing: 0.32em;
				right: 0;

				@include font-line(8.48);

				span {
					color: rgba(0, 0, 0, 0.5);
				}
			}

			.purchase {
				color: rgba(255, 255, 255, 0.5);
				font-family: century-gothic, sans-serif;
				font-weight: 400;
				position: absolute;
				top: 21px;
				right: 0;
				writing-mode: vertical-lr;
				letter-spacing: 0.32em;

				@include font-line(8.48);

				span {
					color: rgba(0, 0, 0, 0.5);
				}
			}

			.achieve {
				color: $color-text05;
				font-family: century-gothic, sans-serif;
				font-weight: 400;
				position: absolute;
				top: 0;
				letter-spacing: 0.23em;
				right: 0;

				@include font-line(8.48);

				span {
					color: #000;
				}
			}

			.interview {
				color: $color-text05;
				font-family: century-gothic, sans-serif;
				font-weight: 400;
				position: absolute;
				top: 21px;
				right: 0;
				writing-mode: vertical-lr;
				letter-spacing: 0.23em;

				@include font-line(8.48);

				span {
					color: #000;
				}
			}

			.tl_50 {
				position: absolute;
				top: 50%;
				left: 0;
				transform: translate(0%, -50%);
				padding-left: 10px;

				p {
					color: $color-text03;
					font-family: yu-gothic-pr6n, sans-serif;

					&:nth-of-type(1) {
						font-weight: 500;
						@include font-line(8);
					}

					font-weight: 700;
					@include font-line(11);
				}
			}
		}
		&--ttl {
			text-align: center;
			font-family: yu-gothic-pr6n, sans-serif;
			font-weight: 700;
			line-height: 1;
			padding: 20px 0;
			line-height: 21px;
			color: #0059b2;
			@include font-line(14);

			@include is-max(780px) {
				@include font-line(13);
			}

			@include is-max(500px) {
				@include font-line(14);
			}
		}

		&--sub {
			color: $color-text-default;
			text-align: justify;
			font-family: yu-gothic-pr6n, sans-serif;
			font-weight: 500;
			@include font-line(11);
			line-height: 16.5px;
			text-align: left;
		}
	}

	.slick-prev:before,
	.slick-next:before {
		content: none !important;
	}

	.slick-slide {
		@include is-sp {
			opacity: 0.5;
			.c-slider__item--ttl {
				opacity: 0;
			}

			.c-slider__item--sub {
				opacity: 0;
			}
		}
	}

	.slick-slide.slick-active {
		@include is-sp {
			opacity: 1;
			.c-slider__item--ttl {
				opacity: 1;
				transition: 0.5s;
			}

			.c-slider__item--sub {
				opacity: 1;
				transition: 0.5s;
			}
		}
	}
}

.c-slider_img1 {
	position: absolute;
	top: 199px;
	left: -8px;

	@include is-sp {
		display: none;
	}
}

.c-slider_img2 {
	position: absolute;
	bottom: 83px;
	top: unset;
	right: 10px;
	z-index: -1;
	width: auto !important;
}
