.acc {
	.c-banner {
		padding: 0 0 80px 0;
		background: linear-gradient(to right, #2079bd, #1e91d2);

		@include is-max(400px){
            padding: 0 0 95px 0;
        }
	}

	position: relative;
	&__section_1 {
		background: linear-gradient(to right, #003782, #0059b6);
		clip-path: polygon(0 6%, 100% 0%, 100% 101%, 0% 100%);
		margin-top: -100px;
		padding-bottom: 101px;
		padding-top: 162px;


		@include is-sp {
			padding-bottom: 101px;
			clip-path: polygon(0 4%, 100% 1%, 100% 101%, 0% 100%);
			padding-top: 100px;
		}

		.l-wrap {
			position: relative;

			.bg_1 {
				position: absolute;
				top: -90px;
				right: 85px;

				@include is-sp {
					width: 46.67%;
					top: -100px;
					right: 0;
				}
			}
		}
	}

	.bread_crumps {
		text-align: left;
		position: relative;
		z-index: 150;
		padding-top: 12px;
		.txt {
			width: 90%;
			margin: 0 auto;
			max-width: 1100px;
			color: #fff;
			font-family: cross-platform-yu-gothic, sans-serif;
			@include font-line(11);

			@include is-sp {
				@include font-line(12.5);
			}
		}

		span {
			padding: 0 8px;
		}
	}

	// clip top
	.top-clip {
		width: 800px;
		height: 250px;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		background: linear-gradient(to right, #003782, #0059b6);
		position: absolute;
		top: 0;
		right: 0%;
		margin-top: -115px;

		@include is-sp {
			width: 77%;
			height: 322px;
			top: 0;
		}
	}

	&__ttl {
		color: $color-text04;
		font-weight: 400;
		font-family: century-gothic, sans-serif;
		text-align: center;
		letter-spacing: 0.32em;
		text-align: center;
		padding-top: 30px;

		@include font-line(10, 10);

		// @include is-sp {
		// 	@include font-line(25, 20);
		// 	padding-top: 108px;
		// }

		@include is-sp {
			@include font-line(12, 12);
			padding-top: 27px;
		}
	}

	&__title {
		color: $color-text03;
		font-family: yu-mincho-pr6n, sans-serif;
		letter-spacing: 0.18em;
		line-height: 1;
		padding: 5px 0 8px 0;
		text-align: center;

		@include font-line(30, 48);

		// @include is-sp {
		// 	letter-spacing: 0.215em;
		// 	@include font-line(50, 32);
		// 	line-height: 75px;
		// 	padding: 48px 0 41px 0;
		// }

		@include is-sp {
			letter-spacing: 0.2em;
			@include font-line(25, 37.5);
			padding: 24px 0 20px 0;
		}
	}

	&__sub {
		color: $color-text03;
		font-family: cross-platform-yu-gothic, sans-serif;
		font-weight: 500;
		letter-spacing: 0.2em;
		line-height: 1;
		text-align: center;

		// @include is-sp {
		// 	letter-spacing: unset;
		// 	padding: 0 0 52px 0;
		// 	@include font-line(27, 40.5);
		// 	letter-spacing: 0.1em;
		// }

		@include is-sp {
			letter-spacing: unset;
			padding: 0 0 25px 0;
			@include font-line(13.4, 20);
			letter-spacing: 0.1em;
		}

		@include font-line(13, 26);
	}

	&__main-content {
		max-width: 1100px;
		margin: 0 auto;
		padding: 51px 0 0 0;
		position: relative;
		// margin-top: 20px;

		@include is-sp {
			padding: 0;
			margin: 0;
		}

		&--row {
			display: flex;
			justify-content: space-between;
			align-items: stretch;

			@include is-sp {
				flex-direction: column-reverse;
			}

			.col_left {
				width: 42%;
				color: #fff;

				@include is-sp {
					width: 100%;
				}

				.info {
					display: flex;
					align-items: stretch;
					// border-top: 1px solid #fff;

					&_left {
						position: relative;
						width: 100px;
						display: flex;
						align-items: center;
						text-align: center;
						justify-content: center;
						border-top: 1px solid #fff;
						padding: 10px 0;

						// @include is-sp {
						// 	width: 230px;
						// }

						// @include is-max(373px) {
						// 	width: 65px;
						// }

						@include is-max(900px) {
							width: 80px;
						}

						@include is-sp {
							width: 100px;
						}

						@include is-max(373px) {
							width: 65px;
						}

						&::after {
							content: "";
							width: 1px;
							height: 80%;
							background-color: #fff;
							position: absolute;
							right: -10px;

							// @include is-sp {
							// 	height: 94%;
							// }

							@include is-sp {
								height: 80%;
							}
						}

						p {
							@include font-line(13);
							letter-spacing: 0.42em;
							font-family: cross-platform-yu-gothic, sans-serif;
							font-weight: 500;
							width: 74px;

							// @include is-sp {
							// 	@include font-line(25, 50);
							// 	letter-spacing: 0.2em;
							// 	width: auto;
							// }

							@include is-sp {
								@include font-line(13, 25);
								letter-spacing: 0.1em;
								width: 74px;
							}
						}
					}

					&_left:last-child {
						display: none;
					}

					&_right {
						position: relative;
						width: calc(100% - 120px);
						margin-left: 20px;
						display: flex;
						align-items: center;
						border-top: 1px solid #fff;

						@include is-max(900px) {
							width: calc(100% - 80px);
						}

						@include is-max(373px) {
							width: calc(100% - 65px);
						}

						p {
							@include font-line(13);
							letter-spacing: 0.12em;
							font-family: cross-platform-yu-gothic, sans-serif;
							font-weight: 500;
							padding: 19px 0 19px 20px;

							// @include is-sp {
							// 	@include font-line(25, 50);
							// 	letter-spacing: 0.2em;
							// 	padding: 31px 0 31px 40px;
							// }

							@include is-max(900px) {
								padding-left: 0;
								font-size: 1.5vw;
							}

							@include is-sp {
								@include font-line(13, 25);
								letter-spacing: 0.1em;
								padding: 15px 0 15px 10px;
								white-space: nowrap;
							}

							@include is-max(373px) {
								padding-left: 0;
							}
						}

						br[br01] {
							display: block;

							@include is-sp {
								display: none;
							}
						}
					}

					.il01,
					.ir01 {
						min-height: 100px;
					}

					.il02,
					.ir02 {
						min-height: 140px;
					}

					.il03,
					.ir03 {
						min-height: 50px;
					}
				}

				& .info:last-child {
					.info_left {
						border-bottom: 1px solid #fff;

						&::after {
							height: 87%;
							background-color: #fff;
							top: 9%;

							// @include is-sp {
							// 	height: 80%;
							// }
						}
					}

					.info_right {
						border-bottom: 1px solid #fff;
					}
				}

				& .info:nth-child(3) {
					.info_left {
						&::after {
							height: 87%;
							top: 9%;
							background-color: #fff;

							// @include is-sp {
							// 	height: 80%;
							// }
						}
					}
				}

				& .info:nth-child(2) {
					.info_left {
						&::after {
							height: 95%;
							top: 2%;
							background-color: #fff;

							// @include is-sp {
							// 	height: 80%;
							// }
						}
					}
				}

				& .info:first-child {
					.info_left {
						&::after {
							height: 92%;
							top: 4%;
							background-color: #fff;

							// @include is-sp {
							// 	height: 93%;
							// 	top: 3%;
							// }
						}
					}
				}
			}

			.col_right {
				width: 50%;

				// @include is-sp {
				// 	width: 100%;
				// 	height: 501px;
				// 	padding-bottom: 40px;
				// }

				@include is-sp {
					width: 100%;
					height: 250px;
					padding-bottom: 20px;
				}
				// background: red;
				img {
					width: 100%;
					object-fit: cover;
				}
			}
		}
	}

	& .section_3 {
		padding-bottom: 100px;
		overflow: hidden;

		@include is-sp {
			padding-bottom: 75px;
		}
		.pt100 {
			position: relative;
			padding-top: 99px;
		}

		&__main-content {
			&-row {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;

				.col {
					display: flex;
					justify-content: space-between;
					flex-wrap: wrap;

					&_left {
						// width: calc(100% - 722px);
						width: 230px;
						background: linear-gradient(90deg, #2579bf 0%, #2593d5 50%);
						color: $color-text03;
						display: flex;
						align-items: center;
						justify-content: center;
						flex-direction: column;
						height: 100%;

						// @include is-sp {
						// 	width: 100%;
						// 	padding: 40px 0;
						// 	height: auto;
						// 	text-align: center;
						// 	margin-bottom: 50px;
						// }

						@include is-sp {
							width: 100%;
							padding: 20px 0;
							margin-bottom: 25px;
							height: auto;
							text-align: center;
						}

						& p:first-child {
							font-weight: 700;
							font-family: century-gothic, sans-serif;
							@include font-line(10, 20);
							letter-spacing: 0.26em;

							// @include is-sp {
							// 	@include font-line(20, 40);
							// }

							@include is-sp {
								@include font-line(10, 20);
							}
						}

						& p:last-child {
							font-weight: 700;
							@include font-line(16, 28);
							font-family: cross-platform-yu-gothic, sans-serif;
							letter-spacing: 0.3em;

							// @include is-sp {
							// 	@include font-line(32, 65);
							// }

							@include is-sp {
								@include font-line(16, 28);
							}
						}

						br[br] {
							@include is-sp {
								display: block;
							}
						}
					}

					&_right {
						display: flex;
						width: calc(100% - 297px);
						justify-content: space-between;
						flex-wrap: wrap;

						@include is-max(900px) {
							width: calc(100% - 250px);
						}

						@include is-sp {
							width: 100%;
						}

						p {
							font-weight: 500;
							@include font-line(12, 21);
							font-family: cross-platform-yu-gothic, sans-serif;
							letter-spacing: 0;
							color: #000;
							padding-top: 15px;

							// @include is-sp {
							// 	padding-bottom: 146px;
							// 	@include font-line(27, 54);
							// }

							@include is-sp {
								padding-bottom: 69px;
								@include font-line(13.4, 27);
							}
						}

						&-flex {
							width: 30%;
							position: relative;

							@include is-sp {
								width: 100%;
							}

							img {
								width: 100%;
							}

							.pos {
								position: absolute;
								width: 17px;
								right: -27px;
								top: 42px;

								@include is-max(990px) {
									width: 10%;
									right: -14%;
									top: 14%;
								}

								// @include is-sp {
								// 	width: 8%;
								// 	right: unset;
								// 	left: 48%;
								// 	bottom: 3%;
								// 	top: unset;
								// 	transform: translateX(-50%);
								// 	transform: rotate(90deg);
								// }

								@include is-sp {
									width: auto;
									left: 50%;
									bottom: 6%;
									top: unset;
									transform: translateX(-50%);
									transform: rotate(90deg);
									right: unset;
								}
							}

							&:last-child {
								p {
									padding-bottom: 0;
								}
							}
						}
					}

					&:first-child {
						padding-bottom: 60px;
					}
				}
			}
		}

		&__bg_1 {
			position: absolute;
			right: 29px;
			top: 62px;
			z-index: -1;
			width: 373px;

			@include is-sp {
				width: 122px;
				top: 16px;
			}
		}

		&__bg_2 {
			position: absolute;
			top: 236px;
			left: -20px;
			z-index: -1;

			// @include is-sp {
			// 	top: 414px;
			// }

			@include is-sp {
				top: 232px;
				left: 8px;
				width: 144px;
			}
		}

		&__bg_3 {
			position: absolute;
			right: -19px;
			bottom: 31%;
			width: 306px;
			z-index: -1;
		}

		&__cnt01 {
			margin-bottom: 70px;

			// @include is-sp {
			// 	margin-bottom: 100px;
			// }

			@include is-sp {
				margin-bottom: 50px;
				padding-left: 10px;
			}
		}
	}

	// bg-img
	&__bg_1 {
		position: absolute;
		top: -57px;
		right: 103px;
		width: 316px;

		@include is-sp {
			right: 10px;
			width: 161px;
		}
	}

	&__bg_1_sp {
		position: absolute;
		top: -57px;

		@include is-sp {
			right: 10px;
			width: 171px;
		}
	}

	// clip path
	.clip-top {
		margin-bottom: 50px !important;
		-webkit-clip-path: polygon(100% 0%, 0 0, 0% 100%);
		clip-path: polygon(100% 0%, 0 0, 0% 100%);
		padding: 55px 0 0 0;
		background: rgb(95, 165, 205);
		text-align: center;
		margin-top: -25px;

		@include is-sp {
			padding: 60px 0 0 0;
		}
	}

	&--cntct {
		@include is-sp {
			padding-bottom: 60px !important;
		}
	}

	&--fd {
		@include is-max(800px) {
			padding: 0 !important;
			justify-content: space-around;
		}
		@include is-sp {
			flex-direction: column;
			padding: 0;
		}
	}

	&--btn {
		background-color: #fff;
		margin: 0;
		color: #258acf;
		letter-spacing: 0.2em;

		@include is-sp {
			letter-spacing: 0.13em;
		}
	}

	&--btn:first-child {
		margin-right: 30px;

		@include is-max(325px) {
			img {
				right: 14px;
			}
		}
	}
	&--btn:last-child {
		margin-left: 30px;
	}

	@include is-sp {
		&--btn:first-child {
			margin: 0;
		}
		&--btn:last-child {
			margin: 25px 0 0 0;
		}
	}

	.acc_ttl {
		letter-spacing: 0.28em;
		// @include is-sp {
		// 	@include font-line(25);
		// }

		@include is-sp {
			@include font-line(13);
		}
	}

	.acc_sub {
		line-height: 37px;
		padding-bottom: 0;
		font-weight: 500;

		// @include is-sp {
		// 	@include font-line(50);
		// 	line-height: 75px;
		// }

		@include is-sp {
			@include font-line(25);
			letter-spacing: 0.075em;
			line-height: 39px;
		}

		@include is-max(410px) {
			font-size: 5.9vw;
		}
	}
}
