.case {
	.clipbg_wrap {
		&:nth-child(odd) {
			background-color: #fff;
		}
		&:nth-child(even) {
			background: linear-gradient(
				90deg,
				rgba(37, 121, 191, 1) 0%,
				rgba(37, 147, 213, 1) 50%
			);
		}
	}
	.clip-top {
		-webkit-clip-path: polygon(100% 0%, 0 0, 0% 100%);
		clip-path: polygon(100% 0%, 0 0, 0% 100%);
		padding: 100px 0 0 0;
		background-color: #fff;
		text-align: center;
		margin-bottom: 90px;
	}
	.section_1 {
		background: linear-gradient(
			90deg,
			rgba(37, 121, 191, 1) 0%,
			rgba(37, 147, 213, 1) 50%
		);
		// padding: 190px 0 0 0;
		// text-align: center;

		// @include is-sp {
		// 	padding: 100px 0 0 0;
		// }

		.clip-bottom {
			-webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
			clip-path: polygon(100% 0%, 100% 101%, 0% 100%);
			padding: 100px 0 0 0;
			background-color: #fff;
			text-align: center;

			@include is-sp {
				padding: 100px 0 0 0;
			}
		}

		.l-wrap {
			position: relative;

			.bg_1 {
				position: absolute;
				top: -90px;
				right: 85px;

				@include is-sp {
					width: 46.67%;
					top: -100px;
					right: 0;
				}
			}
		}

		&__ttl {
			color: $color-text04;
			font-weight: 400;
			font-family: century-gothic, sans-serif;
			text-align: center;
			letter-spacing: 1em;
			line-height: 1;

			@include font-line(10);
		}
	}

	.section_2 {
		padding-top: 55px;

		.photos {
			display: flex;
			flex-wrap: wrap;
			padding-top: 70px;
			padding-bottom: 55px;

			@include is-sp {
				padding: 50px 30px;
			}

			img {
				width: calc(100% / 5);

				@include is-sp {
					width: calc(100% / 2);
				}
			}
		}
	}

	.section_3 {
		padding-top: 100px;

		.l-wrap {
			position: relative;

			.bg_1 {
				position: absolute;
				top: 0;
				right: 0;
				width: 370px;

				@include is-sp {
					width: 122px;
					right: 20px;
					top: -30px;
				}
			}
		}
	}
}
