.case {
	position: relative;
	.c-banner {
		background: linear-gradient(to right, #2079bd, #1e91d2) !important;
		padding: 0 0 80px 0;

		@include is-max(400px) {
			padding-bottom: 95px;
		}

		&--ttl {
			.br-sp {
				display: none;
				@include is-sp {
					display: block;
				}
			}

			p {
				&:nth-child(1) {
					line-height: 1.45em;
					@include is-max(500px) {
						font-size: 6vw;
					}
				}
				&:nth-child(2) {
					font-weight: 700;
					@include is-max(500px) {
						font-size: 3vw;
					}
				}
			}
		}
	}

	.bread_crumps {
		text-align: left;
		position: relative;
		z-index: 150;
		padding-top: 12px;
		.txt {
			width: 90%;
			margin: 0 auto;
			max-width: 1100px;
			color: #fff;
			font-family: cross-platform-yu-gothic, sans-serif;
			@include font-line(11);

			@include is-sp {
				@include font-line(12.5);
			}
		}

		span {
			padding: 0 8px;
		}
	}

	.clipbg_wrap {
		&:nth-child(odd) {
			background-color: #fff;
		}
		&:nth-child(even) {
			background: linear-gradient(
				90deg,
				rgba(37, 121, 191, 1) 0%,
				rgba(37, 147, 213, 1) 50%
			);
		}
	}
	.clip-top {
		// -webkit-clip-path: polygon(100% 0%, 0 0, 0% 100%);
		// clip-path: polygon(100% 0%, 0 0, 0% 100%);
		padding: 55px 0 0 0;
		// background: rgb(95, 165, 205);
		text-align: center;
		margin-bottom: 90px;
		margin-top: -25px;
	}
	.section_1 {
		background: linear-gradient(to right, #003782, #0059b6);
		clip-path: polygon(0 50px, 100% 0, 100% 96%, 0% 100%);
		margin-top: -100px;
		text-align: center;

		@include is-sp {
			clip-path: polygon(0 43px, 100% 12px, 100% 101%, 0% 100%);
			padding: 115px 0 76.5px 0;
			margin-top: -100px;
		}

		.clip-bottom {
			-webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
			clip-path: polygon(100% 0%, 100% 101%, 0% 100%);
			padding: 100px 0 0 0;
			background-color: #fff;
			text-align: center;

			@include is-sp {
				padding: 100px 0 0 0;
			}
		}

		.l-wrap {
			position: relative;

			.bg_1 {
				position: absolute;
				top: -90px;
				right: 85px;

				@include is-sp {
					width: 46.67%;
					top: -100px;
					right: 14px;
				}
			}
		}

		&__ttl {
			color: $color-text04;
			font-weight: 400;
			font-family: century-gothic, sans-serif;
			text-align: center;
			letter-spacing: 0.32em;

			@include font-line(10, 20);
		}

		.c-clipbg__CS {
			padding-bottom: 60px;
		}

		.c-case--items {
			&:nth-of-type(odd) {
				background-color: #fff;
				position: relative;
				padding: 40px 0;
				-webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
				clip-path: polygon(0 -1%, 100% 0, 100% 100%, 0% 100%);
			}
		}
	}

	.section_2 {
		padding-top: 55px;

		.photos {
			display: flex;
			flex-wrap: wrap;
			padding-top: 70px;
			padding-bottom: 55px;

			@include is-sp {
				padding: 50px 30px;
			}

			img {
				width: calc(100% / 5);

				@include is-sp {
					width: calc(100% / 2);
				}
			}
		}
	}

	.section_3 {
		padding: 100px 0 100px 0;

		.l-wrap {
			position: relative;

			.bg_1 {
				position: absolute;
				top: 0;
				right: 0;
				width: 370px;
				z-index: -1;

				@include is-sp {
					width: 122px;
					right: 20px;
					top: -30px;
					display: none;
				}
			}
		}
	}

	// clip top
	.top-clip {
		width: 800px;
		height: 250px;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		background: linear-gradient(to right, #003782, #0059b6);
		position: absolute;
		top: 0;
		right: 0%;
		margin-top: -115px;

		@include is-sp {
			width: 77%;
			height: 322px;
			top: 0;
		}
	}

	.c-case03__txt {
		margin-bottom: 70px;
	}

}
