.case08 {
	.c-banner {
		background: #72a3c8;
		margin: 0 auto;
		text-align: center;
		margin-top: -1px;

		img {
			position: relative;
			z-index: 150;
		}

		&--ttl {
			color: #fff;
			position: absolute;
			left: 70px;
			top: 35%;
			z-index: 150;
			font-family: yu-mincho-pr6n, sans-serif;
			@include font-line(30, 70);
			text-align: left;
			letter-spacing: 0.1em;

			@include is-sp {
				left: 20px;
			}

			p {
				&:nth-child(2) {
					@include font-line(13);
					letter-spacing: 0.3em;
					font-family: century-gothic, sans-serif;
					font-weight: 700;
				}
			}
		}
	}

	&--s1 {

		&_title {
			letter-spacing: 0.18em !important;
		}

		@include is-sp {
			&_ttl {
				font-size: 0.75rem !important;
			}

			&_title {
				letter-spacing: 0.18em !important;
				@include font-line(25);
			}

			&_sub {
				@include font-line(14);
			}

			&_hide {
				display: none !important;
			}

			.l15 {
				left: 15px;
			}
		}
	}

	&--s2 {
		padding-top: 0 !important;
	}

	// globals

	&--bg-01 {
		position: absolute !important;
		left: 0 !important;
		width: 290px !important;
		bottom: -65px !important;
		z-index: -1 !important;
	}

	&--s1_c4 {
		-webkit-clip-path: polygon(0 15%, 100% 0%, 105% 100%, 0% 102%) !important;
		clip-path: polygon(0 15%, 100% 0%, 105% 100%, 0% 102%) !important;
	}

	// // padding
	// &--pt-sp {
	// 	padding-top: 0 !important;
	// }

	.clip-top {
		margin-bottom: 60px;
	}
}
