.ci {
	position: relative;
	.c-banner {

		background: linear-gradient(to right, #0059C4,  #000017);
		padding: 0 0 80px 0;

		@include is-max(400px) {
			padding-bottom: 95px;

		}
		&--ttl {
			p {
				&:nth-child(1) {
					@include is-max(1000px) {
						font-size: 3vw;
					}
					@include is-sp {
						font-size: 25px;
					}
					@include is-max(400px) {
						font-size: 7vw;
					}
				}
				&:nth-child(2) {
					line-height: 2;
					@include is-max(1000px) {
						font-size: 1.3vw;
					}
					@include is-sp {
						font-size: 12px;
					}
					@include is-max(400px) {
						font-size: 3vw;
					}
				}
			}
		}
	}

	&__section_1 {
		position: relative;
		background: linear-gradient(to right, #000017, #0059C4);
		padding: 115px 0 100px 0;
		margin-top: -100px;
		clip-path: polygon(0 50px, 100% 0, 100% 100%, 0% 100%);

		&::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 16%;
            top: 0;
            left: 0;
            right: 0;
            clip-path: polygon(50% 0%, 100% 0, 100% 16%, 72% 33%, 0% 18%, 0 0, 0 0);
            background: linear-gradient(to right, #0059C6, #000017);
            opacity: 0.4;
            @include is-sp {
                clip-path: polygon(
					50% 0%,
					100% 0,
					100% 75%,
					66% 100%,
					0% 40%,
					0% 0%,
					0% 0%
					);
                height: 4.71%;
            }
        }

		.clip-path {
			padding: 100px 0 100px 0;
			text-align: center;
			margin-top: -135px;
			padding-bottom: 101px;

			// @include is-sp {
			// 	clip-path: polygon(0 4%, 100% 2%, 100% 100%, 0% 100%);
			// }

			// @include is-max(400px) {
			// 	clip-path: polygon(0 3%, 100% 2%, 100% 100%, 0% 100%);
			// 	margin-top: -145px;
			// }
		}

		@include is-sp {
			padding-bottom: 101px;
			clip-path: polygon(0 43px, 100% 12px, 100% 101%, 0% 100%);
		}

		.l-wrap {
			position: relative;

			.bg_1 {
				position: absolute;
				top: -90px;
				right: 85px;

				@include is-sp {
					width: 46.67%;
					top: -100px;
					right: 0;
				}
			}
		}
	}

	&__ttl {
		color: $color-text04;
		font-weight: 400;
		font-family: century-gothic, sans-serif;
		text-align: center;
		letter-spacing: 0.32em;
		text-align: center;
		padding-top: 30px;

		@include font-line(10, 10);

		@include is-sp {
			@include font-line(12, 12);
			padding-top: 27px;
		}
	}

	&__title {
		color: $color-text03;
		font-family: yu-mincho-pr6n, sans-serif;
		letter-spacing: 0.18em;
		line-height: 1;
		padding: 5px 0 8px 0;
		text-align: center;

		@include font-line(30, 48);

		@include is-sp {
			letter-spacing: 0.2em;
			@include font-line(25, 32);
			padding: 24px 0 20px 0;
		}
	}

	&__sub {
		color: $color-text03;
		font-family: yu-gothic-pr6n, sans-serif;;
		font-weight: 500;
		letter-spacing: 0.2em;
		line-height: 1;
		text-align: center;

		@include is-sp {
			letter-spacing: unset;
			padding: 0 0 25px 0;
			@include font-line(13.4, 20);
			letter-spacing: 0.1em;
		}

		@include font-line(13, 26);
	}

	&__main-content {
		max-width: 1100px;
		margin: 0 auto;
		padding: 51px 0 0 0;
		position: relative;

		@include is-sp {
			margin: 0;
			padding: 30px 0 0 0;
		}

		&--row {
			display: flex;
			justify-content: space-between;
			align-items: stretch;

			@include is-sp {
				flex-direction: column-reverse;
			}

			.col {
				width: 100%;
				color: #fff;

				@include is-sp {
					width: 100%;
				}

				.info {
					display: flex;
					align-items: stretch;

					&_left {
						position: relative;
						width: 226px;
						display: flex;
						align-items: flex-start;
						text-align: center;
						justify-content: center;
						border-top: 1px solid #fff;
						padding-top: 19px;

						@include is-max(1025px) {
							width: 138px;
						}

						@include is-sp {
							width: 115.5px;
							padding-top: 15px;
						}

						@include is-max(405px) {
							width: 94.5px;
						}

						p {
							@include font-line(13);
							letter-spacing: 0.42em;
							font-family: yu-gothic-pr6n, sans-serif;;
							font-weight: 700;
							width: 184px;
							line-height: 24px;

							@include is-max(820px) {
								font-size: 1.5vw;
							}

							@include is-sp {
								@include font-line(13, 25);
								letter-spacing: 0.21em;
								width: 100%;
								font-weight: 500;
							}
						}
					}

					&_left:last-child {
						display: none;
					}

					&_right {
						position: relative;
						width: calc(100% - 226px);
						margin-left: 12px;
						// display: flex;
						align-items: center;
						border-top: 1px solid #fff;

						@include is-max(1025px) {
							width: calc(100% - 138px);
							justify-content: space-between;
						}

						@include is-sp {
							width: calc(100% - 115.5px);
						}

						@include is-max(440px) {
							width: calc(100% - 106.5px);
						}

						@include is-max(375px){
							width: calc(100% - 82.5px);
						}

						&-cont {
							padding: 19px 0 19px 20px;
							display: flex;
							flex-direction: column;
							justify-content: center;

							@include is-sp {
								@include font-line(13, 25);
								letter-spacing: 0.1em;
								padding: 15px 0 15px 20px;
							}

							@include is-max(440px) {
								padding: 15px 0 15px 10px;
							}

							.tel{

								a{
									color: #FFFFFF;
									// font-weight: 600;
								}
							}

							.rslt-here{

								a{
									color: #fff;
									text-decoration: underline
								}
							}

							p {
								@include font-line(13);
								letter-spacing: 0.12em;
								font-family: yu-gothic-pr6n, sans-serif;;
								font-weight: 500;
								line-height: 24px;
								text-align: left;

								@include is-sp{
									letter-spacing: 1px;
								}

								@include is-max(375px){
								font-size: 3.1vw;
								}
							}

							.sp-block {
								@include is-sp {
									display: block;
								}
							}

							&::before {
								content: "";
								width: 1px;
								height: 90%;
								background-color: #fff;
								position: absolute;
								left: -6px;
							}

							&-flex {
								flex-direction: row;
								justify-content: flex-start;
								align-items: baseline;

								@include is-sp {
									flex-wrap: wrap;
								}

								.col_1 {
									width: 39%;
									@include is-max(945px) {
										width: 50%;
									}

									@include is-sp {
										width: 100%;
									}
								}

								.col_2 {
									@include is-max(945px) {
										width: 50%;
									}

									@include is-sp {
										width: 100%;
									}
								}

								p {
									text-indent: -27px;
									margin-left: 27px;

									&:nth-child(2){
										@include is-sp{
											letter-spacing: -1px;
										}
									}

									@include is-max(435px) {
										text-indent: -21px;
										margin-left: 21px;
									}
								}

								&::before {
									content: "";
									width: 1px;
									height: 96%;
									background-color: #fff;
									position: absolute;
									left: -6px;
									top: 4px;
								}
							}
						}

						br[br01] {
							display: block;

							@include is-sp {
								display: none;
							}
						}

						.bullets {
							color: #65a6cd;
							padding-right: 12px;

							@include is-sp {
								padding-right: 5px;
							}
						}
					}

					&:nth-child(3) {
						.info_right-cont {
							&::before {
								height: 94%;

								@include is-sp {
									height: 96%;
									top: 6px;
								}
							}
						}
					}

					&:nth-child(10) {
						.info_right-cont {
							&::before {
								@include is-sp {
									height: 98%;
								}
							}
						}
					}

					&:nth-child(11) {
						.info_right-cont-flex {
							&::before {
								height: 97%;
								top: 5px;

								@include is-sp {
									height: 98.5%;
								}
							}
						}
					}

					&:nth-child(12) {
						.info_right-cont {
							p {
								text-indent: -27px;
								margin-left: 27px;
							}
							&::before {
								height: 94%;
								top: 5px;
							}
						}
					}
				}

				& .info:last-child {
					.info_left {
						border-bottom: 1px solid #fff;
					}

					.info_right {
						border-bottom: 1px solid #fff;
					}
				}
			}
		}
	}

	// bg-img
	&__bg_1 {
		position: absolute;
		top: -100px;
		right: 89px;
		width: 352px;

		@include is-sp {
			right: 10px;
			width: 193px;
			top: -91px;
		}
	}

	// clip path
	// .clip-top {
	// 	margin-bottom: 50px !important;
	// 	clip-path: polygon(0 80%, 100% 0, 100% 100%, 0% 100%);
	// 	padding: 55px 0 0 0;
	// 	// background: rgb(95, 165, 205);
	// 	background: red;
	// 	text-align: center;

	// 	@include is-sp {
	// 		padding: 60px 0 0 0;
	// 	}
	// }

	&--fd {
		@include is-sp {
			flex-direction: column;
			margin-top: 50px !important;
		}
	}

	&--btn {
		background-color: #fff;
		margin: 0;
		color: #258acf;
	}

	&--btn:first-child {
		margin-right: 30px;

		@include is-max(325px) {
			img {
				right: 14px;
			}
		}
	}
	&--btn:last-child {
		margin-left: 30px;
	}

	@include is-sp {
		&--btn:first-child {
			margin: 0;
		}
		&--btn:last-child {
			margin: 25px 0 0 0;
		}
	}

	.acc_ttl {
		letter-spacing: 0.28em;

		@include is-sp {
			@include font-line(13);
		}
	}

	.acc_sub {
		line-height: 37px;
		padding-bottom: 0;
		font-weight: 500;

		@include is-sp {
			@include font-line(25);
			letter-spacing: 0.075em;
			line-height: 39px;
		}
	}
}
