.contact-confrm {
	position: relative;


	.c-banner {
		padding: 0 0 80px 0;
		background: linear-gradient(to right, #2079bd, #1e91d2);

		@include is-max(400px) {
			padding: 0 0 95px 0;
		}

		&--ttl {
			line-height: 34px;
			top: 40%;

			p {
				@include is-max(400px) {
					&:nth-child(1) {
						line-height: 1.25em;
					}
				}

				@include is-max(430px) {
					&:nth-child(1) {
						font-size: 7vw;
					}
				}
			}

			.br-sp {
				display: none;

				@include is-sp {
					display: block;
				}
			}

		}
	}

	input {
		font-family: yu-gothic-pr6n, sans-serif;;
		font-weight: 500;
		letter-spacing: 0.28em;
	}

	.sect_1 {
		background: linear-gradient(to right, #003782, #0059b6);
		padding: 100px 0 20px 0;
		clip-path: polygon(0 2.5%, 100% 0, 100% 100%, 0% 100%);
		margin-top: -100px;
		padding-bottom: 101px;
		padding-top: 80px;

		@include is-sp {
			background: linear-gradient(to right, #fff, #fff);
			padding-bottom: 30px;
		}

		.l-wrap {
			max-width: 1200px;
		}
	}

	.text {
		width: 100%;

		&:nth-of-type(10) {
			width: unset;
		}

		&:nth-of-type(11) {
			width: unset;
		}
	}

	&__bg-white {
		background-color: #fff;
		margin: 11px 0 0 0;
		padding: 75px 30px 90px 30px;

		@include is-sp {
			margin: 30px 0 0 0;
			padding: 0;
		}
	}

	&__bg-txt {
		background-color: #e2f3fb;
		padding: 10px 0;

		&--ttl {
			@include font-line(15);
			font-weight: 700;
			font-family: yu-gothic-pr6n, sans-serif;;
			letter-spacing: 0.32em;
			color: #258acf;
			text-align: center;
		}
	}

	&__desc {
		@include font-line(11);
		font-family: yu-gothic-pr6n, sans-serif;;
		font-weight: 500;
		text-align: center;
		color: #333333;
		padding: 30px 0 50px 0;
		line-height: 22px;
	}

	&__req {
		&--txt {
			@include font-line(12);
			font-family: yu-gothic-pr6n, sans-serif;;
			font-weight: 500;
			color: #258acf;
			text-align: left;

			@include is-sp {
				padding-bottom: 20px;
			}
		}
	}

	.form {
		padding: 0 4vw;

		@include is-sp {
			padding: 0;
		}
	}

	&__flex {
		display: flex;
		align-items: center;
		position: relative;
		z-index: 1;
		padding: 10px 0;

		&::before {
			background-color: #e2f3fb;
			position: absolute;
			content: "";
			width: 34%;
			height: 100%;
			left: 0;
			z-index: -1;

			@include is-sp {
				background-color: #fff;
				content: none;
			}

		}

		&:nth-child(1) {
			border-top: 1px solid #258acf;
			border-bottom: 1px solid #258acf;

			@include is-sp {
				flex-direction: column;
			}

			.col-1 {
				@include is-sp {
					width: 100%;
					background-color: #e2f3fb;
					padding: 5px 0;
				}

				label {
					padding-left: 0;
				}
			}

			.col-2 {
				@include is-sp {
					flex-direction: column;
					width: 100%;
					padding: 20px 0;
				}

				div {

					&:nth-child(1),
					&:nth-child(2) {
						@include is-sp {
							width: 100%;
						}
					}

					&:nth-child(1) {
						@include is-sp {
							padding-bottom: 20px;
						}
					}

					label {
						@include is-sp {
							padding-left: 0;
						}
					}
				}
			}

			label {
				padding-left: 30px;
			}
		}

		&:nth-child(2) {
			border-bottom: 1px solid #258acf;

			@include is-sp {
				flex-direction: column;
				padding: 0;
			}

			.col-1 {
				@include is-sp {
					width: 100%;
					background-color: #e2f3fb;
					padding: 5px 0;
				}

				label {
					padding-left: 0;
				}
			}

			.col-2 {
				@include is-sp {
					width: 100%;
					flex-direction: column;
					padding: 20px 0;
				}

				div {

					&:nth-child(1),
					&:nth-child(2) {
						@include is-sp {
							width: 100%;

						}

						&:nth-child(1) {
							@include is-sp {
								padding-bottom: 20px;
							}
						}
					}

					label {
						@include is-sp {
							padding-left: 0;
						}
					}
				}

				label {
					padding-left: 30px;
				}
			}
		}

		&:nth-child(3) {
			border-bottom: 1px solid #258acf;

			@include is-sp {
				flex-direction: column;
			}

			.col-1 {
				@include is-sp {
					width: 100%;
					background-color: #e2f3fb;
					padding: 5px 0;
				}
			}

			.col-2 {
				@include is-sp {
					padding-top: 20px;
					width: 100%;
				}

				div {
					&:nth-child(1) {
						width: 100%;
						padding-left: 30px;

						@include is-sp {
							padding-left: 0;
						}
					}
				}
			}
		}

		&:nth-child(4) {
			border-bottom: 1px solid #258acf;

			@include is-sp {
				flex-direction: column;
			}

			.col-1 {
				@include is-sp {
					width: 100%;
					background-color: #e2f3fb;
					padding: 5px 0;
				}
			}

			.col-2 {
				@include is-sp {
					padding-top: 20px;
					width: 100%;
				}

				div {
					&:nth-child(1) {
						width: 100%;
						padding-left: 30px;

						@include is-sp {
							padding-left: 0;
						}
					}
				}
			}
		}

		&:nth-child(5) {
			border-bottom: 1px solid #258acf;

			@include is-sp {
				flex-direction: column;
			}

			.col-1 {
				@include is-sp {
					background-color: #e2f3fb;
					width: 100%;
					padding: 5px 0;
				}
			}

			.col-2 {
				flex-direction: column;

				@include is-sp {
					padding-top: 20px;
					width: 100%;
				}

				div {
					&:nth-child(1) {
						width: 100%;
						padding-left: 30px;
						padding-bottom: 10px;

						@include is-sp {
							padding-left: 0;
							padding-bottom: 20px;
						}
					}

					&:nth-child(2) {
						width: 100%;
						padding-left: 30px;

						@include is-sp {
							padding-left: 0;
						}
					}
				}

				label {
					padding-right: 15px;
					width: 115px;
				}
			}
		}

		&:nth-child(6) {
			border-bottom: 1px solid #258acf;

			@include is-sp {
				flex-direction: column;
			}

			.col-1 {
				@include is-sp {
					background-color: #e2f3fb;
					width: 100%;
					padding: 5px 0;
				}
			}

			.col-2 {
				justify-content: center;

				@include is-sp {
					width: 100%;
					padding-top: 20px;
					justify-content: space-between;
				}

				div {
					&:nth-child(1) {
						width: 26%;

						@include is-sp {
							width: 30%;
						}
					}

					&:nth-child(3) {
						width: 26%;

						@include is-sp {
							width: 30%;
						}
					}

					&:nth-child(5) {
						width: 26%;

						@include is-sp {
							width: 30%;
						}
					}
				}

				span {
					width: 30px;
				}
			}
		}

		&:nth-child(7) {
			border-bottom: 1px solid #258acf;

			@include is-sp {
				flex-direction: column;
			}

			.col-1 {
				@include is-sp {
					background-color: #e2f3fb;
					width: 100%;
					padding: 5px 0;
				}
			}

			.col-2 {
				justify-content: center;
				flex-direction: column;
				padding-left: 20px;

				@include is-sp {
					width: 100%;
					padding-left: 0;
					padding-top: 20px;
				}

				.pc-hide {
					display: block;

					@include is-sp {
						display: none;
					}
				}

				.sp-show {
					display: none;

					@include is-sp {
						background-color: #258acf;
						display: block;
						width: 100%;
						padding: 10px 0;
						border-radius: 10px;
						margin-bottom: 20px;
						color: #ffffff;
						font-family: yu-gothic-pr6n, sans-serif;;
						@include font-line(13);
						letter-spacing: 0.28em;
					}
				}

				.row-1 {
					width: 100%;
					padding-bottom: 10px;

					@include is-sp {
						padding-bottom: 15px;
					}

					div {
						&:nth-child(1) {
							padding-right: 20px;
							width: auto;
						}

						&:nth-child(2) {
							width: 26%;
						}

						&:nth-child(4) {
							width: 26%;
						}

						&:nth-child(6) {
							width: 26%;

							p {
								border-radius: 10px;
								background-color: #258acf;
								color: #fff;
								text-align: center;
								padding: 7px 0;
							}
						}
					}
				}

				.row-2 {
					width: 100%;
					padding-bottom: 10px;
					display: flex;

					@include is-sp {
						padding-bottom: 15px;
					}

					div {
						&:nth-child(1) {
							padding-right: 20px;
							width: auto;
						}

						&:nth-child(2) {
							width: 26%;

							@include is-sp {
								width: 45%;
							}
						}
					}
				}

				.row-3 {
					width: 100%;
					display: flex;
					padding-bottom: 10px;

					@include is-sp {
						padding-bottom: 15px;
					}

					div {
						&:nth-child(1) {
							padding-right: 20px;
							width: auto;
						}

						&:nth-child(2) {
							width: 100%;
						}
					}
				}

				.row-4 {
					width: 100%;
					display: flex;
					padding-bottom: 10px;

					@include is-sp {
						padding-bottom: 15px;
					}

					div {
						&:nth-child(1) {
							padding-right: 20px;
							width: auto;
						}

						&:nth-child(2) {
							width: 100%;
						}
					}
				}

				.row-5 {
					width: 100%;
					display: flex;

					@include is-sp {
						padding-bottom: 15px;
					}

					div {
						&:nth-child(1) {
							padding-right: 20px;
							width: auto;
						}

						&:nth-child(2) {
							width: 100%;
						}
					}
				}

				span {
					width: 30px;
				}

				.hidden {
					visibility: hidden;
				}
			}
		}

		&:nth-child(8) {
			border-bottom: 1px solid #258acf;

			@include is-sp {
				flex-direction: column;
				padding-top: 0;
			}

			.col-1 {
				@include is-sp {
					background-color: #e2f3fb;
					width: 100%;
					padding: 5px 0;
				}
			}

			.col-2 {
				justify-content: flex-start;
				padding-left: 20px;

				@include is-sp {
					padding-top: 20px;
					padding-left: 0;
					width: 100%;
				}

				div {
					&:nth-child(1) {
						width: 28%;

						@include is-sp {
							width: 100%;
						}
					}
				}
			}
		}

		&:nth-child(9) {
			border-bottom: 1px solid #258acf;

			@include is-sp {
				flex-direction: column;
			}

			.col-1 {
				@include is-sp {
					background-color: #e2f3fb;
					width: 100%;
					padding: 5px 0;
				}
			}

			.col-2 {
				justify-content: flex-start;
				padding-left: 20px;

				@include is-sp {
					padding-left: 0;
					padding-top: 20px;
					width: 100%;
				}

				div {
					&:nth-child(1) {
						width: 100%;
					}
				}
			}
		}

		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(4),
		&:nth-child(5),
		&:nth-child(6),
		&:nth-child(7),
		&:nth-child(8),
		&:nth-child(9) {
			@include is-sp {
				border-top: none;
				border-bottom: none;
			}
		}

		input {
			width: 100%;
			color: #000;
			padding: 10px;
			// border: 1px solid #258acf;
		}

		select {
			width: 100%;
			color: #d4d4d4;
			padding: 10px;
			// border: 1px solid #258acf;
			border: none;
		}

		textarea {
			width: 100%;
			color: #000;
			padding: 10px;
			// border: 1px solid #258acf;
			resize: none;
			text-align: left;
			border: none;
		}

		textarea::-webkit-input-placeholder {
			color: #d4d4d4;
		}

		::placeholder {
			/* Most modern browsers support this now. */
			color: #d4d4d4;
		}

		label {
			letter-spacing: 0.20em;
			text-align: left;
			@include font-line(13);
			font-family: yu-gothic-pr6n, sans-serif;;
		}
	}

	.btm-txt {
		padding: 15px 0 0 0;

		@include is-sp {
			padding: 0 0 0 0;
		}

		p {
			@include font-line(13);

			a {
				color: #0063ff;
				text-decoration: underline;
				@include font-line(13);
			}
		}

		.chck {
			padding: 30px 0 0 0;

			label {
				color: #258acf;
			}
		}

		.btns-flex {
			display: flex;
			justify-content: center;
			align-items: center;
            max-width: 630px;
            margin: 0 auto;
            width: 100%;

            @include is-sp{
                flex-direction: column-reverse;
            }
		}

		.btn-confirm {
			padding: 40px 0 0 0;
			width: 100%;

			a {
				width: 100%;
			}

			&:nth-child(1) {
                margin-right: 45px;

                @include is-sp{
                    margin-right: 0;
                    padding: 35px 0 10px 0;
                }

				.txt {
					color: #258acf;
				}
			}

			.txt {
				color: #fff;
				@include font-line(14);
			}

			.btn {
				background-color: #258acf;
			}

			.white {
				background-color: #fff;
			}
		}

		.c-buttonCase {
			width: 100%;
            margin: auto;
		}

	}

	.col-1 {
		width: 34%;

		label {
			color: #258acf;
			font-weight: 700;
		}
	}

	.col-2 {
		width: 66%;
		display: flex;
		align-items: center;

		div {

			&:nth-child(1),
			&:nth-child(2) {
				display: flex;
				align-items: center;
				width: 50%;
			}

			label {
				width: 100px;
			}
		}
	}



}
