.group-business {
	position: relative;
	.c-banner {
		@include is-sp {
			padding: 0 0 80px 0;
		}

		@include is-max(400px) {
			padding: 0 0 95px 0;
		}

		padding: 0 0 100px 0;
		background: linear-gradient(to right, #2079bd, #1e91d2);
		&--ttl {
			top: 45%;

			@include is-sp {
				top: 30%;
			}

			p {
				&:nth-child(1) {
					line-height: 1.5em;
					@include is-max(430px) {
						font-size: 7vw;
					}
				}

				&:nth-child(2) {
					@include is-sp {
						line-height: 18.5px;
					}

					@include is-max(430px) {
						font-size: 3vw;
					}
				}
			}
		}
	}

	.top-clip {
		margin-top: -115px;
	}
}

.sect_1 {
	position: relative;
	background: linear-gradient(to right, #2079bd, #1e91d2);

	.l-wrap {
		text-align: center;
		position: relative;

		.rect-one {
			position: absolute;
			right: 0;
			bottom: 20px;

			@include is-sp {
				display: none;
			}
		}
	}

	.clip_cont {
		clip-path: polygon(0 5.4%, 100% 0, 100% 100%, 0% 100%);
		background: linear-gradient(to right, #2579bf, #2593d5);

		@include is-sp {
			clip-path: polygon(0 3%, 100% 0.7%, 100% 100%, 0% 100%);
		}
	}

	&__center {
		margin-top: -120px;
		padding: 180px 0 100px 0;
		background: linear-gradient(to right, #003782, #0059b6);

		@include is-sp {
			margin-top: -98px;
			padding-bottom: 75px;

			.l-wrap {
				margin-top: -50px;
			}
		}
	}

	&__eng_ttl {
		font-family: century-gothic, sans-serif;
		@include font-line(10);
		color: #fff;
		letter-spacing: 4px;

		@include is-max(1000px) {
			font-size: 12.5px;
		}

		@include is-sp {
			color: #95c6e7;
		}
	}

	&__header {
		font-family: yu-mincho-pr6n, sans-serif;
		@include font-line(30, 48);
		color: #fff;
		letter-spacing: 0.22em;
		padding-top: 7px;
		padding-bottom: 55px;

		@include is-max(1000px) {
			padding-bottom: 40px;
			font-size: 25px;
		}

		@include is-max(395px) {
			letter-spacing: 2px;
			font-size: 6.3vw;
		}
	}

	&__inner {
		display: flex;
		align-items: center;

		@include is-max(935px) {
			justify-content: space-between;
		}

		@include is-sp {
			flex-direction: column-reverse;
		}

		&--left {
			width: calc(100% - 300px);
			font-family: yu-gothic-pr6n, sans-serif;;
			font-weight: 500;
			@include font-line(13, 26);
			text-align: justify;
			color: #fff;
			padding-right: 95px;
			letter-spacing: 0.2em;

			@include is-max(1025px) {
				padding-right: 30px;
			}

			@include is-max(935px) {
				padding-right: 0;
				width: 48%;
			}

			@include is-sp {
				width: 100%;
				padding-right: 0;
				padding-top: 30px;
			}
		}

		&--right {
			@include is-max(935px) {
				width: 48%;
			}

			@include is-sp {
				width: auto;
			}
		}
	}

	&__btn--wrap {
		position: relative;
		padding-top: 55px;
		width: 640px;
		display: flex;
		justify-content: space-between;
		margin: auto;
		z-index: 2;

		@include is-max(1000px) {
			width: 100%;
			flex-wrap: wrap;
			justify-content: center;
			padding-top: 50px;
		}

		.btn {
			display: inline-block;
			width: 290px;
			text-decoration: none;
			color: #258acf;
			background-color: #fff;
			padding-right: 30px;
			padding-top: 15px;
			padding-bottom: 15px;
			border-radius: 50px;
			border: 3px solid rgba(255, 255, 255, 0.8);
			font-family: yu-gothic-pr6n, sans-serif;;
			font-weight: 700;

			@include is-max(1000px) {
				width: 100%;
				padding-top: 25px;
				padding-bottom: 25px;
			}

			@include is-sp {
				padding-top: 12px;
				padding-bottom: 12px;
			}
		}

		.btn:nth-of-type(1) {
			@include is-max(1000px) {
				margin-bottom: 25px;
			}
		}

		.btn--left {
			letter-spacing: 0.1em;

			@include is-sp {
				letter-spacing: 0.13em;
			}
		}

		.btn--right {
			margin-left: 50px;

			@include is-sp {
				margin-left: 0;
				margin-top: 25px;
			}
		}
	}

	&__box-sm {
		position: absolute;
		top: 87px;
		right: 127px;

		@include is-max(1000px) {
			width: 50%;
			top: 70px;
			right: 15px;
		}

		@include is-sp {
			width: 175px;
			top: 43px;
			right: 7px;
		}
	}

	&__box-big {
		position: absolute;
		left: 0;
		top: 245px;
		@include is-max(1000px) {
			display: none;
		}
	}
}

.horizontal--background {
	background-color: #003782;
	width: 100%;
	height: 40px;

	@include is-sp {
		height: 25px;
	}
}
