
.interview {
  
    // color: #fff;
    position: relative;


    .section_1 {
        color:#fff;

        .clipPath {
            padding-top: 195px;
            clip-path: polygon(100% 0, 100% 100%, 85% 91%, 0 100%, 0 10%);
            background: linear-gradient(#2579BF, #2593D5);

        }
        .l-wrap {
            position: relative;
    
        }

        &-ttl {
            padding-top: 100px;
            text-align: center;
            @include font-line(10,20);
            font-family: century-gothic, sans-serif;
            letter-spacing: 1em;
            font-weight: 400;
        }
    
        &-sub1 {
            @include font-line(30,48);
            text-align: center;
            font-family: yu-mincho-pr6n, sans-serif;
            font-weight: 500;
        }
        &-sub2 {
            @include font-line(13,26);
            font-weight: 500;
            font-family:cross-platform-yu-gothic;
            text-align: center;
        }

        .section_1-cntnt {
            padding-top: 60px;
            position: relative;
            justify-content: space-between;

            &-1 {
                width: 395px;
                padding-bottom: 133px;

                &-hdr {
                    @include font-line(26,37);
                    font-weight: 500;
                     font-family: yu-mincho-pr6n, sans-serif;
                     padding:20px 0;
                   
                }

                &-txt1 {
                    @include font-line(10,20);
                    font-weight: 400;
                    font-family: century-gothic, sans-serif;
                    color:#95C6E7;
                    padding-bottom: 18px;
                }

                &-txt2 {
                   @include font-line(13,26);
                   font-weight: 500;
                   font-family:cross-platform-yu-gothic;
                   padding-bottom: 57px;
                }

                &-biography {
                    padding:41px;
                    background-color: #fff;

                    &-hdr {
                        @include font-line(13,26);
                        font-weight: 700;
                        font-family:cross-platform-yu-gothic;
                        color:#258ACF;
                        text-align: center;
                    }
                    &-cntnt {
                        padding-left: 40px;
                        color:black;
                        
                        &-yr {
                            color:#258ACF;
                        }
                        &-txt {
                            margin-left: 18px;
                        }
                    }
                }
            }

            &-2 {
                padding-bottom: 83px;
                height: 100%;
                position: relative;
                
                    .sec1img {
                        transform: translateX(16%);
                    }

                    &-bdg {
                        position: absolute;
                        width: 56px;
                        height: 21px;
                        background: linear-gradient(to right,#2579BF,#2593D5);
                    }
            }
        }
        
        .bg_1 {
            position: absolute;
            top: 0%;
            right: 9%;
        }

        .bg_2 {
            position: absolute;
            top: 14%;
            left: -6%;
        }

        .bg_3 {
            position: absolute;
            right: 4%;
            bottom: 41.5%;        
        }
    }

    .section_2 {
    //    background-color: #fff;
       padding:100px 30px 100px 30px;
       position: relative;

        &-cntnt {
          
            &-rows {
                margin-bottom: 60px;

                &-1 {

                }

                &-2 {
                    width: 390px;

                    &-hdr {
                        @include font-line(26,37);
                        font-family: 500;
                        font-family: yu-mincho-pr6n, sans-serif;
                        color: #258ACF;
                        
                    }

                    &-txt1 {
                        @include font-line(10,20);
                        font-family: century-gothic, sans-serif;
                        color: #95C6E7;
                        padding:23px 0 18px 0;
                    }

                    &-txt2 {
                        font-family:cross-platform-yu-gothic;
                        @include font-line(12,25);
                        font-weight: 500;
                        color: #333;
                    }
                }
           }  

           &-btns {
               width: 640px;
               margin:0 auto;
           }
        }

        .sec2-bg1 {
            position: absolute;
            top: 18%;
            right: 7%;
            z-index: -1;      
        }

        .sec2-bg2 {
            position: absolute;
            bottom: 0;
            right: 8%;  
            z-index: -1;           
        }
    }



    .section_3 {
        padding:100px 30px 100px 30px;
        position: relative;
        z-index: -2;
        background: linear-gradient(90deg, #2579bf 0%, #2593d5 50%);
    
            &-cntnt {
              

                &-rows {
                    margin-bottom: 60px;
                    color:#fff;

                    &-1 {
                        width: 390px;
    
                        &-hdr {
                            @include font-line(26,37);
                            font-family: 500;
                            font-family: yu-mincho-pr6n, sans-serif;
                            
                            
                        }
    
                        &-txt1 {
                            @include font-line(10,20);
                            font-family: century-gothic, sans-serif;
                            
                            padding:23px 0 18px 0;
                        }
    
                        &-txt2 {
                            font-family:cross-platform-yu-gothic;
                            @include font-line(12,25);
                            font-weight: 500;
                        
                        }
                    }
               }  
                &-btns {
                    width: 640px;
                    margin:0 auto;
                }
            }
    
            .sec3-bg1 {
                position: absolute;
                top: 5%;
                right: 32%;  
                z-index: -1;  
            }
    
            .sec3-bg2 {
                position: absolute;
                bottom: 28%;
                left: 6%;  
                z-index: -1;         
            }
    }
   
}