.mp {
	position: relative;
	.c-banner {
		background: linear-gradient(to right, #2079bd, #1e91d2);
		padding: 0 0 65px 0;
		&--ttl {
			@include is-sp {
				padding: 20px 13px 20px 30px;
				left: 0;
			}

			@include is-max(500px) {
				top: 25%;
			}

			p {
				line-height: 1.4em;

				@include is-sp {
					font-weight: 400;
				}

				.br-sp {
					display: none;
					@include is-sp {
						display: block;
					}
				}

				&:nth-child(1) {
					@include is-max(500px) {
						font-size: 6vw;
					}
				}
				&:nth-child(2) {
					@include is-max(500px) {
						font-size: 3vw;
						line-height: 18px;
						padding-top: 5px;
					}
				}
			}
		}

		.c-inner {
			position: relative;

			.c-banner--ttl {
				& p:last-child {
					font-weight: 700;
				}
			}

			.person-bnr {
				width: 40%;
				margin: 0 auto;
				position: absolute;
				top: 7px;
				left: 50%;
			}

			.ruf {
				position: absolute;
				right: 45px;
				bottom: 30px;
			}
		}

		.c-ruf-txt {
			@include is-sp {
				padding: 34px 0 30px 35px;
				@include font-line(14.5, 17.5);
				letter-spacing: 0.24em;
				font-weight: 700;
			}
			@include is-max(375px) {
				white-space: nowrap;
				padding: 34px 0 30px 30px;
			}
			@include is-max(373px) {
				font-size: 3.8vw;
			}
			img {
				@include is-sp {
					margin-right: 12.5px;
				}
				@include is-max(500px) {
					width: 65.5px;
				}
			}
		}
	}

	.bread_crumps {
		text-align: left;
		position: relative;
		z-index: 150;
		padding-top: 12px;
		.txt {
			width: 90%;
			margin: 0 auto;
			max-width: 1100px;
			color: #fff;
			font-family: cross-platform-yu-gothic;
			@include font-line(11);

			@include is-sp {
				@include font-line(12.5);
			}
		}

		span {
			padding: 0 8px;
		}
	}

	// clip top
	.top-clip {
		width: 800px;
		height: 250px;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		background: linear-gradient(to right, #003782, #0059b6);
		position: absolute;
		top: 0;
		right: 0%;
		margin-top: -100px;

		@include is-sp {
			width: 83%;
			height: 161px;
			top: -30px;
		}
	}

	&__section_1 {
		z-index: 150;
		background: linear-gradient(to right, #003782, #0059b6);
		padding-bottom: 70px;
		position: relative;
		clip-path: polygon(0 7.4%, 100% 1.4%, 100% 87%, 0% 96%);

		@include is-sp {
			padding-bottom: 55px;
			clip-path: polygon(0 3%, 100% 0.2%, 100% 95%, 0% 99%);
			margin-top: -76px;
		}

		.l-wrap {
			position: relative;

			.bg_1 {
				position: absolute;
				top: -90px;
				right: 85px;

				@include is-sp {
					width: 46.67%;
					top: -100px;
					right: 0;
				}
			}
		}

		&--main-content {
			padding-top: 60px;
			.row {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;

				@include is-sp {
					flex-direction: column-reverse;
				}

				.col {
					// width: 50%;
					width: calc(100% - 490px);
					padding-bottom: 97px;
					color: #fff;

					@include is-max(1000px) {
						width: 52%;
					}

					@include is-sp {
						width: 100%;

						.u-pt-15 {
							padding-top: 25px !important;
						}
					}

					p {
						@include font-line(13, 26);
						letter-spacing: 0.2em;
						font-weight: 500;
						font-family: cross-platform-yu-gothic;
						text-align: justify;

						@include is-sp {
							@include font-line(13.4);
							letter-spacing: 0.1em;
							line-height: 20.2px;
						}
					}

					&-right {
						position: relative;
						img {
							height: 100%;
							width: 100%;
							object-fit: cover;
						}

						.badge {
							position: absolute;
							top: 16px;
							right: 16px;
							padding: 4px 5px;
							line-height: 1;
							background: linear-gradient(90deg, #2579bf 0%, #2593d5 50%);

							@include is-sp {
								top: 11px;
								right: 13px;
								padding: 3px 5px 3px 6px;
								@include font-line(8);
							}
						}
					}
				}

				.col:first-child {
					width: 43%;

					@include is-sp {
						width: 100%;
						padding-bottom: 25px;
					}
				}

				.col:last-child {
					@include is-sp {
						padding-bottom: 25px;
						height: auto;
					}
				}
			}
		}
	}

	&__section_2 {
		background-color: #fff;
		padding-bottom: 100px;
		position: relative;

		@include is-sp {
			padding-bottom: 55px;
		}

		.l-wrap {
			position: relative;

			.bg_1 {
				position: absolute;
				top: -90px;
				right: 85px;

				@include is-sp {
					width: 46.67%;
					top: -100px;
					right: 0;
				}
			}
		}

		&--main-content {
			padding-top: 65px;

			@include is-sp {
				padding-top: 32px;
			}
			.row {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;

				.col {
					width: 43%;
					// width: calc(100% - 391px);
					padding-bottom: 60px;
					color: #000;

					@include is-sp {
						width: 100%;

						.u-pt-15 {
							padding-top: 25px !important;
						}
					}

					p {
						@include font-line(13, 26);
						letter-spacing: 0.2em;
						font-weight: 500;
						font-family: cross-platform-yu-gothic;
						text-align: justify;

						span {
							letter-spacing: 0.15em;
						}

						@include is-sp {
							@include font-line(13.4);
							letter-spacing: 0.1em;
							line-height: 20.2px;
						}
					}

					&-left {
						position: relative;
						img {
							height: 100%;
							width: 100%;
							object-fit: cover;
						}

						.badge {
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							padding: 4px 5px;
							line-height: 1;
							background: linear-gradient(90deg, #2579bf 0%, #2593d5 50%);
							color: #fff;
							@include font-line(11);
							font-weight: 500;

							@include is-sp {
								padding: 3px 5px 3px 6px;
								@include font-line(8);
							}
						}
					}
				}

				.col:first-child {
					width: calc(100% - 487px);
					@include is-max(1000px) {
						width: 52%;
					}

					@include is-sp {
						width: 100%;
						height: auto;
						padding-bottom: 25px;
					}
				}

				.col:last-child {
					@include is-sp {
						padding-bottom: 50px;
					}
				}
			}
		}
	}

	&__ttl {
		color: $color-text03;
		font-weight: 400;
		font-family: century-gothic, sans-serif;
		text-align: center;
		letter-spacing: 0.32em;
		line-height: 1;
		margin-top: 131px;

		@include font-line(10);

		@include is-sp {
			@include font-line(12);
			color: #9fc4e3;
			padding-top: 125px;
			margin-top: 0;
		}
	}

	&__title {
		color: $color-text03;
		font-family: yu-mincho-pr6n, sans-serif;
		letter-spacing: 0.22em;
		text-align: center;
		padding: 20px 0 15px 0;
		line-height: 1;

		@include font-line(30);

		br {
			display: none;
		}
		@include is-max(867px) {
			br {
				display: block;
			}

			line-height: 42px;
		}

		@include is-sp {
			letter-spacing: 0.15em;
			line-height: 42px;
			@include font-line(25);
		}

		@include is-max(370px) {
			@include font-line(21);
		}
	}

	&__sub {
		color: $color-text03;
		font-family: cross-platform-yu-gothic;
		font-weight: 500;
		letter-spacing: 0.2em;
		text-align: center;
		z-index: 1;
		position: relative;

		@include is-max(1040px) {
			letter-spacing: 0.18em;
		}

		@include is-sp {
			letter-spacing: unset;
			padding: 0 0 60px 0;
			@include font-line(13.4);
			padding-bottom: 0;
		}

		@include is-max(370px) {
			font-size: 3.5vw;
		}

		@include font-line(13, 26);
	}

	&__bg_1 {
		position: absolute;
		top: -99px;
		right: 67px;
		width: 352px;
		z-index: -1;

		@include is-sp {
			top: 36px;
			right: 7px;
			width: 179px;
		}
	}

	&__bg_2 {
		position: absolute;
		top: 56px;
		left: -60px;
		z-index: 2;
		opacity: 0.2;
		width: 252px;

		@include is-sp {
			display: none;
		}
	}

	&__bg_3 {
		position: absolute;
		top: -140px;
		right: 0;
		z-index: 9999;
		opacity: 0.2;

		@include is-sp {
			display: none;
		}
	}

	&__bg_4 {
		position: absolute;
		top: -43px;
		right: 6px;
		z-index: 0;
		opacity: 1;
		width: 40%;

		@include is-min(750px) {
			display: none;
		}
	}

	&__bg_5 {
		position: absolute;
		top: 123px;
		left: 12px;
		z-index: 0;
		opacity: 0.6;
		width: 40%;

		@include is-min(750px) {
			display: none;
		}
	}

	&--btns {
		@include is-sp {
			padding: 0;
			flex-wrap: wrap;
		}
	}

	&--btn {
		background-color: #fff;
		// width: 45%;
		color: #4988c8;

		@include is-sp {
			letter-spacing: 0.26em;
			@include font-line(15);
		}
	}

	&--btn:first-child {
		margin-right: 30px;

		@include is-sp {
			width: 100%;
			margin: 0 !important;
		}
	}

	&--btn:last-child {
		margin-left: 30px;

		@include is-sp {
			width: 100%;
			margin: 25px 0 0 0 !important;
		}
	}

	// globals
	.clip-top {
		position: relative;
		margin-bottom: 50px !important;
		-webkit-clip-path: polygon(100% 0%, 0 0, 0% 100%);
		clip-path: polygon(100% 0%, 0 0, 0% 100%);
		padding: 55px 0 0 0;
		// background: rgb(95, 165, 205);
		text-align: center;
		margin-top: -97px;

		@include is-sp {
			padding: 60px 0 0 0;
			margin-top: -55px;
			display: none;
		}
	}
}
