.mp {
	&__section_1 {
		background: linear-gradient(
			90deg,
			rgba(37, 121, 191, 1) 0%,
			rgba(37, 147, 213, 1) 50%
		);
		padding-bottom: 70px;
		position: relative;
		clip-path: polygon(0 0%, 100% 0%, 100% 87%, 0% 100%);

		@include is-sp {
			padding-bottom: 55px;
			clip-path: polygon(0 0%, 100% 0%, 100% 96%, 0% 100%);
		}

		.l-wrap {
			position: relative;

			.bg_1 {
				position: absolute;
				top: -90px;
				right: 85px;

				@include is-sp {
					width: 46.67%;
					top: -100px;
					right: 0;
				}
			}
		}

		&--main-content {
			padding-top: 60px;
			.row {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;

				@include is-sp {
					flex-direction: column-reverse;
				}

				.col {
					// width: 50%;
					width: calc(100% - 490px);
					padding-bottom: 97px;
					color: #fff;

					@include is-max(1000px) {
						width: 52%;
					}

					@include is-sp {
						width: 100%;

						.u-pt-15 {
							padding-top: 25px !important;
						}
					}

					p {
						@include font-line(13, 26);
						letter-spacing: 0.2em;
						font-weight: 500;
						font-family: cross-platform-yu-gothic;
						text-align: justify;

						@include is-sp {
							@include font-line(13.4);
							letter-spacing: 0.1em;
							line-height: 20.2px;
						}
					}

					&-right {
						height: 100%;
						position: relative;
						img {
							height: 100%;
							width: 100%;
							object-fit: cover;
						}

						.badge {
							position: absolute;
							top: 16px;
							right: 16px;
							padding: 10px 12px 10px 8px;
							line-height: 1;
							background: linear-gradient(90deg, #2579bf 0%, #2593d5 50%);

							@include is-sp {
								top: 6px;
								right: 5px;
								padding: 3px 1px 3px 6px;
							}
						}
					}
				}

				.col:first-child {
					width: 43%;

					@include is-sp {
						width: 100%;
						padding-bottom: 25px;
					}
				}

				.col:last-child {
					@include is-sp {
						padding-bottom: 25px;
						height: auto;
					}
				}
			}
		}
	}

	&__section_2 {
		background-color: #fff;
		padding-bottom: 70px;
		position: relative;

		@include is-sp {
			padding-bottom: 55px;
		}

		.l-wrap {
			position: relative;

			.bg_1 {
				position: absolute;
				top: -90px;
				right: 85px;

				@include is-sp {
					width: 46.67%;
					top: -100px;
					right: 0;
				}
			}
		}

		&--main-content {
			padding-top: 60px;

			@include is-sp {
				padding-top: 32px;
			}
			.row {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;

				.col {
					width: 43%;
					// width: calc(100% - 391px);
					padding-bottom: 60px;
					color: #000;

					@include is-sp {
						width: 100%;

						.u-pt-15 {
							padding-top: 25px !important;
						}
					}

					p {
						@include font-line(13, 26);
						letter-spacing: 0.2em;
						font-weight: 500;
						font-family: cross-platform-yu-gothic;
						text-align: justify;

						@include is-sp {
							@include font-line(13.4);
							letter-spacing: 0.1em;
							line-height: 20.2px;
						}
					}

					&-left {
						height: 100%;
						position: relative;
						img {
							height: 100%;
							width: 100%;
							object-fit: cover;
						}

						.badge {
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							padding: 10px 12px 10px 8px;
							line-height: 1;
							background: linear-gradient(90deg, #2579bf 0%, #2593d5 50%);
							color: #fff;

                            @include is-sp {
								padding: 3px 1px 3px 6px;
							}
						}
					}
				}

				.col:first-child {
					width: calc(100% - 487px);
					@include is-max(1000px) {
						width: 52%;
					}

					@include is-sp {
						width: 100%;
						height: auto;
						padding-bottom: 25px;
					}
				}

				.col:last-child {
					@include is-sp {
						padding-bottom: 50px;
					}
				}
			}
		}
	}

	&__ttl {
		color: $color-text03;
		font-weight: 400;
		font-family: century-gothic, sans-serif;
		text-align: center;
		letter-spacing: 0.32em;
		line-height: 1;

		@include font-line(10);

		@include is-sp {
			@include font-line(12);
			color: #9fc4e3;
			padding-top: 19px;
		}
	}

	&__title {
		color: $color-text03;
		font-family: yu-mincho-pr6n, sans-serif;
		letter-spacing: 0.22em;
		text-align: center;
		padding: 20px 0 15px 0;
		line-height: 1;

		@include font-line(30);

		br {
			display: none;
		}
		@include is-max(867px) {
			br {
				display: block;
			}

			line-height: 42px;
		}

		@include is-sp {
			letter-spacing: 0.2em;
			line-height: 42px;
			@include font-line(25);
		}
	}

	&__sub {
		color: $color-text03;
		font-family: cross-platform-yu-gothic;
		font-weight: 500;
		letter-spacing: 0.2em;
		text-align: center;
		z-index: 1;
		position: relative;

		@include is-sp {
			letter-spacing: unset;
			padding: 0 0 60px 0;
			@include font-line(13.4);
			padding-bottom: 0;
		}

		@include font-line(13, 26);
	}

	&__bg_1 {
		position: absolute;
		top: -85px;
		right: 63px;
		width: 379px;

		@include is-sp {
			top: -68px;
			right: 11px;
			width: 179px;
		}
	}

	&__bg_2 {
		position: absolute;
		top: 56px;
		left: -60px;
		z-index: 2;
		opacity: 0.2;

		@include is-sp {
			display: none;
		}
	}

	&__bg_3 {
		position: absolute;
		top: -120px;
		right: 0;
		z-index: 9999;
		opacity: 0.2;

		@include is-sp {
			display: none;
		}
	}

	&__bg_4 {
		position: absolute;
		top: -43px;
		right: 6px;
		z-index: 0;
		opacity: 1;
		width: 40%;

		@include is-min(750px) {
			display: none;
		}
	}

	&__bg_5 {
		position: absolute;
		top: 123px;
		left: 12px;
		z-index: 0;
		opacity: 0.6;
		width: 40%;

		@include is-min(750px) {
			display: none;
		}
	}

	&--btns {
		@include is-sp {
			padding: 0;
		}
	}

	&--btn {
		background-color: #fff;
		width: 45%;
		color: #4988c8;

		@include is-sp {
			letter-spacing: 0.26em;
			@include font-line(15);
		}
	}
}

// globals
.clip-top {
	margin-bottom: 50px !important;
	-webkit-clip-path: polygon(100% 0%, 0 0, 0% 100%);
	clip-path: polygon(100% 0%, 0 0, 0% 100%);
	padding: 100px 0 0 0;
	background-color: #fff;
	text-align: center;

	@include is-sp {
		padding: 60px 0 0 0;
	}
}
