.office_gal {
	position: relative;

	.c-banner {
		padding: 0 0 80px 0;
		background: linear-gradient(to right, #0059c6, #000017);

		@include is-max(400px) {
			padding: 0 0 95px 0;
		}

		&--ttl {
			p {
				@include is-max(400px) {
					&:nth-child(1) {
						font-size: 7vw;
						line-height: 1.25em;
					}

					&:nth-child(2) {
						font-size: 3.5vw;
					}
				}
			}
		}
	}

	.section_1 {
		position: relative;
		margin: 0 0 0 0;
		background: linear-gradient(to left, #0059c6, #000017);
		text-align: center;
		clip-path: polygon(0 1.5%, 100% 0, 100% 100%, 0% 100%);

		@include is-sp {
			clip-path: polygon(0 1%, 100% 0, 100% 100%, 0% 100%);
			margin-top: -100px;
		}

		// &::before {
		// 	content: "";
		// 	position: absolute;
		// 	width: 100%;
		// 	top: -89px;
		// 	left: 0;
		// 	height: 90px;
		// 	background: linear-gradient(to right, #003782, #0059b6);
		// 	-webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
		// 	clip-path: polygon(100% 40%, 0% 100%, 100% 100%);
		// }

		.l-wrap {
			position: relative;

			.bg_1 {
				position: absolute;
				top: -90px;
				right: 85px;

				@include is-sp {
					width: 46.67%;
					top: -100px;
					right: 0;
				}
			}

			.pc {
				display: none;

				@include is-pc {
					display: block;
				}
			}

			.sp {
				display: none;

				@include is-sp {
					display: block;
				}
			}
		}

		&__ttl {
			color: $color-text04;
			font-weight: 400;
			font-family: century-gothic, sans-serif;
			text-align: center;
			letter-spacing: 0.32em;

			@include font-line(10, 20);
		}
	}

	.bread_crumps {
		text-align: left;
		position: relative;
		z-index: 150;
		padding-top: 12px;

		.txt {
			width: 90%;
			margin: 0 auto;
			max-width: 1100px;
			color: #fff;
			font-family: yu-gothic-pr6n, sans-serif;
			@include font-line(12);
		}

		span {
			padding: 0 8px;
		}
	}

	// clip top
	.top-clip {
		width: 800px;
		height: 250px;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		background: linear-gradient(to right, #0059c6, #000017);
		position: absolute;
		top: 0;
		right: 0%;
		margin-top: -115px;

		@include is-sp {
			width: 77%;
			height: 322px;
			top: 0;
		}
	}

	&__bg_1 {
		position: absolute;
		right: 92px;
		top: -140px;
		z-index: 0;
		width: 344px;

		@include is-sp {
			width: 176px;
			right: 2%;
			top: -88px;
		}
	}

	&__bg_2 {
		position: absolute;
		right: 92px;
		top: -60px;
		z-index: 0;
		width: 373px;

		@include is-sp {
			width: 115px;
			top: -23px;
			right: 4%;
		}
	}

	&__bg_2-1 {
		position: absolute;
		right: 92px;
		top: -60px;
		z-index: 0;
		width: 373px;

		@include is-sp {
			width: 115px;
			top: 24px;
			left: 0;
			z-index: -150;
		}
	}

	&__bg_3 {
		position: absolute;
		right: 112px;
		top: -50px;
		z-index: 0;
		width: 373px;
		// opacity: 0.3;
		@include is-sp {
			width: 186px;
			right: 4%;
		}
	}

	&__bg_4 {
		position: absolute;
		right: 55px;
		top: 0;
		z-index: 0;
		width: 373px;

		@include is-sp {
			width: 186px;
			right: 4%;
		}
	}

	&--items {
		position: relative;
		padding: 170px 0 170px 0;
		margin-top: -100px;

		// &::before{
		// 	content: "";
		// 	position: absolute;
		// 	width: 100%;
		// 	top: 0;
		// 	left: 0;
		// 	height: 90px;
		// 	background: linear-gradient(to right, #003782, #0059b6);
		// 	clip-path: polygon(0 13%, 100% 0, 100% 14%, 70% 38%);
		// }

		@include is-sp {
			margin-top: -50px;
		}

		&:nth-child(2) {
			padding-bottom: 153px !important;
		}

		&:nth-of-type(even) {
			padding: 150px 0;
			background-color: #fff;
			-webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
			clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);

			@include is-sp {
				padding: 75px 0 100px 0;
				-webkit-clip-path: polygon(0 7%, 100% 0%, 100% 93%, 0% 100%);
				clip-path: polygon(0 7%, 100% 0%, 100% 93%, 0% 100%);
			}

			.office_gal--contents {
				flex-direction: row-reverse;

				&__col1 {
					padding-right: 0;
					padding-left: 98px;

					@include is-max(750px) {
						width: 100%;
						padding-left: 0;
					}

					.ttl {
						color: #258acf;
						@include font-line(22, 37);
					}

					.desc {
						color: #000;
						position: relative;
					}
				}
			}
		}

		&:last-of-type {
			-webkit-clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0% 105%);
			clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0% 105%);

			@include is-sp {
				-webkit-clip-path: polygon(0 7%, 100% 0%, 100% 100%, 0% 105%);
				clip-path: polygon(0 7%, 100% 0%, 100% 100%, 0% 105%);
			}
		}

		.hide-pc {
			display: none;

			@include is-max(750px) {
				display: flex;
				margin-top: 50px;
			}
		}

		.hide-tabsp {
			display: flex;

			@include is-max(750px) {
				display: none;
			}
		}

		.hide-solo {
			// display: none;

			@include is-max(750px) {
				display: block;
			}
		}

		// .c-img_box {
		// 	width: 95px;
		// }

		.c-img_box__ttl {
			letter-spacing: 0.1em;
		}
	}

	&--shadow {
		position: relative;

		@include is-sp {
			padding: 125px 0 110px 0;
		}

		&::before {
			content: "";
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
			height: 49%;
			background: linear-gradient(to right, #0059c6, #000017);
			opacity: 0.4;
			clip-path: polygon(50% -10%, 100% 0, 100% 16%, 72% 33%, 0% 16%, 0 0, 0 0);

			@include is-sp {
				clip-path: polygon(
					50% -10%,
					100% 0,
					100% 25%,
					72% 33%,
					0% 18%,
					0 0,
					0 0
				);
				height: 29%;
			}
		}

		&::after {
			content: "";
			position: absolute;
			width: 100%;
			bottom: -20px;
			left: 0;
			height: 21%;
			background: linear-gradient(to right, #0059c4, #000017);
			clip-path: polygon(0 47%, 32% 0%, 100% 15%, 0% 100%);
			opacity: 0.4;

			@include is-max(1000px) {
				clip-path: polygon(0 47%, 32% 0%, 100% 24%, 0% 100%);
			}


			@include is-sp {
				clip-path: polygon(0 47%, 36% 12%, 100% 40%, 0% 100%);
				height: 15%;
				bottom: -4%;
			}

			@include is-max(500px) {
				clip-path: polygon(0 47%, 36% 12%, 100% 36%, 0% 100%);
			}
		}
	}

	&--shadow2 {
		position: relative;

		@include is-sp {
			padding-bottom: 120px;
		}


		&::before {
			content: "";
			position: absolute;
			width: 100%;
			top: -12px;
			left: 0;
			height: 58%;
			background: linear-gradient(to right, #0059c6, #000017);
			opacity: 0.4;
			clip-path: polygon(50% -10%, 100% 0, 100% 16%, 66% 38%, 0% 27%, 0 0, 0 0);
			z-index: -1;

			@include is-sp {
				clip-path: polygon(50% -10%, 100% 0, 100% 25%, 72% 33%, 0% 25%, 0 0, 0 0);
				// top: -31px;
			}
		}

		&::after {
			content: "";
			position: absolute;
			width: 100%;
			bottom: -20px;
			left: 0;
			background: linear-gradient(to right, #0059c4, #000017);
			opacity: 0.4;
			z-index: -1;
			clip-path: polygon(0 47%, 32% 0%, 100% 25%, 0% 100%);
    		height: 161px;

			@include is-sp {
				clip-path: polygon(0 47%, 36% 12%, 100% 46%, 0% 100%);
				height: 180px;
				bottom: -4%;
			}

			@include is-max(500px) {
				clip-path: polygon(0 47%, 36% 28%, 100% 50%, 0% 100%);
			}
		}
	}

	&--contents {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		&:nth-of-type(2) {
			flex-direction: column-reverse;
		}

		&__col1 {
			width: calc(100% - 46.94%);
			padding-right: 95px;

			@include is-max(750px) {
				width: 100%;
				padding-right: 0;
			}

			&--text {
				text-align: left;

				&.ttl {
					font-family: yu-mincho-pr6n, sans-serif;
					@include font-line(22, 48);
					font-weight: 500;
					letter-spacing: 0.22em;
					color: #fff;
					padding-top: 40px;
					@include is-sp {
						line-height: normal;
					}
				}

				&.ttl_sub {
					font-family: century-gothic, sans-serif;
					@include font-line(10, 14);
					font-weight: 700;
					letter-spacing: 0.28em;
					color: #92c4e5;
					padding: 5px 0 30px 0;

					@include is-sp {
						padding: 5px 0 15px 0;
					}
				}

				.desc {
					font-family: yu-gothic-pr6n, sans-serif;
					@include font-line(13, 26);
					font-weight: 500;
					letter-spacing: 0.1em;
					color: $color-text03;
					text-align: justify;

					@include is-max(750px) {
						padding-bottom: 24px;
					}
				}
			}
		}

		&__col2 {
			width: 46.94%;
			position: relative;

			@include is-max(750px) {
				width: 100%;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			.top {
				position: absolute !important;
				top: 0;
				left: unset !important;
				right: 60px;

				&.hide-solo {
					top: 10px !important;
					right: 10px;
				}

				@include is-max(750px) {
					right: 11.76%;
				}
			}

			.bottom {
				position: absolute !important;
				bottom: 0;
				left: 67px !important;
				top: unset;

				@include is-max(750px) {
					left: 11.76% !important;
				}
			}
		}
	}

	// SECTION 3

	.section_3 {
		// padding: 110px 0 50px 0;
		padding: 75px 0 50px 0;
		background-color: #fff;
		overflow: hidden;
		margin-top: -135px;
		@include is-sp {
			margin-top: -80px;
		}

		.cards {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			padding-top: 70px;

			@include is-max(1030px) {
				justify-content: space-around;
			}

			.cards-card {
				width: 310px;
				display: inline-block;
				margin-bottom: 23px;

				@include is-sp {
					display: flex;
					justify-content: space-between;
					align-items: flex-start;
					padding-bottom: 24px;
					border-bottom: 1px dashed gray;
					width: 100%;
				}

				&:nth-child(6) {
					@include is-sp {
						border-bottom: none;
					}
				}

				&-img {
					position: relative;

					&-txt {
						position: absolute;
						top: 39%;
						left: 7%;
						text-align: left;

						@include is-max(374px) {
							top: 27%;
							left: 3%;
						}

						&-ttl {
							font-family: yu-mincho-pr6n, sans-serif;
							font-size: 18px;
							color: #fff;

							p {
								line-height: 25px;
								font-weight: 500;
								letter-spacing: 0.3em;

								@include is-max(330px) {
									letter-spacing: 0.1em;
								}

								@include is-max(480px) {
									font-size: 3.8vw;
								}
							}
						}

						&-sub {
							font-family: century-gothic, sans-serif;
							color: #fff;

							p {
								font-size: 8px;
								line-height: 12px;
								letter-spacing: 0.26em;

								@include is-max(480px) {
									font-size: 2vw;
								}
							}
						}
					}

					&-lnk {
						position: absolute;
						bottom: 1.5%;
						right: 0%;

						a {
							font-size: 10px;
							letter-spacing: 0.26em;
							line-height: 12px;
							color: #fff;
							padding: 3px 20px 3px 15px;
							background: linear-gradient(
								90deg,
								rgba(2, 82, 133, 0.9) -17%,
								rgba(25, 64, 96, 0.7) 83%
							);
						}
					}
				}

				&-desc {
					border: 1px solid #808080;
					text-align: center;
					padding: 25px 0 18px 0;
					background-color: #fff;

					@include is-sp {
						border: none;
						text-align: left;
						// padding-left: 16.5px;
						width: 204px;
						padding-top: 0;
					}

					@include is-max(702px) {
						padding-left: 10px;
					}

					@include is-max(445px) {
						padding-bottom: 0;
					}

					&-ttl {
						@include font-line(14, 21);
						font-weight: 700;
						color: #1f86cb;
						letter-spacing: 0.2em;

						@include is-sp {
							@include font-line(17, 22.5);
							text-align: justify;
						}

						@include is-max(445px) {
							font-size: 3.1vw;
						}
					}

					&-txt {
						font-size: 11px;
						color: #808080;
						line-height: 16px;
						font-weight: 500;
						padding-top: 13px;
						letter-spacing: 0.2em;

						@include is-sp {
							@include font-line(12.5, 18.5);
						}

						@include is-max(445px) {
							padding-top: 5px;
						}

						@include is-max(400px) {
							font-size: 3vw;
						}
					}
				}
			}
		}

		.bg_1 {
			position: absolute;
			top: 0%;
			right: 4%;
			z-index: 0;
		}

		.bg_2 {
			position: absolute;
			top: 21%;
			left: 0%;
			z-index: 0;
			opacity: 0.9;
		}

		.bg_3 {
			position: absolute;
			top: 58.9%;
			right: -2%;
			z-index: 0;
			opacity: 0.9;
		}

		.bg_4 {
			position: absolute;
			top: -4%;
			right: 4%;
			z-index: 0;
			width: 122px;
		}
	}
}
