.pp {
	&__section_1 {
		background: linear-gradient(
			90deg,
			rgba(37, 121, 191, 1) 0%,
			rgba(37, 147, 213, 1) 50%
		);
		padding-bottom: 100px;

		@include is-sp {
			padding-bottom: 55px;
		}

		.l-wrap {
			position: relative;

			.bg_1 {
				position: absolute;
				top: -90px;
				right: 85px;

				@include is-sp {
					width: 46.67%;
					top: -100px;
					right: 0;
				}
			}
		}
	}

	.bread_crumps{
	  text-align: left;
	  position: relative;
	  z-index: 150;
	  padding-top: 12px;
		.txt{
			width: 90%;
			margin: 0 auto;
			max-width: 1100px;
			color: #fff;
			font-family:cross-platform-yu-gothic;
		}

		span{
			padding: 0 8px;
		}
	}

	// clip top
	.top-clip {
		width: 800px;
		height: 250px;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		background: linear-gradient(to left, #2593d5, #2579bf);
		position: absolute;
		top: -4.5%;
		right: 0%;

		@include is-sp {
			width: 83%;
			height: 161px;
			top: -30px;
		}
	}

	&__title {
		color: $color-text03;
		font-family: cross-platform-yu-gothic;
		letter-spacing: 0.2em;
		padding: 20px 8px 30px 8px;
		font-weight: 500;
		text-align: center;
		z-index: 1;
		position: relative;

		@include font-line(13, 26);

        br {
            display: none;
        }

        br:nth-child(3) {
            display: block;
        }

		@include is-sp {
			letter-spacing: 0;
            padding-top: 50px;

            br {
                display: block;
            }
		}

		@include is-max(409px) {
			font-size: 3.3vw;
			padding-left: 10px;
		}

		
	}

	&__main-content {
		max-width: 1100px;
		background-color: #fff;
		margin: 0 auto;
		padding: 80px 0 0 0;
		position: relative;
		margin-top: 20px;

		@include is-max(1100px) {
			margin: 0 20px;
		}

		@include is-sp {
			margin: 0 20px;
			padding: 50px 0 0 0;

			.l-wrap {
				padding-left: 0;
				padding-right: 0;
			}
		}

		&--row {
			padding: 0 20px;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			position: relative;
			padding-bottom: 60px;

			@include is-sp {
				padding: 0 0;
			}

			.left,
			.right {
				width: 47%;

				@include is-sp {
					width: 100%;
				}

				.col {
					padding-bottom: 60px;

					&--ttl {
						@include font-line(16, 26);
						font-family: cross-platform-yu-gothic;
						font-weight: 700;
						letter-spacing: 0.1em;
						padding-bottom: 10px;
						border-bottom: 1px solid #333;

						@include is-sp {
							padding: 0 20px 10px;
							text-align: center;
						}

						@include is-max(409px) {
							font-size: 3.7vw;
							padding: 0 15px 10px;
						}
					}

					&--cont {
						@include is-sp {
							padding: 0 20px;
						}

						@include is-max(409px) {
							padding: 0 15px;
						}

						&01 {
							display: flex;
							justify-content: flex-start;
							align-items: baseline;
							@include font-line(13, 26);
							font-family: cross-platform-yu-gothic;
							font-weight: 700;
							letter-spacing: 0;

							@include is-max(409px) {
								font-size: 3.3vw;
								padding-left: 10px;
							}

							&--txt {
								font-weight: 500;
								color: #000;
								text-align: justify;
								padding-left: 15px;
							}

							&--txt:nth-child(2) {
								padding-top: 30px;
							}
						}

						&-info {
							margin-top: 30px;
							border: 1px solid #000;
							padding: 27px 0 30px 28px;

							@include is-sp {
								text-align: center;
								padding: 27px 0 30px 0;
							}

							p {
								@include font-line(13, 26);
								font-family: cross-platform-yu-gothic;
								font-weight: 500;
								letter-spacing: 0.08em;
								color: #000;

								@include is-sp {
									@include font-line(13.5, 26);
								}

								@include is-max(409px) {
									font-size: 3.3vw;
								}
							}
						}
					}
				}

                .col:last-child {
                    padding-bottom: 0;

                    @include is-sp {
                        padding-bottom: 60px !important;
                    }

                }
			}

			.right {
				width: 50%;
				padding-left: 3%;
				border-left: 1px solid #000;

                @include is-sp {
                    width: 100%;
                    padding-left: 0;
                    border-left: none;
                }

				.col:last-child {
					padding-bottom: 30px;
				}
                
			}
		}
	}

	// bg-img
	&__bg_1 {
		position: absolute;
		top: -62px;
		right: 63px;
		width: 316px;

		@include is-max(500px) {
			right: 10px;
			width: 188px;
		}
	}

	&__bg_2 {
		position: absolute;
		top: 77px;
		left: -60px;
		width: 316px;

		@include is-max(1000px) {
			display: none;
		}
	}

	// clip path
	.clip-top {
		margin-bottom: 50px !important;
		-webkit-clip-path: polygon(100% 0%, 0 0, 0% 100%);
		clip-path: polygon(100% 0%, 0 0, 0% 100%);
		padding: 55px 0 0 0;
		background: rgb(95, 165, 205);
		text-align: center;
		margin-top: -25px;

		@include is-sp {
			padding: 60px 0 0 0;
		}
	}

	&--fd {
		@include is-sp {
			flex-direction: column;
		}
	}

	&--btn {
		background-color: #fff;
		margin: 0;
	}

	&--btn:first-child {
		margin-right: 30px;
	}
	&--btn:last-child {
		margin-left: 30px;
	}

	@include is-sp {
		&--btn:first-child {
			margin: 0;
		}
		&--btn:last-child {
			margin: 25px 0 0 0;
		}
	}
}
