.pp {
	position: relative;

	.c-banner {
		padding: 0 0 80px 0;
		background: linear-gradient(to right, #2079bd, #1e91d2);

		@include is-max(400px) {
			padding: 0 0 95px 0;
		}

		&--ttl {
			.br-sp {
				display: none;

				@include is-sp {
					display: block;
				}
			}

			p {
				line-height: 1.45em;

				&:nth-child(1) {
					@include is-max(400px) {
						font-size: 7vw;
						;
					}
				}

				&:nth-child(2) {
					@include is-max(400px) {
						font-size: 3vw;
						;
					}
				}
			}
		}
	}

	&__section_1 {
		// background: linear-gradient(to right, #003782, #0059b6);
		// padding-bottom: 100px;

		// @include is-sp {
		// 	padding-bottom: 55px;
		// }
		background: linear-gradient(to right, #003782, #0059b6);
		clip-path: polygon(0 2%, 100% 0%, 100% 101%, 0% 100%);
		margin-top: -100px;
		padding-bottom: 101px;
		padding-top: 150px;


		@include is-sp {
			padding-bottom: 101px;
			clip-path: polygon(0 80px, 100% 1%, 100% 101%, 0% 100%);
			margin-top: -130px;
		}

		.l-wrap {
			position: relative;

			.bg_1 {
				position: absolute;
				top: -90px;
				right: 85px;

				@include is-sp {
					width: 46.67%;
					top: -100px;
					right: 0;
				}
			}
		}
	}

	.bread_crumps {
		text-align: left;
		position: relative;
		z-index: 150;
		padding-top: 12px;

		.txt {
			width: 90%;
			margin: 0 auto;
			max-width: 1100px;
			color: #fff;
			font-family: yu-gothic-pr6n, sans-serif;
		}

		span {
			padding: 0 8px;
		}
	}

	// clip top
	.top-clip {
		width: 800px;
		height: 250px;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		background: linear-gradient(to right, #003782, #0059b6);
		position: absolute;
		top: 0;
		right: 0%;
		margin-top: -115px;

		@include is-sp {
			width: 77%;
			height: 322px;
			top: 0;
		}
	}

	&__title {
		color: $color-text03;
		font-family: yu-gothic-pr6n, sans-serif;;
		letter-spacing: 0.2em;
		padding: 20px 8px 30px 8px;
		font-weight: 500;
		text-align: center;
		z-index: 1;
		position: relative;

		@include font-line(13, 26);

		br {
			display: none;
		}

		br:nth-child(3) {
			display: block;
		}

		@include is-sp {
			letter-spacing: 0;
			padding-top: 50px;

			br {
				display: block;
			}
		}

		@include is-max(409px) {
			font-size: 3.3vw;
			padding-left: 10px;
		}


	}

	&__main-content {
		max-width: 1100px;
		background-color: #fff;
		margin: 0 auto;
		padding: 80px 0 0 0;
		position: relative;
		margin-top: 20px;

		@include is-max(1100px) {
			margin: 0 20px;
		}

		@include is-sp {
			margin: 0 20px;
			padding: 50px 0 0 0;

			.l-wrap {
				padding-left: 0;
				padding-right: 0;
			}
		}

		&--row {
			padding: 0 20px;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			position: relative;
			padding-bottom: 60px;

			@include is-sp {
				padding: 0 0;
			}


			.left,
			.right {
				width: 47%;

				@include is-sp {
					width: 100%;
				}

				.col {
					padding-bottom: 60px;

					&:nth-child(2){

						.col--ttl{
							@include is-sp{
								padding-left: 24px;
								text-align: left;
							}
						}
					}

					.pad-left {
						@include is-max(375px) {
							padding: 0 15px 10px 0;
						}
					}

					.p-l-30{
						padding-left: 30px
					}

					&--ttl {
						@include font-line(16, 26);
						font-family: yu-gothic-pr6n, sans-serif;;
						font-weight: 700;
						letter-spacing: 0.1em;
						padding-bottom: 10px;
						border-bottom: 1px solid #494342;
						color: #258acf;

						@include is-sp {
							padding: 0 20px 10px;
							text-align: center;
						}
						
						&:nth-child(2){
							@include is-sp{
								padding-left: 0;
							}
						}

						@include is-max(409px) {
							font-size: 3.7vw;
							padding: 0 15px 10px;
						}
					}

					&--cont {
						@include is-sp {
							padding: 0 20px;
						}

						@include is-max(409px) {
							padding: 0 15px;
						}

						&01 {
							display: flex;
							justify-content: flex-start;
							align-items: baseline;
							@include font-line(13, 26);
							font-family: yu-gothic-pr6n, sans-serif;;
							font-weight: 700;
							letter-spacing: 0;

							@include is-max(409px) {
								font-size: 3.3vw;
								padding-left: 0;
							}

							&--txt {
								font-weight: 500;
								color: #000;
								text-align: justify;
								padding-left: 15px;
							}

							&--txt:nth-child(2) {
								padding-top: 30px;
							}

							&--num {
								color: #258acf;
							}
						}

						&-info {
							margin-top: 30px;
							border: 1px solid #000;
							padding: 27px 0 30px 28px;

							@include is-sp {
								text-align: center;
								padding: 27px 0 30px 0;
								margin: 0 20px;
							}

							p {
								@include font-line(13, 26);
								font-family: yu-gothic-pr6n, sans-serif;;
								font-weight: 500;
								letter-spacing: 0.08em;
								color: #000;

								@include is-sp {
									@include font-line(13.5, 26);
								}

								@include is-max(409px) {
									font-size: 3.3vw;
								}
							}
						}
					}
				}

				.col:last-child {
					padding-bottom: 0;

					@include is-sp {
						
					}

				}
			}

			.right {
				width: 50%;
				padding-left: 3%;
				border-left: 1px solid #000;

				@include is-sp {
					width: 100%;
					padding-left: 0;
					border-left: none;
				}

				.col:last-child {
					padding-bottom: 30px;

					@include is-sp{}
				}

				.col{

					&:nth-child(4){
						
						.col--ttl{
							@include is-max(375px){
								padding-left: 24px;
								text-align: left;
							}
						}
					}

					&:nth-child(5){

						.col--cont01--txt{
							@include is-sp{
								margin: 0 20px 0 20px;
							}
						}

						.col--cont01{
							@include is-sp{
								padding-left: 0;
								padding-bottom: 20px;
							}
						}
					}
				}

			}
		}
	}

	// bg-img
	&__bg_1 {
		position: absolute;
		top: -48px;
		right: 63px;
		width: 316px;

		@include is-max(500px) {
			right: 10px;
			width: 188px;
		}
	}

	&__bg_2 {
		position: absolute;
		top: 77px;
		left: -60px;
		width: 316px;
		opacity: 0.3;

		@include is-max(1000px) {
			display: none;
		}
	}

	// clip path
	.clip-top {
		margin-bottom: 50px !important;
		-webkit-clip-path: polygon(100% 0%, 0 0, 0% 100%);
		clip-path: polygon(100% 0%, 0 0, 0% 100%);
		padding: 55px 0 0 0;
		background: linear-gradient(to right, #2079bd, #1e91d2);
		text-align: center;
		margin-top: -25px;

		@include is-sp {
			padding: 60px 0 0 0;
		}
	}

	&--fd {
		@include is-sp {
			flex-direction: column;
		}
	}

	&--btn {
		background-color: #fff;
		margin: 0;
	}

	&--btn:first-child {
		margin-right: 30px;
	}

	&--btn:last-child {
		margin-left: 30px;
	}

	@include is-sp {
		&--btn:first-child {
			margin: 0;
		}

		&--btn:last-child {
			margin: 25px 0 0 0;
		}
	}
}
