.real_estate_purchase {
	position: relative;

	.c-banner{
		padding: 0 0 100px 0;
		background: linear-gradient(to right, #2079bd, #1e91d2);

		@include is-sp{
			padding: 0 0 80px 0;
		}

		@include is-max(400px){
			padding-bottom: 95px;
		}

		&--ttl{
			p{
				&:nth-child(1){
					@include is-max(400px){
						font-size: 7vw;;
					}
				}
				&:nth-child(2){
					@include is-max(400px){
						font-size: 3vw;;
					}
				}
			}
		}
	}

	// clip top
	.top-clip {
		width: 800px;
		height: 250px;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		background: linear-gradient(to right, #003782, #0059b6);
		position: absolute;
		top: 0;
		right: 0%;
		margin-top: -115px;

		@include is-sp {
			width: 77%;
			height: 322px;
			top: 0;
		}
	}

	.sect_1 {
		position: relative;
		margin-top: 100px;
		@include is-sp{
			margin-top: 105px;
		}
		
		.l-wrap {
			text-align: center;
		}

		&__box-big-new{
			position: absolute;
			right: 7%;
			top: -95px;
			@include is-sp{
				right: 3%;
				width: 176px;
			}
		}

		&::before {
			content: "";
			position: absolute;
			width: 100%;
			top: -95px;
			height: 100px;
			background: linear-gradient(to right, #003782, #0059b6);
			clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 100%);

			@include is-sp{
				clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
			}
		}

		&__center {
			padding: 100px 0 160px 0;
			background: linear-gradient(to right, #003782, #0059b6);

			@include is-max(750px) {
				padding: 75px 0;
			}

			@include is-between(750px, 767px) {
				padding: 150px 0;
			}
		}

		&__eng_ttl {
			font-family: century-gothic, sans-serif;
			@include font-line(10, 20);
			color: #fff;
			letter-spacing: 0.32em;

			@include is-max(750px) {
				font-size: 12.5px;
			}
		}

		&__headers {
			font-family: yu-mincho-pr6n, sans-serif;
			@include font-line(30, 48);
			color: #fff;
			letter-spacing: 0.18em;
			padding-top: 10px;
			padding-bottom: 23px;

			@include is-max(750px) {
				padding-bottom: 15px;
				@include font-line(25, 32);
			}

			@include is-max(375px) {
				letter-spacing: 2px;
			}

			.ttl_small {
				font-family: yu-mincho-pr6n, sans-serif;
				@include font-line(20, 35);
				color: #fff;
				line-height: 0;
				letter-spacing: 0.18em;

				@include is-max(750px) {
					@include font-line(13, 25);
				}

				@include is-max(375px) {
					@include font-line(10, 15);
				}
			}
		}
		.header_subtext {
			font-family: yu-mincho-pr6n, sans-serif;
			@include font-line(13, 26);
			color: #fff;
			letter-spacing: 0.2em;

			@include is-max(750px) {
				@include font-line(13, 25);
				text-align: left;
			}
		}

		&__box-sm {
			position: absolute;
			top: 117px;
			right: 138px;

			@include is-max(750px) {
				width: 50%;
				top: 70px;
				right: 15px;
			}
		}

		&__box-big {
			position: absolute;
			left: 0;
			top: 163px;
			@include is-max(750px) {
				display: none;
			}
		}
		
		p{
			position: relative;
			z-index: 150;
		}
	}

	.sect_2 {
		position: relative;
		background: linear-gradient(to right, #2868b1, #3b88ca);

		&__box-big-new{
			position: absolute;
			left: 46%;
			top: 18px;
			@include is-sp{
				width: 164px;
				top: 0;
				left: auto;
				right: 0;
			}
		}

		&__box-big-new2{
			position: absolute;
			bottom: 0;
			margin-left: -60px;
			@include is-sp{
				display: none;
			}
		}

		.c-buttonREP{
			.txt{
				color: #2589ce;
				letter-spacing: 0.2em;
			}
		}

		&::before {
			content: "";
			position: absolute;
			width: 100%;
			top: -59px;
			height: 60px;
			background: linear-gradient(to right, #2868b1, #3b88ca);
			-webkit-clip-path: polygon(20% 95%, 100% 0, 100% 100%, 0 100%, 0 0);
			clip-path: polygon(15% 90%, 100% 0, 100% 100%, 0 100%, 0 0);
			@include is-sp{
				top: -29px;
				height: 30px;
			}
		}

		&::after {
			content: "";
			position: absolute;
			width: 100%;
			bottom: -58px;
			height: 60px;
			z-index: 1;
			background: linear-gradient(to right, #2868b1, #3b88ca);
			-webkit-clip-path: polygon(0 0, 100% 1%, 100% 100%, 80% 5%, 0 98%);
			clip-path: polygon(0 0, 100% 1%, 100% 100%, 80% 5%, 0 98%);
			@include is-sp{
				bottom: -29px;
				height: 30px;
			}
		}

		.txt_ttl {
			@include font-line(24, 30);
			text-align: left;
			color: #fff;
			font-family: yu-mincho-pr6n, sans-serif;
			font-weight: 600;
			letter-spacing: 0.3em;
			position: relative;
			@include is-sp {
				padding-bottom: 25px;
			}
		}

		.l-wrap {
		}

		&__inner-realestate {
			display: flex;
			flex-wrap: wrap;
			padding: 90px 0;
			@include is-max(750px) {
				flex-direction: column-reverse;
			}

			&--left,
			&--right {
				width: 50%;
				position: relative;
				z-index: 4;
				.pic {
					width: 100%;
					height: auto;
					object-fit: cover;
				}
				@include is-max(750px) {
					width: 100%;
				}
			}

			&--left {
				padding-right: 95px;
				@include is-max(900px) {
					padding-right: 20px;
				}
				@include is-max(750px) {
					padding-right: unset;
				}



				.txt_ttl {
					@include font-line(24, 30);
					text-align: left;
					color: #fff;
					font-family: yu-mincho-pr6n, sans-serif;
					font-weight: 600;
					letter-spacing: 0.3em;
				}
				.text {
					font-family: cross-platform-yu-gothic;
					font-weight: 600;
					@include font-line(13, 26);
					text-align: left;
					color: #fff;
					padding-top: 15px;
					padding-bottom: 15px;
					letter-spacing: 0.11em;
					text-align: justify;

					@include is-max(750px) {
						padding-right: unset;
						padding-top: 25px;
						text-align: justify;
						letter-spacing: 0.08em;
					}
				}

				.point {
					background-color: #fff;
					padding-left: 30px;
					padding-right: 30px;
					padding-top: 15px;
					padding-bottom: 15px;
					border: 1px solid #8bb1d0;
					&_ttl {
						font-family: century-gothic, sans-serif;
						@include font-line(11, 22);
						color: #2589ce;
						letter-spacing: 0.26em;
						text-align: center;
						font-weight: 700;
						padding-bottom: 5px;
					}

					&_item {
						font-family: cross-platform-yu-gothic;
						text-align: left;
						@include font-line(9, 26);
						color: #87b2db;
						font-weight: 700;

						span {
							margin-left: 10px;
							font-weight: 700;
							color: #2589ce;
							@include font-line(13, 26);
							letter-spacing: 0.2em;
						}
					}
				}
			}
			&--right {
			}
		}
	}

	.sect_3 {
		position: relative;
		background: linear-gradient(to right, #003782, #0059b6);

		.point{
			border: 1px solid #8bb1d0;
		}

		.c-buttonREP{
			.txt{
				color: #2589ce;
				letter-spacing: 0.2em;
			}
		}

		.txt_ttl {
			@include font-line(24, 30);
			text-align: left;
			color: #fff;
			font-family: yu-mincho-pr6n, sans-serif;
			font-weight: 600;
			letter-spacing: 0.3em;
			@include is-sp {
				padding-bottom: 25px;
			}
		}

		&::after {
			content: "";
			position: absolute;
			width: 100%;
			bottom: -58px;
			height: 60px;
			z-index: 1;
			background: linear-gradient(to right, #003782, #0059b6);
			-webkit-clip-path: polygon(0 0, 100% 1%, 100% 100%, 80% 5%, 0 98%);
			clip-path: polygon(0 0, 100% 1%, 100% 100%, 85% 5%, 0 98%);
			@include is-sp{
				bottom: -29px;
				height: 30px;
			}
		}

		.l-wrap {
		}

		&__inner-realestate {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row-reverse;
			padding: 160px 0 90px 0;
			@include is-sp{
				flex-direction: column-reverse;
				padding: 100px 0 90px 0;
			}

			&--left,
			&--right {
				width: 50%;
				position: relative;
				z-index: 4;
				.pic {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
				@include is-max(750px) {
					width: 100%;
				}
			}

			&--left {
				padding-left: 95px;
				@include is-max(750px) {
					padding-left: unset;
				}

				@include is-max(900px) {
					padding-left: 20px;
				}
				@include is-sp{
					padding-left: 0
				}
				.txt_ttl {
					@include font-line(24, 30);
					text-align: left;
					color: #fff;
					font-family: yu-mincho-pr6n, sans-serif;
					font-weight: 600;
					letter-spacing: 0.3em;
				}
				.text {
					font-family: cross-platform-yu-gothic;
					font-weight: 600;
					@include font-line(13, 26);
					text-align: left;
					color: #fff;
					padding-top: 15px;
					padding-bottom: 15px;
					letter-spacing: 0.11em;
					text-align: justify;

					@include is-max(750px) {
						padding-right: unset;
						padding-top: 25px;
						text-align: justify;
					}
				}
			}
			&--right {
				.c-bdg{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, - 50%);
					width: 125px;
					display: block;
					text-align: center;
					height: auto;

					.bdg--blue{
						padding: 15px 0;
						@include font-line(20);
					}
				}
			}
		}
	}

	.sect_4 {
		position: relative;
		margin-top: 130px;
		margin-bottom: 60px;
		background-color: #fff;

		.c-buttonREP{
			.txt{
				color: #2589ce;
				letter-spacing: 0.2em;
			}
		}

		&__box-big-new{
			position: absolute;
			left: 62%;
			top: -14px;
			@include is-sp{
				width: 122px;
				top: -5%;
				right: 0;
				left: auto;
			}

			.pc{
				display: none;
				@include is-pc{
					display: block;
				}
			}
			.sp{
				display: none;
				@include is-sp{
					display: block;
				}
			}
		}
		&__box-big-new2{
			position: absolute;
			left: 0;
			top: 160px;
			@include is-sp{
				display: none;
			}
		}
		&__box-big-new3{
			position: absolute;
			right: 0;
			top: 43%;
			@include is-sp{
				display: none;
			}
		}

		&::after {
			content: "";
			position: absolute;
			width: 100%;
			bottom: -61px;
			height: 60px;
			background: linear-gradient(to right, #003782, #0059b6);
			-webkit-clip-path: polygon(20% 95%, 100% 0, 100% 100%, 0 100%, 0 0);
			clip-path: polygon(20% 95%, 100% 0, 100% 100%, 0 100%, 0 0);
			@include is-sp{
				height: 30px;
			}
		}
		.txt_ttl {
			@include font-line(24, 30);
			text-align: left;
			color: #4688c8;
			font-family: yu-mincho-pr6n, sans-serif;
			font-weight: 600;
			letter-spacing: 0.15em;
			position: relative;

			@include is-max(750px) {
				order: 1;
				padding-bottom: 25px;
			}
		}

		.l-wrap {
			position: relative;
		}

		&--top-realestate {
			border-left: 3px solid #4688c8;
			padding-left: 15px;
			position: relative;
		}
		&__eng--ttl {
			font-family: century-gothic, sans-serif;
			@include font-line(13, 20);
			color: #9ec4e3;
			letter-spacing: 0.21em;
			text-align: left;
			font-weight: 600;
			margin-bottom: 5px;
		}

		&__header {
			@include font-line(26, 37);
			text-align: left;
			color: #4688c8;
			font-family: yu-mincho-pr6n, sans-serif;
			font-weight: 600;
			letter-spacing: 0.2em;
			padding-bottom: 15px;
		}

		&__header--sub {
			font-family: cross-platform-yu-gothic;
			text-align: left;
			@include font-line(13, 26);
			color: #000;
			font-weight: 600;
			letter-spacing: 0.197em;
			margin-bottom: 70px;

			@include is-max(750px) {
				margin-bottom: 20px;
			}
		}

		&__inner-realestate {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row-reverse;
			padding-bottom: 100px;
			align-items: center;
			@include is-max(1067px){
				align-items: flex-start;
			}
			@include is-max(750px) {
				flex-direction: column-reverse;
				display: grid;
			}

			&--left,
			&--right {
				width: 50%;
				position: relative;
				z-index: 4;
				@include is-max(750px) {
					width: 100%;
				}
			}

			&--left {
				padding-left: 95px;
				@include is-max(900px) {
					padding-left: 20px;
				}
				@include is-max(750px) {
					padding-left: unset;
					order: 3;
				}
				.txt_ttl {
					@include font-line(26, 30);
					text-align: left;
					color: #4688c8;
					font-family: yu-mincho-pr6n, sans-serif;
					font-weight: 600;
					letter-spacing: 0.15em;
				}
			}
			.text {
				font-family: cross-platform-yu-gothic;
				font-weight: 600;
				@include font-line(13, 26);
				text-align: left;
				color: #000;
				padding-top: 15px;
				padding-bottom: 15px;
				letter-spacing: 0.2em;
				text-align: justify;
				font-weight: 600;

				span {
					@include font-line(11, 26);
					letter-spacing: 0.2em;
				}

				@include is-max(750px) {
					padding-right: unset;
					padding-top: 25px;
					text-align: justify;
				}
			}

			.point {
				background-color: #fff;
				padding-left: 30px;
				padding-right: 30px;
				padding-top: 15px;
				padding-bottom: 15px;
				border: 2px solid #87b2db;
				&_ttl {
					font-family: century-gothic, sans-serif;
					@include font-line(11, 22);
					color: #2589ce;
					letter-spacing: 0.26em;
					text-align: center;
					font-weight: 700;
					padding-bottom: 5px;
				}

				&_item {
					font-family: cross-platform-yu-gothic;
					text-align: left;
					@include font-line(9, 26);
					color: #87b2db;
					font-weight: 700;

					span {
						margin-left: 10px;
						font-weight: 700;
						color: #2589ce;
						@include font-line(13, 26);
						letter-spacing: 0.2em;
					}
				}
			}

			&--right {
				@include is-max(750px) {
					order: 2;
				}
			}
		}

		.c-buttonREP{
			margin-top:50px;
		}
	}

	.sect_5 {
		position: relative;
		margin-bottom: 60px;
		background: linear-gradient(to right, #003782, #0059b6);
		&--clipbg {
			background-color: #fff;
		}

		&__box-big-new{
			position: absolute;
			left: 46%;
			top: 5px;
			@include is-sp{
				width: 100px;
				left: auto;
				right: 7%;
				top: 4%;
			}
			.pc{
				display: none;
				@include is-pc{
					display: block;
				}
			}
			.sp{
				display: none;
				@include is-sp{
					display: block;
				}
			}
		}
		&__box-big-new2{
			position: absolute;
			left: 0;
			bottom: 10%;
			@include is-sp{
				display: none;
			}
		}

		&::after {
			content: "";
			position: absolute;
			width: 100%;
			bottom: -59px;
			height: 60px;
			background: linear-gradient(to right, #003782, #0059b6);
			-webkit-clip-path: polygon(0 0, 100% -25%, 100% 100%, 80% 5%, 0 100%);
			clip-path: polygon(0 0, 100% -25%, 100% 100%, 80% 5%, 0 100%);
			@include is-sp{
				height: 30px;
				bottom: -29px;
			}
		}

		.txt_ttl {
			@include font-line(24, 30);
			text-align: left;
			color: #fff;
			font-family: yu-mincho-pr6n, sans-serif;
			font-weight: 600;
			letter-spacing: 0.3em;
			@include is-sp {
				padding-bottom: 20px;
				letter-spacing: normal;
			}
			@include is-max(400px){
				font-size: 6vw;
			}
		}

		.l-wrap {
			position: relative;
		}

		&__inner-realestate {
			display: flex;
			flex-wrap: wrap;
			padding: 90px 0;
			align-items: center;
			@include is-max(750px) {
				flex-direction: column-reverse;
			}

			&--left,
			&--right {
				width: 50%;
				position: relative;
				z-index: 4;
				@include is-max(750px) {
					width: 100%;
				}

				.pic {
					width: 100%;
					object-fit: cover;
				}
			}

			&--left {
				padding-right: 95px;
				@include is-max(900px) {
					padding-right: 20px;
				}
				@include is-max(750px) {
					padding-right: unset;
				}

				.txt_ttl {
					@include font-line(24, 30);
					text-align: left;
					color: #fff;
					font-family: yu-mincho-pr6n, sans-serif;
					font-weight: 600;
					letter-spacing: 0.3em;
				}
				.text {
					font-family: cross-platform-yu-gothic;
					font-weight: 600;
					@include font-line(13, 26);
					text-align: left;
					color: #fff;
					padding-top: 15px;
					padding-bottom: 15px;
					letter-spacing: 0.2em;
					text-align: justify;

					@include is-max(750px) {
						padding-right: unset;
						padding-top: 25px;
						text-align: justify;
					}
				}

				.point {
					background-color: #fff;
					padding-left: 30px;
					padding-right: 30px;
					padding-top: 15px;
					padding-bottom: 15px;
					border: 1px solid #8bb1d0;
					&_ttl {
						font-family: century-gothic, sans-serif;
						@include font-line(11, 22);
						color: #2589ce;
						letter-spacing: 0.26em;
						text-align: center;
						font-weight: 700;
						padding-bottom: 5px;
					}

					&_item {
						font-family: cross-platform-yu-gothic;
						text-align: left;
						@include font-line(9, 26);
						color: #87b2db;
						font-weight: 700;

						span {
							margin-left: 10px;
							font-weight: 700;
							color: #2589ce;
							@include font-line(13, 26);
							letter-spacing: 0.2em;
						}
					}
				}
			}
			&--right {
			}

			.br-point{
				display: block;
				@include is-sp{
					.br-pc{
						display: none;
					}
				}
			}

		}
	}

	.sect_6 {
		background: #fff;

		.c-buttonREP{
			.txt{
				letter-spacing: 0.2em;
			}
		}

		.txt_ttl {
			@include font-line(24, 30);
			text-align: left;
			color: #4688c8;
			font-family: yu-mincho-pr6n, sans-serif;
			font-weight: 600;
			letter-spacing: 0.15em;
			padding-bottom: 20px;
			order: 1;
			@include is-sp{
				font-size: 21px;
			}
			@include is-max(400px){
				font-size: 6vw;
			}
		}

		&__box-big-new{
			position: absolute;
			left: 60%;
			top: -3%;
			@include is-sp{
				left: auto;
				width: 122px;
				right: 6%;
				top: 0;
			}
			
			.pc{
				display: none;
				@include is-pc{
					display: block;
				}
			}
			.sp{
				display: none;
				@include is-sp{
					display: block;
				}
			}
		}
		&__box-big-new2{
			position: absolute;
			left: -5%;
			top: 19%;
		}
		&__box-big-new3{
			position: absolute;
			right: 0;
			bottom: 30%;
			@include is-sp{
				display: none;
			}
		}

		.l-wrap {
			position: relative;
		}

		&__inner-realestate {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row-reverse;
			padding: 90px 0;
			@include is-max(750px) {
				display: grid;
			}

			&--left,
			&--right {
				width: 50%;
				position: relative;
				z-index: 4;
				@include is-max(750px) {
					width: 100%;
				}
			}

			&--left {
				padding-left: 95px;
				@include is-max(900px) {
					padding-left: 20px;
				}

				@include is-max(750px) {
					padding-left: unset;
					order: 3;
				}
				.txt_ttl {
					@include font-line(24, 30);
					text-align: left;
					color: #4688c8;
					font-family: yu-mincho-pr6n, sans-serif;
					font-weight: 600;
					letter-spacing: 0.15em;
				}
				.text {
					font-family: cross-platform-yu-gothic;
					font-weight: 600;
					@include font-line(13, 26);
					text-align: left;
					color: #000;
					padding-top: 15px;
					padding-bottom: 15px;
					letter-spacing: 0.2em;
					text-align: justify;

					@include is-max(750px) {
						padding-right: unset;
						padding-top: 25px;
						text-align: justify;
					}
				}

				.point {
					background-color: #fff;
					padding-left: 30px;
					padding-right: 30px;
					padding-top: 15px;
					padding-bottom: 15px;
					border: 1px solid #8bb1d0;
					&_ttl {
						font-family: century-gothic, sans-serif;
						@include font-line(11, 22);
						color: #2589ce;
						letter-spacing: 0.26em;
						text-align: center;
						font-weight: 700;
						padding-bottom: 5px;
					}

					&_item {
						font-family: cross-platform-yu-gothic;
						text-align: left;
						@include font-line(9, 26);
						color: #87b2db;
						font-weight: 700;

						span {
							margin-left: 10px;
							font-weight: 700;
							color: #2589ce;
							@include font-line(13, 26);
							letter-spacing: 0.2em;
						}
					}
				}
			}
			&--right {
				@include is-max(750px) {
					order: 2;
				}
			}
		}
	}

	.sect_7 {
		position: relative;
		margin-top: 60px;
		margin-bottom: 60px;
		padding-top: 70px;
		padding-bottom: 33px;
		background: linear-gradient(to right, #003782, #0059b6);

			.c-buttonREP{
				margin-top: 0;
			.txt{
				color: #2589ce;
			}
		}

		&__box-big-new{
			position: absolute;
			left: 46%;
			top: -12%;
			@include is-sp{
				top: -6%;
				width: 122px;
				right: 10%;
				left: auto;
			}
		}
		&__box-big-new2{
			position: absolute;
			left: 0;
			top: 24%;
			@include is-sp{
				// width: 115px;
				// top: 16%;
				display: none;
			}
			// @include is-max(375px){
			// 	top: 27%;
			// }
		}

		&::before {
			content: " ";
			position: absolute;
			width: 100%;
			top: -59px;
			height: 60px;
			background: linear-gradient(to right, #003782, #0059b6);
			-webkit-clip-path: polygon(20% 95%, 100% 0, 100% 100%, 0 100%, 0 0);
			clip-path: polygon(20% 95%, 100%, 100% 100%, 0 100%, 0 0);
			@include is-sp{
				top: -28px;
				height: 30px;
			}
		}

		&::after {
			content: " ";
			position: absolute;
			width: 100%;
			bottom: -59px;
			height: 60px;
			background: linear-gradient(to right, #003782, #0059b6);
			-webkit-clip-path: polygon(0 0, 100% -25%, 100% 100%, 80% 5%, 0 98%);
			clip-path: polygon(0 0, 100% -25%, 100% 100%, 85% 5%, 0 98%);
			@include is-sp{
				height: 30px;
				bottom: -28px;;
			}
		}

		.l-wrap {
			position: relative;
		}

		&--top-casestudy {
			border-left: 3px solid #fff;
			padding-left: 15px;
		}
		&__eng--ttl {
			font-family: century-gothic, sans-serif;
			@include font-line(10, 20);
			color: #95c6e7;
			letter-spacing: 0.32em;
			text-align: left;
			font-weight: 600;
			margin-bottom: 5px;
			@include is-max(750px) {
				@include font-line(13, 20);
				letter-spacing: 0.21em;
			}
		}

		&__header {
			@include font-line(26, 37);
			text-align: left;
			color: #fff;
			font-family: yu-mincho-pr6n, sans-serif;
			font-weight: 600;
			letter-spacing: 0.34em;
			padding-bottom: 15px;
			@include is-max(750px) {
				letter-spacing: 0.15em;
			}
		}

		&__header--sub {
			position: relative;
			font-family: cross-platform-yu-gothic;
			text-align: left;
			@include font-line(13, 26);
			color: #fff;
			font-weight: 600;
			letter-spacing: 0.2em;
			margin-bottom: 70px;
			@include is-max(750px) {
				text-align: justify;
			}
		}

		&--inner-casestudy {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			padding-bottom: 55px;
			@include is-max(750px) {
			}
		}

		.card_ttl {
			font-family: cross-platform-yu-gothic;
			@include font-line(14, 21);
			color: #2589ce;
			font-weight: 700;
			letter-spacing: 0.2em;
			padding-bottom: 10px;
			@include is-max(750px) {
				@include font-line(14, 21);
				color: #2589ce;
				font-weight: 700;
				letter-spacing: 0.1em;
			}
		}

		.desc {
			font-family: cross-platform-yu-gothic;
			@include font-line(11, 16);
			color: #000;
			font-weight: 500;
			letter-spacing: 0.2em;
		}

		&-cntnt {
			padding: 0;
			position: relative;

			&-box-big-newest2{
				display: none;
			@include is-sp{
				display: block;
				width: 115px;
				top: -4%;
				left: -2%;
			}
			// @include is-max(375px){
			// 	top: 27%;
			// }
		}

			&-txt {
				border-left: 3px solid #fff;
				color: #fff;
				padding-left: 23px;

				@include is-sp {
					padding-left: 13px;
				}

				&-ttl {
					font-family: century-gothic, sans-serif;
					@include font-line(10, 20);
					letter-spacing: 0.32em;
					color: #95c6e7;
					padding-bottom: 10px;

					@include is-sp {
						@include font-line(12.5, 10);
						letter-spacing: 0.21em;
					}
				}
				&-sub {
					font-family: yu-mincho-pr6n, sans-serif;
					@include font-line(26, 37);
					letter-spacing: 0.34;
					padding-bottom: 10px;

					@include is-sp {
						@include font-line(25, 37.5);
						letter-spacing: 0.03em;
						padding-top: 10px;
					}

					@include is-max(345px) {
						font-size: 7vw;
					}
				}

				&-desc {
					font-family: cross-platform-yu-gothic, sans-serif;
					font-weight: 500;

					@include font-line(13, 26);
					letter-spacing: 0.2em;

					@include is-sp {
						@include font-line(13.5, 20);
						letter-spacing: 0.1em;
						text-align: justify;
					}
				}
			}

			.crd-wrppr {
				display: flex;
				flex-wrap: wrap;
				padding: 0 0 58px 0;
				column-gap: 30px;
				justify-content: space-between;

				@include is-max(820px) {
					justify-content: space-between;
				}

				@include is-sp {
					column-gap: 0;
				}
			}
			@include is-sp {
				padding: 0 0 100px 0;
			}
		}
	}

	.sect_8 {
		padding-top: 70px;
		background-color: #fff;
		&--clipbg {
			background-color: #fff;
		}

			.c-buttonREP{
			.txt{
				color: #2589ce;
			}
		}

		&__box-big-new{
			position: absolute;
			left: 57%;
			top: -12%;
		}
		&__box-big-new2{
			position: absolute;
			left: -4%;
			top: 139%;
			@include is-sp{
				display: none;
			}
		}

		&__box-big-new3{
			position: absolute;
			right: 0;
			bottom: 58%;
			@include is-sp{
				display: none;
			}
		}

		.l-wrap {
			position: relative;
			display: flex;
			flex-wrap: wrap;
		}

		&--top {
			border-left: 3px solid #2589ce;
			padding-left: 15px;
			position: relative;
		}
		&__eng--ttl {
			font-family: century-gothic, sans-serif;
			@include font-line(10, 20);
			color: #94c5e6;
			letter-spacing: 0.32em;
			text-align: left;
			font-weight: 600;
			margin-bottom: 5px;

			@include is-max(750px) {
				@include font-line(13, 20);
				letter-spacing: 0.21em;
			}
		}

		&__header {
			@include font-line(26, 37);
			text-align: left;
			color: #2589ce;
			font-family: yu-mincho-pr6n, sans-serif;
			font-weight: 600;
			letter-spacing: 0.34em;
			@include is-max(750px) {
				@include font-line(25, 35);
				letter-spacing: 0em;
			}
		}

		&--inner {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.l-wrap {
				position: relative;
				margin-top: 70px;
				margin-bottom: 70px;
				width: 100%;
				justify-content: space-between;
				@include is-max(750px) {
					margin-top: unset;
				}
			}
		}

		.hide-sp {
			width: 100%;
			height: 70px;
			@include is-max(1000px) {
				display: none;
			}
		}


		.Question,
		.Answer {
			width: 15%;
			padding-left: 4px;
		}

		.qtext,
		.atext {
			width: 85%;
		}

		.Question {
			font-family: century-gothic, sans-serif;
			@include font-line(37);
			color: #9ec4e3;
			letter-spacing: 0.26em;
			text-align: left;
			font-weight: 700;
			line-height: 1;
		}

		.qtext {
			font-family: cross-platform-yu-gothic;
			@include font-line(16, 24);
			color: #2589ce;
			letter-spacing: 0.2em;
			text-align: left;
			font-weight: 700;
			padding-bottom: 10px;
			padding-left: 15px;
			@include is-max(1065px){
				font-size: 1.4vw;
			}
			@include is-max(1000px){
				@include font-line(16, 24);
			}
		}

		.Answer {
			font-family: century-gothic, sans-serif;
			@include font-line(37, 75);
			color: #a72f37;
			letter-spacing: 0.26em;
			text-align: left;
			font-weight: 700;
			padding-bottom: 5px;
			@include is-sp{
				line-height: 1;
			}
		}

		.atext {
			font-family: cross-platform-yu-gothic;
			@include font-line(13, 26);
			color: #333333;
			letter-spacing: 0.15em;
			text-align: justify;
			font-weight: 700;
			padding-bottom: 5px;
			padding-left: 15px;
		}

		&__btn--wrap {
			position: relative;
			padding-top: 55px;
			width: 640px;
			display: flex;
			justify-content: space-between;
			margin: auto;
			z-index: 2;

			@include is-sp{
				flex-direction: column;

				.c-buttonREP:first-child{
					margin-top: 0;
				}
			}
		}
	}

	.hide-tab{
		@include is-max(900px) {
		display:none;
		}
		@include is-max(750px) {
			display: block;
		}
	}

	.show-tab{
		display:none;
		@include is-max(900px) {
		display:block;
		text-align: center;
		margin: auto;
		width: 70%;
		margin-top: 50px;
		}
		@include is-max(750px) {
			display: none;
		}
	}


	.point {
		background-color: #fff;
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 15px;
		padding-bottom: 15px;
		&_ttl {
			font-family: century-gothic, sans-serif;
			@include font-line(11, 22);
			color: #2589ce;
			letter-spacing: 0.26em;
			text-align: center;
			font-weight: 700;
			padding-bottom: 5px;
		}

		&_item {
			font-family: cross-platform-yu-gothic;
			text-align: left;
			@include font-line(9, 26);
			color: #87b2db;
			font-weight: 700;

			span {
				margin-left: 10px;
				font-weight: 700;
				color: #2589ce;
				@include font-line(13, 26);
				letter-spacing: 0.2em;
			}
		}
	}

	.pic {
		width: 100%;
	}
}