.top {
	.l-wrap {
		position: relative;
	}
	.sect_1 {
		position: relative;

		z-index: 4;
		// background: rgb(95, 165, 205);
		background: linear-gradient(to right, #0059c4, #000017);
		position: relative;
		padding-top: 115px;
		margin-top: -115px;
		overflow: hidden;

		// clip top

		.top-clip-wrppr {
			position: absolute;
			top: 0;
			right: 0;
			width: 77%;
			height: 250px;
			max-width: 1200px;
			margin: 0 auto;
			display: flex;
			justify-content: flex-end;

			.pth {
				width: 800px;
				height: 250px;
				clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
				background: linear-gradient(to right, #0059c4, #000017);

				@include is-sp {
					height: 322px;
				}
			}
		}

		.clipPath {
			-webkit-clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
			clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
			background: linear-gradient(to right, #000017, #0059c4);
			padding: 191px 0 95px 0;
			margin-top: -89px;
			position: relative;
			z-index: 150;

			@include is-sp {
				clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 100%);
			}

		&::before {
			content: "";
			position: absolute;
			width: 100%;
			top: 0;
			z-index: 150;
			height: 120px;
			background: linear-gradient(to right, #0059c4, #000017);
			clip-path: polygon(100% -3%, 100% 50%, 61% 100%, 0 75%);
			opacity: 0.4;

			@include is-sp {
				top: 39px;
				height: 55px;
			}
		}

			&::after {
			content: "";
			position: absolute;
			width: 100%;
			bottom: 0;
			z-index: 150;
			height: 100px;
			background: linear-gradient(to right, #0059c4, #000017);
			clip-path: polygon(0 71%, 30% 15%, 100% 100%, 0% 100%);

			@include is-sp {
				bottom:39px;
				height: 55px;
				}
			}
		}

		&-hdr {
			text-align: center;

			&-ttl {
				font-family: century-gothic, sans-serif;

				&-txt {
					@include font-line(10, 20);
					letter-spacing: 0.32em;
					color: #fff;
					font-weight: 400;

					@include is-sp {
						@include font-line(12.5, 10);
						letter-spacing: 0.32em;
						margin-bottom: 23px;
						color: #95c6e7;
					}
				}
			}
			&-sub {
				font-family: yu-mincho-pr6n, sans-serif;

				&-txt {
					@include font-line(30, 48);
					font-weight: 500;
					letter-spacing: 0.28em;
					color: #fff;

					@include is-sp {
						@include font-line(25, 36);
						letter-spacing: 0.2em;
						margin-bottom: 17px;
					}
				}
			}

			&-desc {
				font-family: yu-gothic-pr6n, sans-serif;;

				&-txt {
					@include font-line(13, 26);
					font-weight: 500;
					color: #fff;
					letter-spacing: 0.2em;

					@include is-sp {
						@include font-line(13.5, 20);
						letter-spacing: 0.1em;
						text-align: justify;
					}
				}
			}
		}

		&-cntnt {
			padding-top: 95px;

			@include is-sp {
				margin-bottom: 40px;
				padding-top: 55px;
			}

			&-row {
				display: flex;
				justify-content: space-between;
				align-items: center;

				&-01 {
					width: 420px;

					@include is-sp {
						margin: 0 auto 25px auto;
						width: 100%;
					}

					img {
						width: 100%;
					}

					.row01-ttl {
						display: none;

						&-01-txt01 {
							@include font-line(25, 37.5);
							letter-spacing: 0.5em;
							color: #fff;
							font-family: yu-mincho-pr6n, sans-serif;

							@include is-sp {
								letter-spacing: 0.15em;
								padding-bottom: 10px;
							}
						}

						&-01-txt02 {
							@include font-line(12.5, 10);
							letter-spacing: 0.21em;
							color: #95c6e7;
							font-family: century-gothic, sans-serif;
						}
						@include is-sp {
							display: block;
							text-align: left;
							margin-bottom: 17.5px;
						}
					}

					.col--box {
						width: 100%;
						height: auto;
						position: relative;

						img {
							// object-fit: cover;
							// position: absolute;
							// inset: 0;
							// height: 100%;
							width: 100%;
						}

						.bdg-wrppr {
							position: absolute;
							top: 55%;
							left: 70%;
						}

						// .top-text01 {
						// 	font-family: century-gothic, sans-serif;
						// 	font-weight: 400;
						// 	position: absolute;
						// 	top: 0;
						// 	right: 10px;
						// 	color: $color-text03;
						// 	letter-spacing: 0.24em;
						// 	span {
						// 		color: #000;
						// 	}
						// }

						// .top-text02 {
						// 	color: $color-text03;
						// 	font-family: century-gothic, sans-serif;
						// 	font-weight: 400;
						// 	position: absolute;
						// 	top: 32px;
						// 	right: 7px;
						// 	-webkit-writing-mode: vertical-lr;
						// 	writing-mode: vertical-lr;
						// 	letter-spacing: 0.24em;
						// 	span {
						// 		color: #000;
						// 	}
						// }

						// .num {
						// 	@include font-line(108);
						// 	font-family: BebasNeue;
						// 	color: #b7d4e4;
						// 	position: absolute;
						// 	top: 98px;
						// 	z-index: 1;
						// 	left: 20px;
						// }

						// .info {
						// 	position: absolute;
						// 	bottom: 32px;
						// 	left: 0;
						// 	width: 56%;
						// 	background: linear-gradient(
						// 		100deg,
						// 		rgba(114, 159, 223, 0.8130602582830007) 0%,
						// 		rgba(36, 77, 126, 1) 100%
						// 	);

						// 	padding: 20px 0;
						// 	text-align: left;
						// 	padding-left: 25px;

						// 	@include is-max(960px) {
						// 		padding-left: 20px;
						// 	}

						// 	@include is-max(930px) {
						// 		padding-left: 10px;
						// 	}

						// 	@include is-max(836px) {
						// 		width: 60%;
						// 	}

						// 	&-ttl {
						// 		@include font-line(26);
						// 		color: $color-text03;
						// 		font-family: yu-mincho-pr6n, sans-serif;
						// 		letter-spacing: 0.03em;
						// 		line-height: 1;
						// 		padding-bottom: 7px;

						// 		@include is-max(900px) {
						// 			@include font-line(22);
						// 		}

						// 		@include is-max(370px) {
						// 			font-size: 6vw;
						// 		}
						// 	}

						// 	&-sub {
						// 		@include font-line(12);
						// 		color: $color-text03;
						// 		font-family: yu-gothic-pr6n, sans-serif;
						// 		letter-spacing: 0.3em;

						// 		@include is-max(370px) {
						// 			font-size: 3vw;
						// 		}
						// 	}
						// }
					}
				}
				&-02 {
					width: 489px;

					@include is-max(1015px) {
						padding-left: 20px;
					}

					@include is-sp {
						padding: 0;
					}

					&-txt {
						text-align: left;

						&-01 {
							font-family: yu-mincho-pr6n, sans-serif;
							@include font-line(26, 37);
							font-weight: 500;
							letter-spacing: 0.5em;
							color: #fff;

							@include is-sp {
								display: none;
							}
						}

						&-02 {
							font-family: century-gothic, sans-serif;
							@include font-line(10, 20);
							font-weight: 400;
							letter-spacing: 0.32em;
							color: #95c6e7;
							padding: 19px 0 28px 0;

							@include is-sp {
								@include font-line(25, 20);
								letter-spacing: 0.21em;
								display: none;
							}
						}

						&-03 {
							font-family: yu-gothic-pr6n, sans-serif;;
							@include font-line(13, 26);
							font-weight: 500;
							letter-spacing: 0.2em;
							color: #fff;
							margin-bottom: 45px;
							text-align: justify;

							@include is-sp {
								@include font-line(13.5, 20);
								letter-spacing: 0.1em;
								margin-bottom: 50px;
								text-align: justify;
							}
						}
					}

					@include is-sp {
						margin: 0 auto;
						width: 100%;
					}
				}

				@include is-sp {
					display: block;
					margin: 0 auto;
				}
			}
		}
		.bg_1 {
			position: absolute;
			top: -14%;
			right: 8%;

			@include is-sp {
				display: none;
			}
		}

		.bg_2 {
			position: absolute;
			left: -6%;
			top: 9%;
			z-index: -1;
			opacity: 0.3;

			@include is-sp {
				position: absolute;
				left: 2%;
				top: 34%;
				z-index: -1;
				width: 112px;
				opacity: 1;
			}

			// @include is-max(376px) {
			// 	position: absolute;
			// 	left: 2%;
			// 	top: 36%;
			// 	z-index: -1;
			// 	width: 112px;
			// }
		}
		.bg_3 {
			position: absolute;
			right: 0%;
			bottom: 4%;
			z-index: -1;
			opacity: 0.3;

			@include is-sp {
				position: absolute;
				right: 2.3%;
				bottom: 56.5%;
				z-index: -1;
				width: 126px;
			}

			// @include is-max(376px) {
			// 	position: absolute;
			// 	right: 2.3%;
			// 	bottom: 55%;
			// 	z-index: -1;
			// 	width: 126px;
			// }
		}

		.bg_sec1_sp {
			position: absolute;
			top: -9%;
			right: 2%;
			width: 176px;
		}
	}

	.sect_2 {
		position: relative;

		// &::before {
		// 	content: "";
		// 	position: absolute;
		// 	width: 100%;
		// 	top: -16px;
		// 	z-index: 150;
		// 	height: 100px;
		// 	background: linear-gradient(to right, #003782, #0059b6);
		// 	clip-path: polygon(0 71%, 42% 15%, 100% 100%, 0% 100%);

		// 	@include is-sp {
		// 		top: 39px;
		// 		height: 55px;
		// 	}
		// }

		.clipPath {
			clip-path: polygon(0 12%, 100% 0%, 100% 90%, 0% 100%);
			padding: 150px 0;
			margin: 15px 0 -110px 0;

			@include is-max(867px) {
				clip-path: polygon(-6% 12%, 100% 0%, 100% 90%, 0% 100%);
			}
			@include is-sp {
				padding: 160.5px 0 34.5px 0;
				clip-path: polygon(-198% 12%, 100% 0%, 100% 90%, 100% 146%);
				margin: -40px 0 0 0;
			}
		}

		.clip-bottom {
			// -webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
			// clip-path: polygon(100% 0%, 100% 101%, 0% 100%);
			-webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
			clip-path: polygon(0 0, 0% 100%, 100% 0);
			padding: 100px 0 0 0;
			background: linear-gradient(to right, #2579bf, #2593d5);
			text-align: center;

			@include is-sp {
				padding: 100px 0 0 0;
				clip-path: polygon(0 0, -70% 100%, 100% 0);
			}
		}

		.sect_2-cntnt {
			&-row {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding-bottom: 15px;

				&-02 {
					width: 420px;

					@include is-sp {
						width: 100%;
						margin-bottom: 20px;
					}

					.row01-ttl {
						display: none;

						&-01-txt01 {
							@include font-line(25, 37.5);
							letter-spacing: 0.5em;
							color: #258acf;
							font-family: yu-mincho-pr6n, sans-serif;

							@include is-sp {
								letter-spacing: 0.15em;
								padding-bottom: 10px;
							}
						}

						&-01-txt02 {
							@include font-line(12.5, 10);
							letter-spacing: 0.21em;
							color: #95c6e7;
							font-family: century-gothic, sans-serif;
						}
						@include is-sp {
							display: block;
							text-align: left;
							margin-bottom: 17.5px;
						}
					}

					.col--box {
						// width: 100%;
						// height: 345px;
						// position: relative;

						img {
							// object-fit: cover;
							// position: absolute;
							// inset: 0;
							// height: 100%;
							width: 100%;
						}
						.bdg-wrppr {
							position: absolute;
							top: 40%;
							left: 81%;
						}

						// .top-text01 {
						// 	font-family: century-gothic, sans-serif;
						// 	font-weight: 400;
						// 	position: absolute;
						// 	top: 0;
						// 	right: 10px;
						// 	color: $color-text03;
						// 	letter-spacing: 0.24em;
						// 	span {
						// 		color: #000;
						// 	}
						// }

						// .top-text02 {
						// 	color: $color-text03;
						// 	font-family: century-gothic, sans-serif;
						// 	font-weight: 400;
						// 	position: absolute;
						// 	top: 32px;
						// 	right: 7px;
						// 	-webkit-writing-mode: vertical-lr;
						// 	writing-mode: vertical-lr;
						// 	letter-spacing: 0.24em;
						// 	span {
						// 		color: #000;
						// 	}
						// }

						// .num {
						// 	@include font-line(108);
						// 	font-family: BebasNeue;
						// 	color: #b7d4e4;
						// 	position: absolute;
						// 	top: 98px;
						// 	z-index: 1;
						// 	left: 20px;
						// }

						// .info {
						// 	position: absolute;
						// 	bottom: 32px;
						// 	left: 0;
						// 	width: 87%;
						// 	background: linear-gradient(
						// 		100deg,
						// 		rgba(114, 159, 223, 0.8130602582830007) 0%,
						// 		rgba(36, 77, 126, 1) 100%
						// 	);

						// 	padding: 20px 0;
						// 	text-align: left;
						// 	padding-left: 25px;

						// 	@include is-max(960px) {
						// 		padding-left: 20px;
						// 	}

						// 	@include is-max(930px) {
						// 		padding-left: 10px;
						// 	}

						// 	@include is-max(840px) {
						// 		width: 90%;
						// 	}

						// 	&-ttl {
						// 		@include font-line(26);
						// 		color: $color-text03;
						// 		font-family: yu-mincho-pr6n, sans-serif;
						// 		letter-spacing: 0.03em;
						// 		line-height: 1;
						// 		padding-bottom: 7px;

						// 		@include is-max(900px) {
						// 			@include font-line(22);
						// 		}
						// 		@include is-max(500px) {
						// 			font-size: 6vw;
						// 		}
						// 	}

						// 	&-sub {
						// 		@include font-line(12);
						// 		color: $color-text03;
						// 		font-family: yu-gothic-pr6n, sans-serif;
						// 		letter-spacing: 0.3em;

						// 		@include is-max(500px) {
						// 			font-size: 3vw;
						// 		}
						// 	}
						// }
					}
				}

				&-01 {
					width: 489px;

					@include is-max(1015px) {
						padding-right: 20px;
					}

					@include is-sp {
						padding: 0;
					}

					&-txt {
						text-align: left;

						&-01 {
							font-family: yu-mincho-pr6n, sans-serif;
							@include font-line(26, 37);
							font-weight: 500;
							letter-spacing: 0.5em;
							color: #258acf;
							padding-top: 30px;

							@include is-sp {
								@include font-line(50, 75);
								letter-spacing: 0.15em;
								display: none;
							}
						}

						&-02 {
							font-family: century-gothic, sans-serif;
							@include font-line(10, 20);
							font-weight: 400;
							letter-spacing: 0.32em;
							color: #95c6e7;
							padding: 19px 0 28px 0;

							@include is-sp {
								@include font-line(25, 20);
								letter-spacing: 0.21em;
								display: none;
							}
						}

						&-03 {
							font-family: yu-gothic-pr6n, sans-serif;;
							@include font-line(13, 26);
							font-weight: 500;
							letter-spacing: 0.2em;
							color: #000000;
							margin-bottom: 22px;
							text-align: justify;

							@include is-sp {
								@include font-line(13.5, 20);
								letter-spacing: 0.1em;
								margin-bottom: 50px;
							}
						}
					}

					@include is-sp {
						width: 100%;
					}
				}

				@include is-sp {
					flex-direction: column-reverse;
				}
			}
		}

		.bg_4 {
			position: absolute;
			position: absolute;
			top: -27%;
			right: 7%;

			@include is-sp {
				display: none;
			}
		}
		.sec2bg {
			display: none;
			position: absolute;
			top: -6%;
			left: 0;
			z-index: -1;

			@include is-sp {
				display: block;
				width: 145px;
			}
		}
		.bg_5 {
			position: absolute;
			left: -6%;
			top: 57%;
			z-index: -1;

			@include is-sp {
				position: absolute;
				left: 2%;
				top: 3%;
				z-index: -1;
				display: none;
			}
		}
		.bg_6 {
			position: absolute;
			right: 0;
			bottom: -10%;

			@include is-sp {
				position: absolute;
				right: 3%;
				top: 3%;
				width: 163px;
				z-index: -1;
			}
		}

		.bg_sp {
			position: absolute;
			top: -34px;
			left: 14px;
			z-index: -1;

			@include is-sp {
				width: 145px;
			}
		}

		.c-buttonCase {
			color: #258acf;

			@include is-sp {
				border: 2px solid #81b3d4;
				margin-bottom: 39px;
			}

			@include is-max(600px) {
				margin-bottom: 15px;
			}
		}
	}

	.sect_3 {
		// background-color: #fff;

		.clipPath {
			clip-path: polygon(0 12%, 100% 0%, 100% 90%, 0% 100%);
			padding: 25px 0;
			background: linear-gradient(to right, #003782, #0059b6);

			@include is-max(867px) {
				clip-path: polygon(-6% 12%, 100% 0%, 100% 90%, 0% 100%);
			}

			@include is-sp {
				padding: 0 0 70.5px 0;
				clip-path: polygon(-198% 12%, 100% 0%, 100% 90%, -120% 100%);
			}
		}

		&-cntnt {
			padding: 90px 0px 85px;

			@include is-sp {
				padding-top: 103px;
				padding-bottom: 80px;
			}

			&-row {
				display: flex;
				justify-content: space-between;
				align-items: center;

				&-01 {
					width: 420px;

					.row01-ttl {
						display: none;

						&-01-txt01 {
							@include font-line(25, 37.5);
							letter-spacing: 0.5em;
							color: #fff;
							font-family: yu-mincho-pr6n, sans-serif;

							@include is-sp {
								letter-spacing: 0.15em;
								padding-bottom: 10px;
							}
						}

						&-01-txt02 {
							@include font-line(12.5, 10);
							letter-spacing: 0.21em;
							color: #95c6e7;
							font-family: century-gothic, sans-serif;
						}
						@include is-sp {
							display: block;
							text-align: left;
							margin-bottom: 17.5px;
						}
					}

					.col--box {
						width: 100%;
						height: auto;
						position: relative;

						img {
							// object-fit: cover;
							// position: absolute;
							// inset: 0;
							// height: 100%;
							width: 100%;
						}

						.bdg-wrppr {
							position: absolute;
							top: 48%;
							left: 75%;
						}

						// .top-text01 {
						// 	font-family: century-gothic, sans-serif;
						// 	font-weight: 400;
						// 	position: absolute;
						// 	top: 0;
						// 	right: 10px;
						// 	color: $color-text03;
						// 	letter-spacing: 0.24em;
						// 	span {
						// 		color: #000;
						// 	}
						// }

						// .top-text02 {
						// 	color: $color-text03;
						// 	font-family: century-gothic, sans-serif;
						// 	font-weight: 400;
						// 	position: absolute;
						// 	top: 32px;
						// 	right: 7px;
						// 	-webkit-writing-mode: vertical-lr;
						// 	writing-mode: vertical-lr;
						// 	letter-spacing: 0.24em;
						// 	span {
						// 		color: #000;
						// 	}
						// }

						// .num {
						// 	@include font-line(108);
						// 	font-family: BebasNeue;
						// 	color: #b7d4e4;
						// 	position: absolute;
						// 	top: 98px;
						// 	z-index: 1;
						// 	left: 20px;
						// }

						// .info {
						// 	position: absolute;
						// 	bottom: 32px;
						// 	left: 0;
						// 	width: 87%;
						// 	background: linear-gradient(
						// 		100deg,
						// 		rgba(114, 159, 223, 0.8130602582830007) 0%,
						// 		rgba(36, 77, 126, 1) 100%
						// 	);

						// 	padding: 20px 0;
						// 	text-align: left;
						// 	padding-left: 25px;

						// 	@include is-max(960px) {
						// 		padding-left: 20px;
						// 	}

						// 	@include is-max(930px) {
						// 		padding-left: 10px;
						// 	}

						// 	@include is-max(840px) {
						// 		width: 90%;
						// 	}

						// 	&-ttl {
						// 		@include font-line(26);
						// 		color: $color-text03;
						// 		font-family: yu-mincho-pr6n, sans-serif;
						// 		letter-spacing: 0.03em;
						// 		line-height: 1;
						// 		padding-bottom: 7px;

						// 		@include is-max(900px) {
						// 			@include font-line(22);
						// 		}

						// 		@include is-max(500px) {
						// 			font-size: 6vw;
						// 		}
						// 	}

						// 	&-sub {
						// 		@include font-line(12);
						// 		color: $color-text03;
						// 		font-family: yu-gothic-pr6n, sans-serif;
						// 		letter-spacing: 0.3em;

						// 		@include is-max(500px) {
						// 			font-size: 3vw;
						// 		}
						// 	}
						// }
					}

					@include is-sp {
						width: 100%;
						margin-bottom: 25px;
						// margin-bottom: -95px;
					}
				}
				&-02 {
					width: 489px;
					// margin-top: -105px;

					@include is-max(1015px) {
						padding-left: 20px;
					}

					@include is-sp {
						padding: 0;
						margin-top: 0;
					}

					&-txt {
						text-align: left;

						&-01 {
							font-family: yu-mincho-pr6n, sans-serif;
							@include font-line(26, 37);
							font-weight: 500;
							letter-spacing: 0.5em;
							color: #fff;
							padding-top: 30px;

							@include is-sp {
								@include font-line(50, 75);
								letter-spacing: 0.15em;
								display: none;
								padding-top: 0;
							}
						}

						&-02 {
							font-family: century-gothic, sans-serif;
							@include font-line(10, 20);
							font-weight: 400;
							letter-spacing: 0.32em;
							color: #95c6e7;
							padding: 19px 0 28px 0;

							@include is-sp {
								@include font-line(25, 20);
								letter-spacing: 0.21em;
								display: none;
							}
						}

						&-03 {
							font-family: yu-gothic-pr6n, sans-serif;;
							@include font-line(13, 26);
							font-weight: 500;
							letter-spacing: 0.2em;
							color: #fff;
							margin-bottom: 45px;
							text-align: justify;

							@include is-sp {
								@include font-line(13.5, 20);
								letter-spacing: 0.1em;
								margin-bottom: 50px;
								line-height: 22.5px;
							}
						}
					}

					.wh {
						color: #258acf;
						.txt {
							@include is-sp {
								letter-spacing: 0.13em;
								font-size: 15px;
								font-weight: 700;
							}
						}

						img {
							@include is-sp {
								width: 6px;
								height: 12.3px;
							}
						}
					}

					@include is-sp {
						width: 100%;
					}
				}

				@include is-sp {
					display: block;
				}
			}
		}

		.bg_2 {
			position: absolute;
			top: 11%;
			left: -6%;
			z-index: -1;

			@include is-sp {
				position: absolute;
				top: 6%;
				left: 2%;
				z-index: -1;
				width: 145px;
			}
		}
		.bg_3 {
			position: absolute;
			bottom: 21%;
			right: 3%;
			z-index: -1;

			@include is-sp {
				bottom: 85%;
				right: 1%;
				width: 163px;
			}
		}
	}

	.sect_4 {
		.sect_4-cntnt {
			padding-top: 95px;
			padding-bottom: 60px;
			z-index: 1;

			@include is-sp {
				padding-top: 8px;
			}

			&-row {
				display: flex;
				justify-content: space-between;
				align-items: center;

				&-02 {
					width: 420px;

					.row01-ttl {
						display: none;

						&-01-txt01 {
							@include font-line(25, 37.5);
							letter-spacing: 0.5em;
							color: #e3474d;
							font-family: yu-mincho-pr6n, sans-serif;

							@include is-sp {
								letter-spacing: -1px;
								padding-bottom: 10px;
							}
						}

						&-01-txt02 {
							@include font-line(12.5, 10);
							letter-spacing: 0.21em;
							color: #e3474d;
							font-family: century-gothic, sans-serif;
						}
						@include is-sp {
							display: block;
							text-align: left;
							margin-bottom: 17.5px;
						}
					}

					.col--box {
						width: 100%;
						height: auto;
						position: relative;

						img {
							// object-fit: cover;
							// position: absolute;
							// inset: 0;
							// height: 100%;
							width: 100%;
						}

						.bdg-wrppr {
							position: absolute;
							top: 50%;
							left: 67%;
						}

						// .top-text01 {
						// 	font-family: century-gothic, sans-serif;
						// 	font-weight: 400;
						// 	position: absolute;
						// 	top: 11px;
						// 	right: 17px;
						// 	color: $color-text03;
						// 	line-height: 1;
						// 	letter-spacing: 0.24em;
						// 	span {
						// 		color: #000;
						// 	}
						// }

						// .top-text02 {
						// 	color: $color-text03;
						// 	font-family: century-gothic, sans-serif;
						// 	font-weight: 400;
						// 	position: absolute;
						// 	top: 37px;
						// 	right: 11px;
						// 	-webkit-writing-mode: vertical-lr;
						// 	writing-mode: vertical-lr;
						// 	letter-spacing: 0.24em;
						// 	line-height: 1;
						// 	span {
						// 		color: #000;
						// 	}
						// }

						// .num {
						// 	@include font-line(108);
						// 	font-family: "Bebas Neue", cursive;
						// 	color: #e3474d;
						// 	position: absolute;
						// 	top: 104px;
						// 	z-index: 1;
						// 	left: 20px;

						// 	@include is-max(815px) {
						// 		top: 87px;
						// 		font-weight: 400;
						// 	}

						// 	@include is-sp {
						// 		top: 135px;
						// 		@include font-line(87);
						// 		left: 7px;
						// 	}
						// }

						// .badge {
						// 	color: #fff;
						// 	position: absolute;
						// 	font-size: 11px;
						// 	top: 50%;
						// 	right: 20%;
						// 	transform: translate(-50%, -50%);
						// }

						// .info {
						// 	position: absolute;
						// 	bottom: 32px;
						// 	left: 0;
						// 	width: 87%;
						// 	background: linear-gradient(
						// 		100deg,
						// 		rgba(168, 88, 61, 0.7234244039412641) 29%,
						// 		rgba(165, 47, 55, 0.6253851882549895) 55%
						// 	);

						// 	padding: 20px 0;
						// 	text-align: left;
						// 	padding-left: 25px;

						// 	@include is-max(960px) {
						// 		padding-left: 20px;
						// 	}

						// 	@include is-max(930px) {
						// 		padding-left: 10px;
						// 	}

						// 	@include is-max(840px) {
						// 		width: 90%;
						// 	}

						// 	&-ttl {
						// 		@include font-line(26);
						// 		color: $color-text03;
						// 		font-family: yu-mincho-pr6n, sans-serif;
						// 		letter-spacing: 0.03em;
						// 		line-height: 1;
						// 		padding-bottom: 7px;

						// 		@include is-max(900px) {
						// 			@include font-line(22);
						// 		}

						// 		@include is-max(500px) {
						// 			font-size: 6vw;
						// 		}
						// 	}

						// 	&-sub {
						// 		@include font-line(12);
						// 		color: $color-text03;
						// 		font-family: yu-gothic-pr6n, sans-serif;
						// 		letter-spacing: 0.3em;

						// 		@include is-max(500px) {
						// 			font-size: 3vw;
						// 			letter-spacing: 0.15em;
						// 		}
						// 	}
						// }
					}

					@include is-sp {
						width: 100%;
						margin-bottom: 25px;
					}
				}

				&-01 {
					width: 489px;
					z-index: 1;

					@include is-max(1015px) {
						padding-right: 20px;
					}

					@include is-sp {
						padding: 0;
					}

					&-txt {
						text-align: left;

						&-01 {
							font-family: yu-mincho-pr6n, sans-serif;
							@include font-line(26, 37);
							font-weight: 500;
							letter-spacing: 0.5em;
							color: #e3474d;
							padding-top: 30px;

							@include is-max(857px) {
								font-size: 3vw;
							}

							@include is-sp {
								@include font-line(50, 75);
								letter-spacing: 0.15em;
								display: none;
								padding-top: 0;
							}
						}

						&-02 {
							font-family: century-gothic, sans-serif;
							@include font-line(10, 20);
							font-weight: 400;
							letter-spacing: 0.32em;
							color: #e3474d;
							padding: 19px 0 28px 0;

							@include is-sp {
								@include font-line(25, 20);
								letter-spacing: 0.21em;
								display: none;
							}
						}

						&-03 {
							font-family: yu-gothic-pr6n, sans-serif;;
							@include font-line(13, 26);
							font-weight: 500;
							letter-spacing: 0.2em;
							color: #000000;
							margin-bottom: 45px;
							text-align: justify;

							@include is-sp {
								@include font-line(13.5, 20);
								letter-spacing: 0.1em;
								margin-bottom: 50px;
								line-height: 22.5px;
								text-align: justify;
							}
						}
					}
					.rd {
						border: 1px solid #e3474d;

						.txt {
							color: #e3474d;
							@include is-sp {
								letter-spacing: 0.13em;
								font-size: 15px;
								font-weight: 700;
							}
						}

						img {
							@include is-sp {
								width: 6px;
								height: 12.3px;
							}
						}
					}

					@include is-sp {
						width: 100%;
					}
				}

				@include is-sp {
					flex-direction: column-reverse;
				}
			}
		}

		.bg_1_rd {
			position: absolute;
			top: 1.5%;
			right: 8%;

			@include is-sp {
				display: none;
			}
		}
		.bg_2_rd {
			position: absolute;
			top: 58%;
			left: -6%;
			z-index: -1;
			opacity: 0.4;

			@include is-sp {
				display: none;
			}
		}

		.bg_2_rd_sp {
			display: none;

			@include is-sp {
				position: absolute;
				top: -4%;
				left: 3%;
				z-index: -1;
				display: block;
				width: 145px;
			}
		}
		.bg_3_rd {
			position: absolute;
			bottom: 3%;
			right: 2%;

			@include is-sp {
				position: absolute;
				bottom: 93%;
				right: 1%;
				z-index: -1;
				width: 163px;
			}
		}
	}

	.sect_5 {
		background-color: #fff;

		.clipPath {
			clip-path: polygon(
				17% 9%,
				80% 2%,
				100% 0,
				100% 100%,
				85% 92%,
				23% 98%,
				0 100%,
				0 0
			);
			background: linear-gradient(to right, #003782, #0059b6);

			@include is-sp {
				clip-path: polygon(
					15% 2%,
					18% 2.3%,
					100% 0%,
					100% 100%,
					85% 98%,
					44% 99%,
					0 100%,
					0 0
				);
			}
		}

		&-cntnt {
			padding: 164px 0 120px 0;

			&-txt {
				border-left: 3px solid #fff;
				color: #fff;
				padding-left: 23px;

				@include is-sp {
					padding-left: 13px;
				}

				&-ttl {
					font-family: century-gothic, sans-serif;
					@include font-line(10, 20);
					letter-spacing: 0.32em;
					color: #95c6e7;
					padding-bottom: 10px;

					@include is-sp {
						@include font-line(12.5, 10);
						letter-spacing: 0.21em;
					}
				}
				&-sub {
					font-family: yu-mincho-pr6n, sans-serif;
					@include font-line(26, 37);
					letter-spacing: 0.34;
					padding-bottom: 10px;

					@include is-sp {
						@include font-line(25, 37.5);
						letter-spacing: 0.03em;
						padding-top: 10px;
					}

					@include is-max(345px) {
						font-size: 7vw;
					}
				}

				&-desc {
					font-family: yu-gothic-pr6n, sans-serif;;
					font-weight: 500;

					@include font-line(13, 26);
					letter-spacing: 0.2em;

					@include is-sp {
						@include font-line(13.5, 20);
						letter-spacing: 0.1em;
						text-align: justify;
					}
				}
			}

			.crd-wrppr {
				display: flex;
				flex-wrap: wrap;
				padding: 69px 0 58px 0;
				column-gap: 30px;
				justify-content: space-between;

				@include is-max(820px) {
					justify-content: space-between;
				}

				@include is-sp {
					column-gap: 0;
				}
			}
			@include is-sp {
				padding: 120px 0 100px 0;
			}
		}

		.bg_7 {
			position: absolute;
			right: 31%;
			top: 9%;
			z-index: -9999;

			@include is-sp {
				position: absolute;
				right: 4%;
				top: 5%;
				z-index: -1;
				width: 122px;
			}
		}
		.bg_8 {
			position: absolute;
			top: 35%;
			left: 0%;
			z-index: -1;

			@include is-sp {
				position: absolute;
				top: 32.5%;
				left: 3%;
				z-index: -1;
				width: 115px;
			}
		}

		.c-buttonCase {
			color: #258acf;
		}
	}

	.sect_6 {
		.fp {
			clip-path: none !important;
			padding: 38px 0 97.5px !important;

			@include is-sp {
				padding-top: 90px !important;
			}

			.c-case--items__contents {
				padding-bottom: 30px;
			}
			.c-case03__txt {
				@include is-sp {
					padding-left: 13px;
				}
			}

			.c-case03__txt__ttl {
				letter-spacing: 0.32em;
			}

			.c-case03__txt__desc {
				letter-spacing: 0.2em;

				@include is-sp {
					letter-spacing: 0.1em;
				}

				@include is-max(375px) {
					font-size: 3.5vw;
				}
			}
		}

		.slick-slider {
			padding-top: 0;
		}

		.bg_1 {
			position: absolute;
			right: 3%;
			top: 22%;

			@include is-sp {
				display: none;
			}
		}
		.bg_2 {
			position: absolute;
			left: 0%;
			top: -4%;

			@include is-sp {
				position: absolute;
				left: 3%;
				top: 1%;
				width: 115px;
			}
		}
		.bg_3 {
			position: absolute;
			bottom: 8%;
			right: 3%;

			@include is-sp {
				display: none;
			}
		}
		.bg_6_sp {
			display: none;

			@include is-sp {
				position: absolute;
				top: -30%;
				right: 4%;
				display: block;
				width: 122px;
			}
		}

		.c-buttonCase {
			color: #258acf;
		}
	}

	.sect_7 {
		.clipPath {
			clip-path: polygon(
				17% 9%,
				80% 2%,
				100% 0,
				100% 100%,
				85% 92%,
				23% 98%,
				0 100%,
				0 0
			);
			background: linear-gradient(to right, #003782, #0059b6);

			@include is-sp {
				clip-path: polygon(
					15% 2%,
					18% 2.3%,
					100% 0%,
					100% 100%,
					85% 98%,
					44% 99%,
					0 100%,
					0 0
				);
			}
		}

		&-cntnt {
			padding: 164px 0 160px 0;

			@include is-sp {
				padding-bottom: 103px;
				padding-top: 125px;
			}

			&-rows {
				@include is-sp {
					flex-direction: column;
				}

				.row01-ttl {
					display: none;
					text-align: center;

					&-01-txt01 {
						@include font-line(25, 37.5);
						letter-spacing: 0.15em;
						color: #fff;
						font-family: yu-mincho-pr6n, sans-serif;
						text-align: center;
					}

					&-01-txt02 {
						@include font-line(12.5, 10);
						letter-spacing: 0.21em;
						color: #fff;
						font-family: century-gothic, sans-serif;
						color: #95c6e7;

						@include is-sp {
							padding: 20px 0 26px 0;
						}
					}
					@include is-sp {
						display: block;
						text-align: left;
						margin-bottom: 55px;
						text-align: center;
					}
				}
			}
			&-rows-01 {
				width: 490px;
				height: 400px;
				background: linear-gradient(to left, #59aee7, #4a93d1);
				position: relative;
				z-index: -2;

				@include is-sp {
					width: 100%;
					height: 261px;
					margin: 0 auto 20px;
				}

				&-txt {
					position: absolute;
					left: 0%;
					bottom: 27px;
					padding: 8px 13px 16px 23px;
					background: linear-gradient(
						100deg,
						rgba(114, 159, 223, 0.238831) 14%,
						#244d7e 100%
					);
					width: 77%;

					@include is-max(890px) {
						width: 90%;
					}

					@include is-sp {
						width: 77%;
					}

					p:nth-child(1) {
						font-size: 10px;
						line-height: 20px;
						letter-spacing: 0.32em;
						color: #95c6e7;
					}
					p:nth-child(2) {
						font-family: yu-mincho-pr6n, sans-serif;
						color: #fff;
						font-size: 1rem;
						font-size: 20px;
						letter-spacing: 0.18em;

						@include is-sp {
							@include font-line(16);
						}

						@include is-max(360px){
							font-size: 4.3vw;
						}
					}
				}
				.bdg-wrppr {
					position: absolute;
					top: 49%;
					left: 50%;
					transform: translateX(-50%);
				}
				&:before {
					content: "";
					position: absolute;
					bottom: 0;
					left: 50%;
					transform: translateX(-50%);
					height: 450px;
					width: 390px;
					background: url(../../release/image/page/top-page/sec7_img.png);

					background-position: center;

					@include is-sp {
						width: 260px;
						height: 308px;
						background-size: cover;
					}
				}
			}

			&-rows-02 {
				width: 446px;

				@include is-max(1015px) {
					padding-left: 20px;
				}

				@include is-sp {
					padding: 0;
				}

				&-txt {
					color: #fff;

					&-01 {
						@include font-line(26, 37);
						letter-spacing: 0.34em;
						font-family: yu-mincho-pr6n, sans-serif;
						font-weight: 500;

						@include is-sp {
							display: none;
						}
					}
					&-02 {
						@include font-line(10, 20);
						letter-spacing: 0.32em;
						color: #95c6e7;
						padding: 9px 0 11px 0;
						@include is-sp {
							display: none;
						}
					}
					&-03 {
						@include font-line(12, 26);
						letter-spacing: 0.15em;
						font-weight: 500;
						font-family: yu-gothic-pr6n, sans-serif;;
						padding-bottom: 37px;

						@include is-sp {
							@include font-line(13.5, 20);
							letter-spacing: 0.1em;
							padding-bottom: 47.5px;
						}
					}
				}

				@include is-sp {
					width: 100%;
				}
			}

			@include is-sp {
				display: block;
			}
		}

		.bg_11 {
			position: absolute;
			top: 9.5%;
			right: 32%;
			z-index: -4;

			@include is-sp {
				position: absolute;
				top: 3.5%;
				right: 2%;
				z-index: -4;
				width: 176px;
			}
		}
		.bg_9 {
			position: absolute;
			top: 12%;
			left: 0%;
			z-index: -1;
		}
		.bg_10 {
			position: absolute;
			top: 53%;
			left: 0%;
			z-index: -4;

			@include is-sp {
				position: absolute;
				top: 27%;
				left: 0%;
				z-index: -4;
				width: 115px;
			}
			@include is-max(375px) {
				top: 30%;
			}
		}

		.c-buttonCase {
			color: #258acf;
		}
	}

	.sect_8 {
		&-cntnt {
			padding: 60px 0 94px 0;

			&-txt {
				border-left: 3px solid #258acf;
				padding-left: 23px;
				margin-bottom: 34px;

				@include is-sp {
					padding-left: 30px;
				}

				&-ttl {
					font-size: 10px;
					line-height: 20px;
					letter-spacing: 0.32em;
					font-family: century-gothic, sans-serif;
					font-weight: 400;
					color: #95c6e7;

					@include is-sp {
						@include font-line(12.5, 10);
						letter-spacing: 0.21em;
						padding-bottom: 15px;
					}
				}

				&-sub {
					font-size: 26px;
					line-height: 37px;
					letter-spacing: 0.34px;
					font-weight: 500;
					font-family: yu-mincho-pr6n, sans-serif;
					color: #258acf;

					@include is-sp {
						@include font-line(25, 37.5);
						letter-spacing: 0.15em;
					}

					@include is-max(389px) {
						font-size: 6vw;
					}
				}
			}
			&-news {
				overflow-y: scroll;
				height: 423px;
				padding-right: 13px;

				&::-webkit-scrollbar {
					width: 15px;
				}

				&::-webkit-scrollbar-track {
					background-color: #258acf;
				}

				&::-webkit-scrollbar-thumb {
					background-color: #fff;
					border: 4px solid #258acf;
					width: 13px;
					border-radius: 20px;
				}

				&-cntnt {
					display: flex;
					padding: 30px 0 28px 15px;
					border-bottom: 1px solid #d2d2d2;
					border-top: 1px solid #d2d2d2;

					@include is-sp {
						padding: 0;
					}

					&-date {
						font-family: yu-gothic-pr6n, sans-serif;;
						padding-top: 4px;
						// padding-right: 111px;
						width: 230px;
						color: #258acf;

						@include is-sp {
							padding: 34px 0 26.5px 0;
							width: 100%;
						}

						p {
							font-size: 12px;
							line-height: 14px;
							letter-spacing: 0.4em;
							font-weight: 500;
							white-space: nowrap;

							@include is-sp {
								@include font-line(12.5, 27);
								letter-spacing: 0.4em;
							}
						}
					}

					&-txt {
						font-family: yu-gothic-pr6n, sans-serif;;
						color: #333;
						width: 770px;

						@include is-sp {
							padding-bottom: 25px;
							width: 100%;
						}
						p {
							font-size: 12px;
							line-height: 26px;
							font-weight: 500;
							letter-spacing: 0.22em;

							@include is-sp {
								@include font-line(13.5, 25);
								letter-spacing: 0.1em;
							}
						}
					}
					@include is-sp {
						display: block;
					}

					&:nth-child(1),
					&:nth-child(2),
					&:nth-child(3) {
						border-bottom: 0;
					}
				}
			}
		}

		.bg_12 {
			position: absolute;
			top: 0%;
			right: 3.5%;
			z-index: -1;

			@include is-sp {
				display: none;
			}
		}
		.bg_13 {
			position: absolute;
			top: 23.2%;
			left: 0%;
			z-index: -1;

			@include is-sp {
				display: none;
			}
		}
		.bg_14 {
			position: absolute;
			bottom: 33%;
			right: 0%;
			z-index: -1;

			@include is-sp {
				display: none;
			}
		}

		.sec8bg {
			position: absolute;
			right: 4%;
			display: none;

			@include is-sp {
				width: 122px;
				display: block;
			}
		}
	}

	@include is-sp {
		.c-buttonCase {
			border: 2px solid #81b3d4;
		}

		.rd {
			border: 2px solid #e3474d !important;
		}
	}

	.p-cntct{
		background-color: #0059b6;
	}

}
