.c-contact-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	background-color: #fff;
	padding: 20px 30px;

	@include is-max(1090px) {
		justify-content: center;
	}

	@include is-sp {
		border: 1px solid #003780;
		flex-direction: column;
		padding: 20px;
	}

	.p1 {
		background-color: #e2f3fb;
		padding: 10px 15px;

		@include is-sp {
			width: 100%;
		}

		.txt {
			font-family: yu-gothic-pr6n, sans-serif;
			@include font-line(15);
			font-weight: 700;
			color: #003780;
			letter-spacing: 0.24em;
		}
	}

	.p2 {
		.txt {
			padding: 0 50px;

			@include is-sp {
				padding: 0;
			}

			a {
				font-family: century-gothic, sans-serif;
				@include font-line(36);
				font-weight: 700;
				color: #003780;
				display: flex;
				align-items: center;

				@include is-max(430px) {
					font-size: 7.7vw;
				}
			}

			img {
				@include is-max(385px) {
					width: 14%;
				}
			}
		}
	}

	.p3 {
		.txt {
			@include font-line(11);
			font-family: yu-gothic-pr6n, sans-serif;
			font-weight: 600;
		}
	}
}
