.p-main_content__box1 {
	display: flex;
	flex-direction: column;
	z-index: 2;
    margin-bottom: 20px;

	&-row1 {
		display: flex;

		@include is-max(970px) {
			flex-direction: column;
		}

		.img {
			width: 414px;
			position: relative;

			@include is-max(1050px) {
				width: 350px;
			}

			@include is-max(970px) {
				width: 100%;
			}

            img {
				height: 100%;
				width: 100%;
			}

			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: 21%;
				background-color: #2581c6;
				mix-blend-mode: multiply;
				z-index: 1;
			}

			.content {
				padding: 0 20px;
				height: 21%;
				align-items: center;
				width: 100%;
				display: flex;
				justify-content: space-between;
				position: absolute;
				bottom: 0;
				z-index: 2;

				@include is-sp {
					padding: 0 12px 0 13px;
				}

				& p:first-child {
					color: #fff;
					font-weight: 700;
					letter-spacing: 0.2em;
					@include font-line(14);
					line-height: 13.5px;
					font-family: cross-platform-yu-gothic, sans-serif;

					@include is-max(365px) {
						font-size: 3.4vw;
					}
				}

				& p:last-child {
					background-color: #fff;
					color: #2581c6;
					font-weight: 500;
					letter-spacing: 0.1em;
					line-height: 26px;
					font-family: cross-platform-yu-gothic, sans-serif;
					padding: 0px 12px;
					border-radius: 23px;
					@include font-line(13);

					@include is-max(365px) {
						font-size: 3.4vw;
						line-height: 22px;
					}
				}
			}
		}
	}
}

.p-main_content__box3 {
	padding: 100px 0 90px 0;

	&-row {
		display: flex;
		justify-content: space-between;

		@include is-max(900px) {
			flex-wrap: wrap;
		}

		.p-main_content__box3-col {
			width: calc(310px);

			@include is-max(1026px) {
				width: 32%;
			}

			@include is-max(900px) {
				width: 48%;
			}

			@include is-sp {
				width: 100%;
			}
		}

		.p-main_content__box3-col02 {
			@include is-sp {
				padding-top: 48.5px;
			}
		}

		.p-main_content__box3-col03 {
			@include is-max(900px) {
				padding-top: 50px;
			}

			.float-right {
				right: 10px;
				left: unset;
				text-align: right;
			}
		}
	}
}

.p-main_content__box5 {
	&-row {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;

		@include is-max(900px) {
			justify-content: space-between;
		}

		.p-main_content__box5-col {
			width: calc(310px);

			@include is-max(1080px) {
				width: 32%;
			}

			@include is-max(900px) {
				width: 48%;
			}

			@include is-sp {
				width: 100%;
			}
		}

		& .p-main_content__box5-col:nth-child(3n + 2) {
			margin: 0 25px;

			@include is-max(1080px) {
				margin: 0 2%;
			}

			@include is-max(900px) {
				margin: 0;
			}
		}

		.p-main_content__box5-col02 {
			@include is-sp {
				padding-top: 25px;
			}

			.c-card11-bottom {
				border-top: 1px solid #000;
			}
		}

		.p-main_content__box5-col03 {
			@include is-max(900px) {
				padding-top: 60px;

				.c-card11-bottom {
					min-height: 219px;

					@include is-max(900px) {
						min-height: 190px;
					}
				}
			}

			@include is-sp {
				padding-top: 25px;
			}

			.c-card11-bottom {
				border-top: 1px solid #000;
			}
		}

		.p-main_content__box5-col04,
		.p-main_content__box5-col05 {
			padding-top: 60px;

			@include is-sp {
				padding-top: 25px;
			}

			.c-card11-bottom {
				min-height: 219px;

				@include is-max(900px) {
					min-height: 190px;
				}
			}
		}
	}
}
