// .p-footer {
//     background-color: $bg-color-footer;
//     padding-top: 50px;
//     &__inner{
//         display: flex;
//         flex-wrap: wrap;
//         justify-content: space-between;
//         margin-bottom: 20px;
//     }
//     &__upper {
//         border-bottom: 1px solid rgba(255, 255, 255, 0.2);
//     }

//     &__below {
//         padding-top: 40px;

//         .left {
//             flex: 1 1 12% !important;
//         }
//     }

//     &__left {
//         @include is-sp {
//             flex: 1 1 100%;
//             text-align: center;
//         }
//     }

//     &__branding {
//         width: 70%;
//         margin-bottom: 20px;
//         @include is-sp{
//             width: 100%;
//         }

//         img{
//             @include is-sp{
//                 max-width: 60%;
//             }
//         }
//     }

//     &__desc {
//         color: #fff;
//         @include font-line(13, 20);
//     }

//     &__sitemap {
//         @include is-tabpc {
//             padding: 0 0 0 80px;
//         }

//         @include is-sp {
//             text-align: center;
//         }
//     }

//     &__contact {
//         @include is-tabpc {
//             padding: 0 0 0 25px;
//         }

//         @include is-sp {
//             text-align: center;
//         }
//     }

//     .ttl {
//         color: white;
//         @include font-line(18, 18);
//         font-weight: 700;
//         margin-bottom: 20px;
//         a{
//             transition: color 0.3s ease-out;
//             text-decoration: none;
//             color: white;
//             &:hover{
//                 color: $color-primary;
//             }
//         }
//     }

//     .tel,
//     .location,
//     .building {
//         color: #fff;
//         padding: 10px 0;
//         display: flex;
//         align-items: flex-start;

//         @include is-sp {
//             justify-content: center;
//         }

//         .icon {
//             @include font-line(17,17);
//             display: inline-block;
//         }

//         .text {
//             @include font-line(14, 18);
//             display: inline-block;
//             padding-left: 15px;
//         }
//     }

//     .reference,
//     .copyright {
//         color: $color-text02;
//         font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
//         @include font-line(13);
//     }
// }
// .p-footer {
//     background-color: $bg-color-footer;
//     padding-top: 50px;
//     &__inner{
//         display: flex;
//         flex-wrap: wrap;
//         justify-content: space-between;
//         margin-bottom: 20px;
//     }
//     &__upper {
//         border-bottom: 1px solid rgba(255, 255, 255, 0.2);
//     }

//     &__below {
//         padding-top: 40px;

//         .left {
//             flex: 1 1 12% !important;
//         }
//     }

//     &__left {
//         @include is-sp {
//             flex: 1 1 100%;
//             text-align: center;
//         }
//     }

//     &__branding {
//         width: 70%;
//         margin-bottom: 20px;
//         @include is-sp{
//             width: 100%;
//         }

//         img{
//             @include is-sp{
//                 max-width: 60%;
//             }
//         }
//     }

//     &__desc {
//         color: #fff;
//         @include font-line(13, 20);
//     }

//     &__sitemap {
//         @include is-tabpc {
//             padding: 0 0 0 80px;
//         }

//         @include is-sp {
//             text-align: center;
//         }
//     }

//     &__contact {
//         @include is-tabpc {
//             padding: 0 0 0 25px;
//         }

//         @include is-sp {
//             text-align: center;
//         }
//     }

//     .ttl {
//         color: white;
//         @include font-line(18, 18);
//         font-weight: 700;
//         margin-bottom: 20px;
//         a{
//             transition: color 0.3s ease-out;
//             text-decoration: none;
//             color: white;
//             &:hover{
//                 color: $color-primary;
//             }
//         }
//     }

//     .tel,
//     .location,
//     .building {
//         color: #fff;
//         padding: 10px 0;
//         display: flex;
//         align-items: flex-start;

//         @include is-sp {
//             justify-content: center;
//         }

//         .icon {
//             @include font-line(17,17);
//             display: inline-block;
//         }

//         .text {
//             @include font-line(14, 18);
//             display: inline-block;
//             padding-left: 15px;
//         }
//     }

//     .reference,
//     .copyright {
//         color: $color-text02;
//         font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
//         @include font-line(13);
//     }
// }



// footer
.page__footer {
    background-color: #2790d2;

    .l-wrap {
        @include is-sp {
            padding: 0!important;
        }
    }


    // .cntct {
    //     padding-top: 99px;
    //     padding-bottom: 20px;
    //     background-image: url(../../release/image/footer/footer_bg.png);
    //     background-size: cover;
    //     background-repeat: no-repeat;
    //     background-position: center;

    //     &-hdr {
    //         text-align: center;
    //         color: #fff;

    //         @include is-sp {
    //             margin-bottom: 24px;
    //         }

    //         p:nth-child(1) {
    //             font-size:10px;
    //             line-height: 20px;
    //             font-weight: 400;
    //             letter-spacing: 2px;
    //             font-family: century-gothic, sans-serif;
    //             padding: 0 20px 0 20px;

    //             @include is-sp {
    //                 @include font-line(12.5,10);
    //                 letter-spacing: 0.32em;
    //                 margin-bottom: 26px;
    //             }
    //         }

    //         p:nth-child(2) {

    //             @include font-line(23);
    //             letter-spacing: 0.2em;
    //             font-family: yu-mincho-pr6n, sans-serif;

    //             @include is-sp {
    //                 @include font-line(25,30);
    //                 letter-spacing: 0.2em;
    //             }

    //             @include is-max(450px) {
    //                 font-size: 5vw;
    //             }
    //         }
    //     }

    //     &-inqrs {
    //         padding-top: 44px;
    //         display: flex;
    //         justify-content: space-between;
            

    //         @include is-max(1051px){
    //             display: block;
    //             margin-bottom: 30px;
    //             padding: 40px 20px;
    //         }

    //         @include is-sp {
    //             padding: 0 22px;
    //             margin-bottom: 30px;
    //         }


    //         &-dtl {
    //             text-align: center;  
    //             border-radius: 45px;

    //             @include is-max(1051px){
    //                 margin-bottom: 30px;
                   
    //             }
               
                
    //             &-link {
    //                 color: #fff;
    //                 display: inline-block;
    //                 width: 310px;
    //                 padding: 27px 0 23px 0;

                   

    //                 p:nth-child(1) {
    //                     font-size: 18px;
    //                     font-weight: 700;
    //                     font-family: yu-mincho-pr6n, sans-serif;

    //                     @include is-sp {
    //                         @include font-line(18,20);
    //                         letter-spacing: 0.12em;
    //                     }

    //                     @include is-max (340px) {
    //                         font-size: 5vw;
    //                     }
    //                 }

    //                 p:nth-child(2) {
    //                     @include font-line(11);
    //                     font-family: cross-platform-yu-gothic;

    //                     @include is-sp {
    //                         @include font-line(15, 18);
    //                         letter-spacing: 0.1em;
    //                     }

    //                     @include is-max(340px) {
    //                         font-size: 4vw;
    //                     }
    //                 }

    //                 @include is-sp {
    //                     width: 100%;
    //                     padding: 45px 35px 31px 35px;
    //                 }
                   
    //             }

                
    //         }

    //         .phone {
    //             background-color: #fff;
    //             position: relative;

    //             a{
    //                 color: #2790d2 !important;

                   
    //             }

    //             &:before {
    //                 content: '';
    //                 background: url(../image/footer/arrow-blue.png) no-repeat center;
    //                 width: 20px;
    //                 height: 20px;
    //                 position: absolute;
    //                 top: 50%;
    //                 right: 6px;
    //                 transform: translate(-18px, -50%);

                 
    //             }
    //         }
    //         .line {
    //             background-color: #00AD00;
    //             position: relative;

    //             &:before {
    //                 content: '';
    //                 background: url(../image/footer/arrow-white.png) no-repeat center;
    //                 width: 20px;
    //                 height: 20px;
    //                 position: absolute;
    //                 top: 50%;
    //                 right: 6px;
    //                 transform: translate(-18px, -50%);

                  
    //             }
    //         }

    //         .email {
    //             background-color: #B71E32;
    //             position: relative;

    //             &:before {
    //                 content: '';
    //                 background: url(../image/footer/arrow-white.png) no-repeat center;
    //                 width: 20px;
    //                 height: 20px;
    //                 position: absolute;
    //                 top: 50%;
    //                 right: 6px;
    //                 transform: translate(-18px, -50%);

               
    //             }
    //         }

    //     }
        
    //     &-top {
    //         text-align: center;
    //         margin-top:67px;

    //         &-link {
    //             color: #95C6E7;
    //             position: relative;
    //             letter-spacing: 4px;
    //             @include font-line(13,22);
                

    //             &:before {
    //                 content:'';
    //                 width: 20px;
    //                 height: 20px;
    //                 position: absolute;
    //                 top: -25px;
    //                 left: 50%;
    //                 transform:translateX(-50%);
    //                 background: url(../image/footer/arrow-push.png) no-repeat center;
    //             }

    //             @include is-sp {
    //                 @include font-line(23,40);
    //             }
    //         }

    //         @include is-sp {
    //             margin-top: 33px;
    //         }
    //     }

    // }

    .cntct {
        background-image: url(../image/footer/footer_bg.png) !important;

        @include is-sp {
            background-image: url(../image/footer/sp_bg.png) !important;
        }

        .p-cntct-inqrs-dtl {
            @include is-max (1051px) {
                margin-bottom:30px;
            }
        }

        .phone {

            &:before {
                background: url(../image/footer/arrow-blue.png) no-repeat center !important;
                
            }
        }

        .line,
        .email {

            &:before {
                background: url(../image/footer/arrow-white.png) no-repeat center !important;  
            }
         
        }

        &-top {
            text-align: center;
            position: relative;
            bottom: -74px;
            left: 50%;
            transform: translateX(-50%);

            
            &:before {
                content: '';
                position: absolute;
                top: -66%;
                left: 50%;
                transform: translateX(-50%);
                width: 10%;
                height: 100%;
                background: url(../image/footer/arrow-push.png) no-repeat center !important;  
            }

            a {
                color: #fff;
                letter-spacing: 0.29em;
                @include font-line(13);
            }
        }
    }
    .cntct-wrap {
        @include is-sp {
            padding:0 20px !important;
        }
    }
    .nav-footer {
        display: flex;
        justify-content: space-between;
        padding-top: 79px;

        &-col1 {
            padding-right: 147px;
            display: flex;
            align-items: center;

            @include is-max (1090px) {
                padding-right: 50px;
            }


             img {
                width: 104px;
                
                @include is-sp {
                    width: 99px;
                }

                @include is-max(575px) {
                    width: 100px;
                }
             }

             @include is-sp {
                padding: 0;
                margin-bottom:75px;
             }

        }

        &-col2 {
            padding-right: 35px;

            @include is-max (854px) {
                padding-right: 22px;
            }

         

                .ttl {
                    font-family: cross-platform-yu-gothic;
                    position: relative;
                    margin-bottom: 49px;
                    @include font-line(11,37);
                    font-weight:500;

                    @include is-sp {
                        margin-bottom: 0;
                        padding: 0 87px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        border-bottom: 1px solid #fff;
                        border-top: 1px solid #fff;
                        
                    }

                    @include is-max (370px) {
                        padding: 0 36px;
                    }

                    .head-link {
                        color: #fff;
                        letter-spacing: 4px;
                        
                        @include is-max(985px) {
                            font-size: 1.1vw;
                        }

                         @include is-sp {
                            @include font-line(15, 64.5);
                            letter-spacing: 0.28em;
                        }

             

                        &:before {
                            content: '';
                            position: absolute;
                            bottom:0;
                            left: 0;
                            height: 1px;
                            width: 52px;
                            background-color: #fff;
        
                            @include is-sp {
                                display: none;
                            }
                        }
                    }

                    .head-icon {
                        display: none;

                        @include is-sp {
                            @include font-line(13.5, 65);
                            letter-spacing: 0.28em;
                            display: block;
                            color:#fff;
                        }
                    }

                }
                .link {

                    @include is-sp {
                        height: 0;
                        overflow: hidden;
                    }

            
                    
                    .link__inner {
                    
                        .c-link {

                            @include is-sp {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                border-bottom: 1px dashed #fff;
                                padding: 0 87px;
                                
                            }

                            @include is-max (370px) {
                                padding: 0 40px;
                            }
                            
        
                            &__inner {
                                font-family:cross-platform-yu-gothic;
                                letter-spacing: 2.8px;
                                @include font-line(12,37);
                                letter-spacing:0.26em;

                                @include is-max(985px) {
                                    font-size: 1.1vw;
                                }
        
            
                                @include is-sp {
                                    @include font-line(12.5,50);
                                    letter-spacing: 0.28;
                                    padding-left: 60px;
                                }

                                @include is-max(575px) {
    
                                    padding-left: 30px;
                                }

                                @include is-max(380px){
                                    padding-left: 15px;
                                    letter-spacing: 0.13em;
                                }
                            }

                            &__arr {
                                font-size: 1.5625rem;
                                line-height: 4;
                                letter-spacing: 0.28;
                                color: #fff;
                                display:none;

                                @include is-sp {
                                    @include font-line(13.5,50);
                                    display: block;
                                }
                            }
                        }
                    }
                }
          

             @include is-sp {
                 padding: 0;
                 width: 100%;
             }
        }
        &-col3 {
            padding: 0 41px 0 32px;
            border-right: 1px solid #fff;
            border-left: 1px solid #fff;

            @include is-max (1090px) {
                padding: 15px;
            }

            .ttl {
                font-family: cross-platform-yu-gothic;
                position: relative;
                margin-bottom: 49px;
                @include font-line(11,37);
                font-weight:500;

                @include is-sp {
                    margin-bottom: 0;
                    padding: 0 87px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 1px solid #fff;
                    border-top: 1px solid #fff;
                }

                
                @include is-max (370px) {
                    padding: 0 36px;
                }

                .head-link { 
                    color: #fff;
                    letter-spacing: 4px;

                      
                    @include is-max(985px) {
                        font-size: 1.1vw;
                    }

                    @include is-sp {
                        @include font-line(15, 64.5);
                        letter-spacing: 0.28em;
                    }


                    &:before {
                        content: '';
                        position: absolute;
                        bottom:0;
                        left: 0;
                        height: 1px;
                        width: 52px;
                        background-color: #fff;
    
                        @include is-sp {
                            display: none;
                            width: 100%;
                        }
                    }
                }

                .head-icon {
                    display: none;
                    
                    @include is-sp {
                        @include font-line(13.5, 65);
                        letter-spacing: 0.28em;
                        display: block;
                        color:#fff;
                    }
                }

            }

            .link {

                
                @include is-sp {
                    height: 0;
                    overflow: hidden;
                }

        

                .link__inner {
                  
                    .c-link {

                        @include is-sp {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            border-bottom: 1px dashed #fff;
                            padding: 0 87px;
                            
                        }

                        @include is-max (370px) {
                            padding: 0 40px;
                        }
                        
    
                        &__inner {
                            font-family:cross-platform-yu-gothic;
                            letter-spacing: 2.8px;
                            @include font-line(12,37);
                            letter-spacing:0.26em;

                            @include is-max(985px) {
                                font-size: 1.1vw;
                            }
    
        
                            @include is-sp {
                                @include font-line(12.5,50);
                                letter-spacing: 0.28;
                                padding-left: 60px;
                            }

                            @include is-max(575px) {
                                padding-left: 30px;
                            }
                            @include is-max(380px){
                                padding-left: 15px;
                                letter-spacing: 0.13em;
                            }
                        }

                         &__arr {
                            font-size: 1.5625rem;
                            line-height: 4;
                            letter-spacing: 0.28;
                            color: #fff;
                            display:none;

                            @include is-sp {
                                @include font-line(13.5,50);
                                display: block;
                            }
                         }
                    }
                }
            }

             @include is-sp {
                padding: 0;  
                border: none;  
                width: 100%;
            }
        }
        &-col4 {
            padding: 0 71px 0 31px;
            border-right: 1px solid #fff;

            @include is-max (1024px) {
                padding-right: 40px;
            }

         

            @include is-sp {
                padding: 0;
                border: none;
                width: 100%;
            }
            
            .ttl {
                font-family: cross-platform-yu-gothic;
                position: relative;
                margin-bottom: 49px;
                @include font-line(11,37);
                font-weight:500;

                @include is-sp {
                    margin-bottom: 0;
                    padding: 0 87px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 1px solid #fff;
                    border-top: 1px solid #fff;
                }

                
                @include is-max (370px) {
                    padding: 0 36px;
                }
              
                    
                .head-link  {
                    color: #fff;
                    letter-spacing: 4px;

                      
                    @include is-max(985px) {
                        font-size: 1.1vw;
                    }

                    @include is-sp {
                        @include font-line(15, 64.5);
                        letter-spacing: 0.28em;
                    }

                                      
                    &:before {
                        content: '';
                        position: absolute;
                        bottom:0;
                        left: 0;
                        height: 1px;
                        width: 52px;
                        background-color: #fff;

                        @include is-sp {
                            display: none;
                            width: 100%;
                        }
                    }
                    
                }

                .head-icon {
                    display: none;
                    
                    @include is-sp {
                        @include font-line(13.5, 65);
                        letter-spacing: 0.28em;
                        display: block;
                        color:#fff;
                    }
                }

               
            }

            .link {

                
                @include is-sp {
                    height: 0;
                    overflow: hidden;
                }

            

                .link__inner {
                  
                    .c-link {

                        @include is-sp {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            border-bottom: 1px dashed #fff;
                            padding: 0 87px;
                            
                        }

                        @include is-max (370px) {
                            padding: 0 40px;
                        }
                        
    
                        &__inner {
                            font-family:cross-platform-yu-gothic;
                            letter-spacing: 2.8px;
                            @include font-line(12,37);
                            letter-spacing:0.26em;

                            @include is-max(985px) {
                                font-size: 1.1vw;
                            }
    
        
                            @include is-sp {
                                @include font-line(12.5,50);
                                letter-spacing: 0.28;
                                padding-left: 60px;
                            }

                            @include is-max(575px) {
                                @include font-line(12.5,50);
                                padding-left: 30px;
                            }

                            @include is-max(380px){
                                padding-left: 15px;
                                letter-spacing: 0.13em;
                            }
                        }

                         &__arr {
                            font-size: 1.5625rem;
                            line-height: 4;
                            letter-spacing: 0.28;
                            color: #fff;
                            display:none;

                            @include is-sp {
                                @include font-line(13.5,50);
                                display: block;
                            }
                         }
                    }
                }
            }
        }

        &-col5 {
            padding-left: 32px;
           
            .ttl {
                font-family: cross-platform-yu-gothic;
                position: relative;
                margin-bottom: 49px;
                @include font-line(11,37);
                font-weight:500;

                @include is-sp {
                    margin: 0;
                    padding: 0 87px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 1px solid #fff;
                    border-top: 1px solid #fff;
                }

                
                @include is-max (370px) {
                    padding: 0 36px;
                }
                

                .head-link {
                    color: #fff;
                    letter-spacing: 4px;

                    @include is-max(985px) {
                        font-size: 1.1vw;
                    }
                    @include is-max(982px) {
                        font-size: 1.1vw;
                    }
                    @include is-max(980px) {
                        font-size: 1.1vw;
                    }

                    @include is-sp {
                        @include font-line(15, 64.5);
                        letter-spacing: 0.28em;
                    }
                    
                    &:before {
                        content: '';
                        position: absolute;
                        bottom:0;
                        left: 0;
                        height: 1px;
                        width: 52px;
                        background-color: #fff;

                        @include is-sp {
                            display: none;
                        }
                    }
                 
                }

                .head-icon {
                    display: none;
                    
                    @include is-sp {
                        @include font-line(13.5, 65);
                        letter-spacing: 0.28em;
                        display: block;
                        color:#fff;
                    }
                }

            }

            .link {

                
                @include is-sp {
                    height: 0;
                    overflow: hidden;
                }

                

                .link__inner {

                
                    .c-link {

                        @include is-sp {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            border-bottom: 1px dashed #fff;
                            padding: 0 87px;
                            
                        }

                        @include is-max (370px) {
                            padding: 0 40px;
                        }
                        
    
                        &__inner {
                            font-family:cross-platform-yu-gothic;
                            letter-spacing: 2.8px;
                            @include font-line(12,37);
                            letter-spacing:0.26em;

                            @include is-max(985px) {
                                font-size: 1.1vw;
                            }
    
        
                            @include is-sp {
                                @include font-line(12.5,50);
                                letter-spacing: 0.28;
                                padding-left: 60px;
                            }

                            @include is-max(575px) {
                                padding-left: 30px;
                            }

                            @include is-max(380px){
                                padding-left: 15px;
                                letter-spacing: 0.13em;
                            }

                        }

                         &__arr {
                            font-size: 1.5625rem;
                            line-height: 4;
                            letter-spacing: 0.28;
                            color: #fff;
                            display:none;

                            @include is-sp {
                                @include font-line(13.5,50);
                                display: block;
                            }
                         }
                    }
                }
            }

             @include is-sp {
                padding: 0;    
                width: 100%;

            }
        }

        @include is-sp {
            flex-direction: column;
            align-items: center;
            padding: 150px 0 0 0;
        }

        @include is-max(375px) {
            padding:75px 0 0 0;
        }
    }

    .lower-footer {
        padding-top: 50px;
        text-align: center;
        padding-bottom: 25px;

        &-copyright {
            color: #fff;
            letter-spacing: 2px;
            font: 500 12px/27.5px 'cross-platform-yu-gothic';

            @include is-sp {
                @include font-line(13,20);
                
            }

        }

        @include is-sp {
            padding: 75px 0 60px 0;
        }

        @include is-max(500px) {
            padding: 37px 0 30px 0;
        }
    }

}