.p-header {
	top: 0;
	$p-header: ".p-header";

	@include is-pc {
		padding: 20px 0;
	}

	&__branding {
		@include is-sp {
			width: 50%;
		}

		.logo {
			width: 70%;
			height: 100%;
			@include is-sp {
				width: 200px;
			}
		}
	}

	&__frame {
		display: flex;
	}

	&__colsigation {
		@include is-sp {
			width: 50%;
		}
	}

	&__landing {
		&Left,
		&Right {
			width: 50%;
		}

		&Inner {
			display: block;
			padding: 0 40px;
		}

		&Left {
			.promotion {
				@include font-line(16);
				font-weight: 700;
			}

			.logo {
				max-width: 50%;
			}
		}

		&Top {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0 0 30px;

			.btn {
				width: 100%;
				text-align: center;
			}
		}

		&Bottom {
			display: flex;
			justify-content: space-between;

			.text {
				@include font-line(18);
				font-weight: 700;
			}
		}
	}

	&.scroll {
		#{$p-header}__main {
			@include is-tabpc {
				width: 100%;
				background: #fff;
				border-bottom: 1px solid #e0e0e0;
				position: fixed;
				margin: 0 auto;
				top: -61px;
				left: 0;
				right: 0;
				height: 48px;
				transition: 0.4s;
				z-index: 999;
			}
		}

		#{$p-header}__frame {
			@include is-tabpc {
				margin: 2.5px 0px;
				height: 40px;
			}
		}

		#{$p-header}__landingLeft {
			@include is-tabpc {
				width: 30%;
			}
		}

		#{$p-header}__landingRight {
			@include is-tabpc {
				width: 30%;
			}
		}

		#{$p-header}__landingTop {
			@include is-tabpc {
				padding: 0;
			}
		}

		#{$p-header}__landingBottom {
			@include is-tabpc {
				display: none;
			}
		}

		.logo {
			@include is-tabpc {
				width: auto;
			}
		}

		.scroll-link {
			color: black;
		}

		.current {
			color: $color-primary;
		}

		.btn {
			border-radius: 0;

			&:hover {
				background-color: $color-sub;
			}
		}

		.lp {
			&__main {
				height: auto !important;
				padding: 5px $gutter-pc;

				.promotion {
					display: none;
				}
			}

			&__button {
				border-radius: 5px;
				box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0);
			}

			&__landingInner {
				padding: 0 !important;
			}
		}
	}

	&.scroll-up {
		#{$p-header}__main {
			@include is-tabpc {
				top: 0;
				height: 48px;
				align-items: center;
			}
		}
	}
}

// header

.top-header {
	padding-top: 100px;
	overflow: hidden;

	@include is-sp {
		overflow: hidden;
		display: flex;
		padding-top: 0;
		flex-wrap: wrap;
		justify-content: space-between;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 999;
		transform: translateX(-100%);
		transition: 0.3s ease-in-out;
		background: linear-gradient(to top, #2593d5, #2579bf, #2593d5);
	}

	.logo {
		width: 70px;

		@include is-sp {
			width: 131px;
		}
	}
	.mail {
		width: 22px;
	}

	&-nav {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		max-width: 1200px;
		margin: 0 auto;
		z-index: 999;
		height: 80px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		@include is-sp {
			width: calc(100% - 105px);
			margin: unset;
			position: unset;
			height: 100%;
			padding-bottom: 35px;
			overflow: scroll;
		}

		.brnd-logo {
			display: flex;
			width: 33.33%;
			align-items: center;
			padding-left: 50px;
			padding-top: 30px;
			padding-bottom: 30px;

			@include is-max(980px) {
				padding-left: 20px;
			}

			@include is-sp {
				width: 100%;
				padding-top: 34.5px;
				margin-bottom: 22px;
			}
			&-link {
				width: 100%;
				align-items: center;
				.logo {
					margin-right: 15px;

					@include is-sp {
						width: 65px;
					}
				}
				p {
					@include font-line(14, 19);
					font-weight: 700;
					font-family: cross-platform-yu-gothic;
					color: #fff;
					align-items: center;
					letter-spacing: 0.3em;

					@include is-max(980px) {
						font-size: 1.3vw;
					}
					@include is-sp {
						@include font-line(13, 17.5);
					}
					@include is-max(375px) {
						@include font-line(10, 17.5);
					}
				}
			}
		}

		.nav-links {
			display: flex;
			justify-content: flex-end;
			width: 66.67%;
			@include is-sp {
				width: 100%;
				flex-wrap: wrap;
			}
			&-ul {
				display: flex;
				flex-wrap: nowrap;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				width: calc(100% - 150px);
				padding-right: 30px;
				@include is-sp {
					width: 100%;
					padding-right: 0;
				}

				a {
					@include font-line(11);
					font-weight: 700;
					font-family: cross-platform-yu-gothic;
					color: #fff;

					@include is-sp {
						@include font-line(15);
						font-weight: 500;
						letter-spacing: 0.28em;
					}
				}
				&-01 {
					width: 100%;
					display: flex;
					flex-wrap: wrap;
					justify-content: flex-end;
					@include is-sp {
						order: 2;
					}
					&-link {
						position: relative;
						@include is-sp {
							width: 100%;
							border-bottom: 1px solid #fff;
							padding: 25px 28px;
						}

						&:nth-child(1),
						&:nth-child(2) {
							img {
								display: none;

								@include is-sp {
									display: block;
								}
							}
						}
						&:not(:last-child) {
							&::after {
								content: "";
								@include font-line(11);
								font-weight: 500;
								font-family: cross-platform-yu-gothic;
								color: #fff;
								padding: 0 15px 0 10px;
							}
						}
						a {
							font-weight: 500;
							letter-spacing: 0.28em;
						}

						img {
							width: 7px;
							position: absolute;
							top: 50%;
							right: -10px;
							transform: translate(0, -40%);
							@include is-max(1100px) {
								right: -5px;
							}

							@include is-sp {
								right: 27px;
							}
						}
					}
				}
				&-02 {
					width: 100%;
					display: flex;
					flex-wrap: wrap;
					justify-content: flex-end;
					line-height: 1.2;

					&-link {
						position: relative;
						@include is-sp {
							width: 100%;
							line-height: 1.5;
							border-bottom: 1px solid #fff;
							padding: 25px 28px;
						}
						&:nth-child(1) {
							@include is-sp {
								border-top: 1px solid #fff;
							}
						}
						&:nth-child(1),
						&:nth-child(5) {
							img {
								display: none;

								@include is-sp {
									display: block;
								}
							}
						}
						&:not(:last-child) {
							margin-right: 30px;

							@include is-max(1100px) {
								margin-right: 20px;
							}
							@include is-sp {
								margin-right: 0;
							}
						}
						&:hover {
							.nav-links-ul-02-link-submenu {
								display: block;
								@include is-sp {
									display: none;
								}
							}
						}
						img {
							width: 7px;
							position: absolute;
							top: 50%;
							right: -10px;
							transform: translate(0, -40%);
							@include is-max(1100px) {
								right: -5px;
							}

							@include is-sp {
								right: 27px;
							}
						}
						a {
							letter-spacing: 0.54em;
						}

						&-submenu {
							display: none;
							position: absolute;
							bottom: -65px;
							left: 50%;
							transform: translate(-50%, 0);

							@include is-sp {
								position: relative;
								bottom: unset;
								left: unset;
								transform: unset;
								width: 100%;
							}
							&::before {
								content: "";
								display: block;
								width: 100%;
								height: 10px;
								position: absolute;
								top: -10px;
								left: 0;
							}
							li {
								white-space: nowrap;
								padding: 0 10px;
								text-align: center;

								@include is-sp {
									text-align: left;
									padding-left: 40px;
								}
								a {
									color: #fff;
								}
							}
						}
					}
				}
			}
			&-mail {
				background-color: pink;
				width: 150px;
				@include is-sp {
					width: 80%;
					margin: 30px auto 0;
				}
				&-link {
					background-color: #b71e32;
					width: 100%;
					height: 100%;
					display: block;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					border-left: 1px solid #fff;
					border-bottom: 1px solid #fff;
					box-shadow: 0px -1px 0px 4px #b71e32;
					-webkit-box-shadow: 0px -1px 0px 4px #b71e32;
					-moz-box-shadow: 0px -1px 0px 4px #b71e32;
					@include is-sp {
						border-right: 1px solid #fff;
						border-top: 1px solid #fff;
						padding: 25px 0;
					}
					.mail {
						width: 22px;
					}
					p {
						@include font-line(14, 18);
						font-weight: 500;
						font-family: cross-platform-yu-gothic;
						color: #fff;
						text-align: center;
						letter-spacing: 0.13em;
						margin-top: 5px;
						@include is-sp {
							margin-top: 15px;
						}
					}
				}
			}
		}
	}

	&-close {
		width: 105px;
		background-color: #81b3d4;
		display: none;
		padding-top: 19px;

		a {
			.close-btn {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 100%;

				img {
					width: 24.5px;
				}
			}

			p {
				color: #fff;
				text-transform: uppercase;
				font-family: cross-platform-yu-gothic;
				@include font-line(11, 43);
			}
		}
		@include is-sp {
			display: block;
		}
	}

	&-bnnr {
		height: 660px;
		width: 1100px;
		position: relative;
		background: linear-gradient(to right, #4A93D1, #81B3D4);
		margin: 0 auto;
		display: flex;
		align-items: center;
		padding-left: 60px;
		z-index: 2;

		@include is-max(1101px) {
			width: 100%;
		}

		@include is-sp {
			margin: 0;
			width: 95%;
			height: 100%;
			padding: 84.5px 0 100px 0;
			margin-top: 21.5px;
		}

		.brnd-logo-sp {
			display: none;
			width: 301px;
			align-items: center;
			position: absolute;
			top: 3%;
			left: 90px;

			@include is-sp {
				display: block;
				width: 278px;
			}

			@include is-max(375px) {
				left: 26px;
			}

			&-link {
				display: flex;
				width: 100%;
				@include font-line(14.5, 19);
				font-weight: 700;
				font-family: cross-platform-yu-gothic;
				color: #fff;
				align-items: center;
				display: none;
				letter-spacing: 0.24em;

				.logo {
					width: 65.5px;
				}

				@include is-sp {
					display: flex;
				}

				p {
					margin-left: 25px;
				}
			}
		}

		.fade {
			position: absolute;
			bottom: 0;
			left: 0;
			height: 380px;
			width: 100vw;
			background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(37, 121, 191, 1));
			display: none;

			@include is-sp {
				display: block;
			}
		}

		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			right: 0;
			height: 674px;
			width: 585px;
			background: url(../../release/image/header/img-banner1.png);
			z-index: -1;

			@include is-sp {
				right: -5%;
				width: 471.5px;
				z-index: -4;
			}

			@include is-max(500px) {
				right: 0;
				width: 411.5px;
				z-index: -4;
			}
		}
		&-cnt {
			width: 100%;
		}
		&-hdr-01 {
			width: 208px;

			&-txt {
				text-align: center;
				@include font-line(14, 19);
				font-weight: 700;
				font-family: cross-platform-yu-gothic;

				p {
					color: #fff;
					padding-top: 13px;
					letter-spacing: 0.3em;
				}
			}

			@include is-sp {
				display: none;
			}
		}

		&-hdr-02 {
			margin-left: 18px;
			color: #fff;
			z-index: 4;

			@include is-sp {
				display: flex;
				align-items: flex-end;
				width: 100%;
				justify-content: space-between;
			}

			&-txt {
				z-index: 2;

				&-1 {
					@include font-line(30, 41);
					font-weight: 500;
					font-family: yu-mincho-pr6n, sans-serif;
					color: #fff;
					letter-spacing: 0.3em;

					@include is-sp {
						writing-mode: tb;
						@include font-line(27.8);
					}
				}

				&-sp {
					font-family: cross-platform-yu-gothic;
					display: none;

					&-cont {
						position: relative;

						&:before {
							content: "";
							position: absolute;
							width: 4px;
							height: 16px;
							background-color: #fff;
							top: 50%;
							transform: translateY(-50%);
						}

						&-1 {
							@include font-line(13.5, 30);
							letter-spacing: 0.28em;
							padding-left: 10px;
							margin-bottom: 6px;

							@include is-max(370px) {
								font-size: 3vw;
							}
						}
						&-2 {
							@include font-line(13.5, 30);
							letter-spacing: 0.28em;
							padding-left: 10px;

							br {
								display: none;

								@include is-sp {
									display: block;
								}
							}

							@include is-max(370px) {
								font-size: 3vw;
							}
						}
					}

					@include is-sp {
						display: block;
					}
				}

				&-2 {
					@include font-line(10, 20);
					font-weight: 400;
					font-family: century-gothic, sans-serif;
					color: #fff;
					letter-spacing: 0.2em;

					br {
						display: none;

						@include is-sp {
							display: block;
						}
					}

					@include is-sp {
						@include font-line(12.5);
					}

					@include is-max(370px) {
						font-size: 3vw;
					}
				}
			}

			&-spimg {
				width: 75.5px;
				display: none;

				@include is-sp {
					display: block;
				}
			}

			&-desc {
				margin-top: 20px;

				@include is-sp {
					display: none;
				}

				&-01 {
					@include font-line(11, 15);
					font-weight: 700;
					letter-spacing: 0.54em;
					color: #fff;
					position: relative;

					&:before {
						content: "";
						position: absolute;
						width: 1px;
						height: 12px;
						background-color: #fff;
					}

					&-txt {
						padding-left: 10px;
						margin-bottom: 5px;
					}
				}

				&-02 {
					@include font-line(11, 15);
					font-weight: 700;
					letter-spacing: 0.54em;
					color: #fff;
					position: relative;
					margin-bottom: 4px;

					&:before {
						content: "";
						position: absolute;
						width: 1px;
						height: 12px;
						background-color: #fff;
					}

					&-txt {
						padding-left: 10px;
					}
				}
			}
		}

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: url(../../release/image/header/circ-bnnr.png);
			z-index: -1;
			

			@include is-sp {
				display: none;
			}
		}

		&-txt01 {
			position: absolute;
			top: 40px;
			right: 9px;
			z-index: 555;

			&-hon {
				font-family: yu-mincho-pr6n, sans-serif;
				@include font-line(30, 41);
				font-weight: 500;
				letter-spacing: 0.3em;
				color: #fff;

				@include is-sp {
					@include font-line(23.3, 64);
					opacity: 0.5;
				}
			}
		}

		&-txt02 {
			position: absolute;
			top: 84px;
			right: 9px;

			@include is-sp {
				right: -4px;
			}

			&-ver {
				writing-mode: tb;
				font-family: yu-mincho-pr6n, sans-serif;
				@include font-line(30, 41);
				font-weight: 500;
				letter-spacing: 0.3em;
				color: #fff;

				@include is-sp {
					@include font-line(23.3, 64);
					opacity: 0.5;
				}
			}
		}
	}
}

.slide {
	transform: translateX(0%);
}
.ovf {
	overflow: hidden;
}

.float-menu {
	position: fixed;
	bottom: 0;
	z-index: 990;
	width: 100%;
	display: none;

	@include is-sp {
		display: block;
	}
	.brgr-mail {
		width: 100%;
		display: flex;

		&-burger {
			width: 50%;
			display: flex;
			justify-content: center;
			padding: 18px 0;
			background: #fff;
			align-items: center;
			cursor: pointer;

			&-menu {
				width: 25px;
				height: 25px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				.menu-line1,
				.menu-line2,
				.menu-line3 {
					height: 2.5px;
					background: #257bc0;
					border-radius: 25px;
				}
			}
			&-txt {
				@include font-line(15);
				font-family: cross-platform-yu-gothic;
				font-weight: 500;
				margin-left: 20px;
			}
		}

		&-mail {
			width: 50%;
			padding-left: 14px;
			background: #b71e32;
			display: flex;
			justify-content: space-around;
			cursor: pointer;
			align-items: center;
			justify-content: center;

			img {
				width: 36.5px;
			}
			&-txt {
				@include font-line(15);
				font-family: cross-platform-yu-gothic;
				font-weight: 500;
				color: #fff;
				padding-left: 10px;
				line-height: 18.5px;
				letter-spacing: 0.14em;
				@include is-max(375px) {
					letter-spacing: 0;
					@include font-line(13);
				}
			}
		}
	}
}
